<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.8 Treasury Operations Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.8 Treasury Operations Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-outcome_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_outcome_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-01603b4c094e470dae2477d3a6df1836.png" alt="3.8.8 Treasury Operations Functions View" usemap="#id-01603b4c094e470dae2477d3a6df1836map"/>
			   <map name="id-01603b4c094e470dae2477d3a6df1836map">
				          <area shape="rect" coords="10,634,195,665" href="../objects/id-fb18a401399c450eb0ae2cf4745fcbcd.html" target="element" >
				  		<area shape="rect" coords="34,430,154,485" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  		<area shape="rect" coords="298,370,418,425" href="../elements/id-31126f3221b34235a699dccf7a195190.html"  target="element">
				  				<area shape="rect" coords="526,109,646,182" href="../elements/id-4f7363976946422e93b69fa0ab408b74.html"  target="element">
				  				<area shape="rect" coords="34,109,154,182" href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html"  target="element">
				  				<area shape="rect" coords="262,109,382,182" href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html"  target="element">

				  		<area shape="rect" coords="22,82,659,203" href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html"  target="element">
				  		<area shape="rect" coords="393,274,513,329" href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html"  target="element">
				  		<area shape="rect" coords="94,274,214,329" href="../elements/id-bc1f20a762b54332abefad6fa354b824.html"  target="element">
				  		<area shape="rect" coords="226,274,346,329" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="141,16,743,59" href="../objects/id-2bdd136d38d54c0896b758a799d3331b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-2bdd136d38d54c0896b758a799d3331b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2bdd136d38d54c0896b758a799d3331b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-outcome_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
											    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html" target="element"> 3.8.8 Treasury Operations Functions </a> </td>
											    <td> <a href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element"> 3.8.8.3 Investment reporting </a> </td>
													    <td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
													    <td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f7363976946422e93b69fa0ab408b74.html" target="element"> 3.8.8.2 Investment management </a> </td>
													    <td> <a href="../elements/id-4f7363976946422e93b69fa0ab408b74.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element"> RBC Portal </a> </td>
											    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fb18a401399c450eb0ae2cf4745fcbcd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb18a401399c450eb0ae2cf4745fcbcd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-8bda7a349b1047a891b6a7f599806a29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bda7a349b1047a891b6a7f599806a29.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element"> 3.8.8.3 Investment reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-129d7ff0905241da9c92a03d762569aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-129d7ff0905241da9c92a03d762569aa.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-50870efda550466ebb44588a225d2d97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50870efda550466ebb44588a225d2d97.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
																		<td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c5bcaa8628c4831ace69ffc0994e04f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c5bcaa8628c4831ace69ffc0994e04f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
																		<td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element"> 3.8.8.3 Investment reporting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6d41db485e814efcb456511796ec8bd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d41db485e814efcb456511796ec8bd3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html" target="element"> 3.8.8 Treasury Operations Functions </a> </td>
																		<td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element"> 3.8.8.3 Investment reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-969b6b15ce7f4970960329212d00980c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-969b6b15ce7f4970960329212d00980c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html" target="element"> 3.8.8 Treasury Operations Functions </a> </td>
																		<td> <a href="../elements/id-4f7363976946422e93b69fa0ab408b74.html" target="element"> 3.8.8.2 Investment management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d0a9125acb74edd92c8d3fea8e3ab21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d0a9125acb74edd92c8d3fea8e3ab21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e73ef58950b49009447c1b1f8901ba4.html" target="element"> 3.8.8 Treasury Operations Functions </a> </td>
																		<td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c2334e0681034e9e8394f8bec468e6c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2334e0681034e9e8394f8bec468e6c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element"> RBC Portal </a> </td>
																		<td> <a href="../elements/id-f39d4c9cf5be4df5bf8e41c60aac2f86.html" target="element"> 3.8.8.3 Investment reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4e8115e592d47e09344906c92a51f1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4e8115e592d47e09344906c92a51f1e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element"> RBC Portal </a> </td>
																		<td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-53d1bffadf3d48a688902ee8c3c8f97b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53d1bffadf3d48a688902ee8c3c8f97b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-9bed6dfa69ea4b1ab0d2089c3a5000aa.html" target="element"> 3.8.8.1 Cash management and forecasting </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>