<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Manager, Compliance Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Manager, Compliance Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-089da62b8a8a4ff3a79fb958f05b166e.png" alt="Manager, Compliance Services" usemap="#id-089da62b8a8a4ff3a79fb958f05b166emap"/>
			   <map name="id-089da62b8a8a4ff3a79fb958f05b166emap">
				  		<area shape="rect" coords="10,10,52,37" href="../views/id-171648bfa3824031b35788ffaf6718fa.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="204,262,324,317" href="../elements/id-6fd7d2d8f1ae430c8b8f80fe21a766fd.html"  target="element">
				  		<area shape="rect" coords="346,262,466,317" href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html"  target="element">
				  		<area shape="rect" coords="286,100,406,155" href="../elements/id-000e0526706148f9867dbe6981bed970.html"  target="element">
				  		<area shape="rect" coords="147,190,267,245" href="../elements/id-4cac674210df46d397467ce653a9659e.html"  target="element">
				  		<area shape="rect" coords="10,190,130,245" href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html"  target="element">
				  		<area shape="rect" coords="478,100,598,155" href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html"  target="element">
				  		<area shape="rect" coords="82,100,202,155" href="../elements/id-000e0526706148f9867dbe6981bed970.html"  target="element">
				  		<area shape="rect" coords="262,10,382,65" href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html" target="element"> Manager, Compliance Services </a> </td>
											    <td> <a href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
											    <td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cac674210df46d397467ce653a9659e.html" target="element"> Compliance Specialist </a> </td>
											    <td> <a href="../elements/id-4cac674210df46d397467ce653a9659e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
											    <td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
											    <td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6fd7d2d8f1ae430c8b8f80fe21a766fd.html" target="element"> Compliance Officer I </a> </td>
											    <td> <a href="../elements/id-6fd7d2d8f1ae430c8b8f80fe21a766fd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-171648bfa3824031b35788ffaf6718fa.html" target="view"> Director, Compliance Services </a> </td>
											    <td> <a href="../views/id-171648bfa3824031b35788ffaf6718fa.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c12aa79175c24fbd86189240fe24b020.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c12aa79175c24fbd86189240fe24b020.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html" target="element"> Manager, Compliance Services </a> </td>
																		<td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3108067a27334e208e129e295a7c4f68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3108067a27334e208e129e295a7c4f68.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html" target="element"> Manager, Compliance Services </a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3108067a27334e208e129e295a7c4f68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3108067a27334e208e129e295a7c4f68.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fdd3ec58132f4d6393f9e2ac3275d247.html" target="element"> Manager, Compliance Services </a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e508a5db78fa448793cafdcede64c420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e508a5db78fa448793cafdcede64c420.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																		<td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2b56e4e33344ca8b5626d4dfa726bed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2b56e4e33344ca8b5626d4dfa726bed.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																		<td> <a href="../elements/id-4cac674210df46d397467ce653a9659e.html" target="element"> Compliance Specialist </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e508a5db78fa448793cafdcede64c420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e508a5db78fa448793cafdcede64c420.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																		<td> <a href="../elements/id-b5d0fe2351634a99a34e2d7a8345bdb2.html" target="element"> Compliance Officer II </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bd6e1b2238d4232a65bc42013f42530.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bd6e1b2238d4232a65bc42013f42530.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-000e0526706148f9867dbe6981bed970.html" target="element"> Compliance Team Leader </a> </td>
																		<td> <a href="../elements/id-6fd7d2d8f1ae430c8b8f80fe21a766fd.html" target="element"> Compliance Officer I </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>