<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>WCB Business Capabilities to Applications on a Page</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>WCB Business Capabilities to Applications on a Page</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1d7347488a2041a0b2357eaf0640b1a9.png" alt="WCB Business Capabilities to Applications on a Page" usemap="#id-1d7347488a2041a0b2357eaf0640b1a9map"/>
			   <map name="id-1d7347488a2041a0b2357eaf0640b1a9map">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-02adc4d680194cc9bead59d1c7334459.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="1448,1034,1593,1154" href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html"  target="element">
				  				<area shape="rect" coords="1294,925,1436,1153" href="../elements/id-7880fbea546b4d069987a7e397f347ff.html"  target="element">
				  				<area shape="rect" coords="1149,971,1290,1151" href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html"  target="element">
				  				<area shape="rect" coords="1445,694,1724,1028" href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html"  target="element">
				  				<area shape="rect" coords="1294,694,1436,920" href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html"  target="element">
				  				<area shape="rect" coords="1150,694,1289,965" href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html"  target="element">
				  				<area shape="rect" coords="619,1049,753,1151" href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html"  target="element">
				  						<area shape="rect" coords="480,1073,600,1128" href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html"  target="element">

				  				<area shape="rect" coords="468,1049,613,1158" href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html"  target="element">
				  				<area shape="rect" coords="467,694,756,1043" href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html"  target="element">
				  				<area shape="rect" coords="318,1049,463,1158" href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html"  target="element">
				  				<area shape="rect" coords="319,694,463,1043" href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html"  target="element">
				  				<area shape="rect" coords="172,1035,317,1144" href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html"  target="element">
				  				<area shape="rect" coords="170,694,315,1031" href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html"  target="element">
				  				<area shape="rect" coords="25,964,170,1061" href="../elements/id-94a82538795a436086092b09bd753083.html"  target="element">
				  				<area shape="rect" coords="22,694,167,959" href="../elements/id-6771464112a04d448063a94a1351897a.html"  target="element">
				  						<area shape="rect" coords="1019,850,1139,905" href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html"  target="element">
				  						<area shape="rect" coords="897,850,1017,905" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  						<area shape="rect" coords="897,908,1017,963" href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html"  target="element">
				  						<area shape="rect" coords="770,701,793,723" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				  				    <!-- Other diagram objects -->
				  						<area shape="rect" coords="1019,1090,1139,1145" href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html"  target="element">
				  						<area shape="rect" coords="894,1090,1014,1145" href="../elements/id-31126f3221b34235a699dccf7a195190.html"  target="element">
				  						<area shape="rect" coords="771,1090,891,1145" href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html"  target="element">
				  						<area shape="rect" coords="1019,1030,1139,1085" href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html"  target="element">
				  						<area shape="rect" coords="894,1030,1014,1085" href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html"  target="element">
				  						<area shape="rect" coords="772,1030,892,1085" href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html"  target="element">
				  						<area shape="rect" coords="1019,970,1139,1025" href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html"  target="element">
				  						<area shape="rect" coords="894,970,1014,1025" href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html"  target="element">
				  						<area shape="rect" coords="772,970,892,1025" href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html"  target="element">
				  						<area shape="rect" coords="1019,908,1139,963" href="../elements/id-4008da7645c249378b081f1975d6e665.html"  target="element">
				  						<area shape="rect" coords="772,908,892,963" href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html"  target="element">
				  						<area shape="rect" coords="771,850,891,905" href="../elements/id-36b646125358437f957ea916e425fc03.html"  target="element">
				  						<area shape="rect" coords="1019,790,1139,845" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  						<area shape="rect" coords="894,790,1014,845" href="../elements/id-532d13dd10214e2ba424f307f72b403a.html"  target="element">
				  						<area shape="rect" coords="771,790,891,845" href="../elements/id-4959424d5d1f450a86478e33282d531f.html"  target="element">
				  						<area shape="rect" coords="1019,730,1139,785" href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html"  target="element">
				  						<area shape="rect" coords="894,731,1014,786" href="../elements/id-bc1f20a762b54332abefad6fa354b824.html"  target="element">
				  						<area shape="rect" coords="767,730,887,785" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">

				  				<area shape="rect" coords="760,694,1149,1151" href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html"  target="element">

				          <area shape="rect" coords="10,670,1739,1211" href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element" >
				          <area shape="rect" coords="202,16,923,59" href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element" >
				  						<area shape="rect" coords="551,322,574,344" href="../views/id-5f3ce790f284420e88f6003b3401ad42.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="538,314,935,539" href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html"  target="element">
				  						<area shape="rect" coords="964,324,987,346" href="../views/id-2eec05c15a07406fb184b626dc3caa70.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="946,314,1487,651" href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html"  target="element">
				  						<area shape="rect" coords="36,320,59,342" href="../views/id-3bc5917155bb48938b2490de6bda6a34.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="22,310,527,587" href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html"  target="element">

				          <area shape="rect" coords="10,286,1511,658" href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element" >
				  						<area shape="rect" coords="1218,112,1338,167" href="../elements/id-7a6355e4424d46ea94a0b0a618058ab9.html"  target="element">
				  						<area shape="rect" coords="1091,112,1211,167" href="../elements/id-378b0ab83aab45938fc45b94340b06c1.html"  target="element">
				  						<area shape="rect" coords="966,112,1086,167" href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html"  target="element">

				  				<area shape="rect" coords="954,88,1349,179" href="../elements/id-ca00dfc8749543baa05b647c161d0245.html"  target="element">
				  						<area shape="rect" coords="808,112,928,167" href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html"  target="element">
				  						<area shape="rect" coords="687,174,807,229" href="../elements/id-8fb53de7c69d41cd99c1e14d03c017c7.html"  target="element">
				  						<area shape="rect" coords="563,172,683,227" href="../elements/id-c38960511560464aa22933a18041db6a.html"  target="element">
				  						<area shape="rect" coords="685,112,805,167" href="../elements/id-267ea42cc4f341d5903051d61bf63fee.html"  target="element">
				  						<area shape="rect" coords="562,112,682,167" href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html"  target="element">

				  				<area shape="rect" coords="550,88,947,239" href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html"  target="element">
				  						<area shape="rect" coords="406,112,526,167" href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html"  target="element">
				  						<area shape="rect" coords="280,173,400,228" href="../elements/id-05594830c0d7470dbdff94a98f068645.html"  target="element">
				  						<area shape="rect" coords="156,173,276,228" href="../elements/id-80eb26701bbb422590174adb87534180.html"  target="element">
				  						<area shape="rect" coords="34,173,154,228" href="../elements/id-c4208d0283514d0f8e91555d9e60d4ed.html"  target="element">
				  						<area shape="rect" coords="280,112,400,167" href="../elements/id-537a3d11f4464c35bded89054a3bb014.html"  target="element">
				  						<area shape="rect" coords="156,112,276,167" href="../elements/id-84b06c5c72054ce39129dab6290f5862.html"  target="element">
				  						<area shape="rect" coords="34,112,154,167" href="../elements/id-2de0a5365c9c4a8091b7201b556d1006.html"  target="element">

				  				<area shape="rect" coords="22,88,539,251" href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html"  target="element">

				          <area shape="rect" coords="10,70,1367,275" href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element"> 1. Distribution </a> </td>
									           <td> <a href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html" target="element"> 1.1 Channels </a> </td>
													    <td> <a href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2de0a5365c9c4a8091b7201b556d1006.html" target="element"> Mailchimp </a> </td>
															    <td> <a href="../elements/id-2de0a5365c9c4a8091b7201b556d1006.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-84b06c5c72054ce39129dab6290f5862.html" target="element"> Survey Monkey </a> </td>
															    <td> <a href="../elements/id-84b06c5c72054ce39129dab6290f5862.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-537a3d11f4464c35bded89054a3bb014.html" target="element"> SharePoint </a> </td>
															    <td> <a href="../elements/id-537a3d11f4464c35bded89054a3bb014.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c4208d0283514d0f8e91555d9e60d4ed.html" target="element"> Live Health Online </a> </td>
															    <td> <a href="../elements/id-c4208d0283514d0f8e91555d9e60d4ed.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-80eb26701bbb422590174adb87534180.html" target="element"> Skills Pass </a> </td>
															    <td> <a href="../elements/id-80eb26701bbb422590174adb87534180.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-05594830c0d7470dbdff94a98f068645.html" target="element"> Cisco Unified Communications Manager </a> </td>
															    <td> <a href="../elements/id-05594830c0d7470dbdff94a98f068645.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element"> MS Office Suite </a> </td>
															    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html" target="element"> 1.2 Channel Management </a> </td>
													    <td> <a href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html" target="element"> Hootsuite </a> </td>
															    <td> <a href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-267ea42cc4f341d5903051d61bf63fee.html" target="element"> Google Analytics </a> </td>
															    <td> <a href="../elements/id-267ea42cc4f341d5903051d61bf63fee.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c38960511560464aa22933a18041db6a.html" target="element"> shutterstock.com </a> </td>
															    <td> <a href="../elements/id-c38960511560464aa22933a18041db6a.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8fb53de7c69d41cd99c1e14d03c017c7.html" target="element"> Adobe Photoshop </a> </td>
															    <td> <a href="../elements/id-8fb53de7c69d41cd99c1e14d03c017c7.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element"> MS Office Suite </a> </td>
															    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ca00dfc8749543baa05b647c161d0245.html" target="element"> 1.3 Communications </a> </td>
													    <td> <a href="../elements/id-ca00dfc8749543baa05b647c161d0245.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html" target="element"> Hootsuite </a> </td>
															    <td> <a href="../elements/id-35a76b33167c4e2c8079a5711da87dbc.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-378b0ab83aab45938fc45b94340b06c1.html" target="element"> Creative Cloud </a> </td>
															    <td> <a href="../elements/id-378b0ab83aab45938fc45b94340b06c1.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a6355e4424d46ea94a0b0a618058ab9.html" target="element"> Sherpa McKim </a> </td>
															    <td> <a href="../elements/id-7a6355e4424d46ea94a0b0a618058ab9.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element"> 2. Core Services </a> </td>
									           <td> <a href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
													    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view"> Employer Services Capability Realization View </a> </td>
															    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html" target="element"> 2.3 Claims Management </a> </td>
													    <td> <a href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-2eec05c15a07406fb184b626dc3caa70.html" target="view"> Claims Management Capability Realization View </a> </td>
															    <td> <a href="../views/id-2eec05c15a07406fb184b626dc3caa70.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html" target="element"> 2.2 Prevention &amp; Return to Work Programs </a> </td>
													    <td> <a href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-5f3ce790f284420e88f6003b3401ad42.html" target="view"> Prevention & Return to Work Programs Capability Realization View </a> </td>
															    <td> <a href="../views/id-5f3ce790f284420e88f6003b3401ad42.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
									        <tr>
									           <td> <a href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element"> 3. Enterprise Services </a> </td>
									           <td> <a href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html" target="element"> 3.8 Finance &amp; Accounting </a> </td>
													    <td> <a href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
															    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
															    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
															    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4959424d5d1f450a86478e33282d531f.html" target="element"> Crystal Reports </a> </td>
															    <td> <a href="../elements/id-4959424d5d1f450a86478e33282d531f.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element"> Document Express (Software for writing cheques) </a> </td>
															    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
															    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element"> Vista </a> </td>
															    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element"> Aon </a> </td>
															    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element"> Commercial Credit Adjusters </a> </td>
															    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element"> Courts of Kings Bench </a> </td>
															    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element"> CRA Portal </a> </td>
															    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element"> Equifax </a> </td>
															    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html" target="element"> Knotia </a> </td>
															    <td> <a href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element"> Land Titles </a> </td>
															    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element"> Moneris </a> </td>
															    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element"> RBC Portal </a> </td>
															    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element"> TransUnion </a> </td>
															    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
															    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

															<tr>
															    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element"> Canada Life </a> </td>
															    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
															    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
															    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6771464112a04d448063a94a1351897a.html" target="element"> 3.1 Strategy </a> </td>
													    <td> <a href="../elements/id-6771464112a04d448063a94a1351897a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94a82538795a436086092b09bd753083.html" target="element"> 3.2 Innovation </a> </td>
													    <td> <a href="../elements/id-94a82538795a436086092b09bd753083.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html" target="element"> 3.3 PMO </a> </td>
													    <td> <a href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html" target="element"> 3.4 Change Management </a> </td>
													    <td> <a href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html" target="element"> 3.5 Data, Analytics &amp; Reporting </a> </td>
													    <td> <a href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html" target="element"> 3.6 Operations Excellence </a> </td>
													    <td> <a href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html" target="element"> 3.7 Information Technology </a> </td>
													    <td> <a href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html" target="element"> 3.12 Legal </a> </td>
													    <td> <a href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html" target="element"> 3.13 Procurement </a> </td>
													    <td> <a href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html" target="element"> 3.9 Human Resources  </a> </td>
													    <td> <a href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html" target="element"> 3.10 Policy Management </a> </td>
													    <td> <a href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html" target="element"> 3.11 Risk mgmt. &amp; Compliance </a> </td>
													    <td> <a href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html" target="element"> 3.15 Corporate Services  </a> </td>
													    <td> <a href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7880fbea546b4d069987a7e397f347ff.html" target="element"> 3.16 Investment Management </a> </td>
													    <td> <a href="../elements/id-7880fbea546b4d069987a7e397f347ff.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html" target="element"> 3.17 Workforce Training </a> </td>
													    <td> <a href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view"> WCB Business on a Page </a> </td>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>