<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VP, Human Resources & Communications</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VP, Human Resources &amp; Communications</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-166c9c6ae29b4e63b1ba969b4980b19b.png" alt="VP, Human Resources & Communications" usemap="#id-166c9c6ae29b4e63b1ba969b4980b19bmap"/>
			   <map name="id-166c9c6ae29b4e63b1ba969b4980b19bmap">
				  		<area shape="rect" coords="860,118,980,173" href="../elements/id-427e1b52206d4261bbcd711316f913ba.html"  target="element">
				  		<area shape="rect" coords="860,52,1011,107" href="../elements/id-108266ed73ce498385a81b826204d38a.html"  target="element">
				  		<area shape="rect" coords="609,382,729,437" href="../elements/id-ba11aad7d8344332a15b629b1730dc9a.html"  target="element">
				  		<area shape="rect" coords="477,382,597,437" href="../elements/id-d14dc74d4e084acba0e71294101136d6.html"  target="element">
				  		<area shape="rect" coords="345,382,465,437" href="../elements/id-034a436f672f442b94135181284ab4c9.html"  target="element">
				  		<area shape="rect" coords="81,382,201,437" href="../elements/id-876edeede1484c83b6a3fc67a65699b6.html"  target="element">
				  		<area shape="rect" coords="213,382,333,437" href="../elements/id-4e63644ba1be4259b6a5b8596bbaca41.html"  target="element">
				  		<area shape="rect" coords="741,382,861,437" href="../elements/id-d374650fdafc4551b9bf4ae448f1c505.html"  target="element">
				  		<area shape="rect" coords="741,310,861,365" href="../elements/id-817b5c5941c64c62a2ac35b80a03958c.html"  target="element">
				  		<area shape="rect" coords="201,310,321,365" href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html"  target="element">
				  		<area shape="rect" coords="477,310,597,365" href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html"  target="element">
				  		<area shape="rect" coords="345,202,465,257" href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html"  target="element">
				  		<area shape="rect" coords="609,118,729,173" href="../elements/id-f499afc7ca9b480ab4ca2645da9e2756.html"  target="element">
				  		<area shape="rect" coords="393,118,513,173" href="../elements/id-52924e45bd0f41aa929941a20e60c650.html"  target="element">
				  		<area shape="rect" coords="10,274,155,329" href="../elements/id-11cffa97417544a585eb432c2eeadae4.html"  target="element">
				  		<area shape="rect" coords="10,202,155,257" href="../elements/id-84eb30141f2e478a9f1656d4644e43be.html"  target="element">
				  		<area shape="rect" coords="166,202,286,257" href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html"  target="element">
				  		<area shape="rect" coords="94,118,250,173" href="../elements/id-d7f9801a64a545b483483ca107e47056.html"  target="element">
				  		<area shape="rect" coords="380,22,525,77" href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html"  target="element">
				  		<area shape="rect" coords="21,10,67,39" href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view"> Org Chart </a> </td>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
											    <td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7f9801a64a545b483483ca107e47056.html" target="element"> Director, Communications &amp; Public Relations </a> </td>
											    <td> <a href="../elements/id-d7f9801a64a545b483483ca107e47056.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element"> Administrative Assistant </a> </td>
											    <td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84eb30141f2e478a9f1656d4644e43be.html" target="element"> Manager, Communications </a> </td>
											    <td> <a href="../elements/id-84eb30141f2e478a9f1656d4644e43be.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11cffa97417544a585eb432c2eeadae4.html" target="element"> Communications Officer </a> </td>
											    <td> <a href="../elements/id-11cffa97417544a585eb432c2eeadae4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
											    <td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f499afc7ca9b480ab4ca2645da9e2756.html" target="element"> CUPE President </a> </td>
											    <td> <a href="../elements/id-f499afc7ca9b480ab4ca2645da9e2756.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element"> Administrative Assistant </a> </td>
											    <td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element"> Manager, Human Resources </a> </td>
											    <td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html" target="element"> Manager, Compensation &amp; Benefits </a> </td>
											    <td> <a href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-817b5c5941c64c62a2ac35b80a03958c.html" target="element"> Manager, Organizational Development </a> </td>
											    <td> <a href="../elements/id-817b5c5941c64c62a2ac35b80a03958c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d374650fdafc4551b9bf4ae448f1c505.html" target="element"> HR Consultant, Learning Initiatives </a> </td>
											    <td> <a href="../elements/id-d374650fdafc4551b9bf4ae448f1c505.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e63644ba1be4259b6a5b8596bbaca41.html" target="element"> HR Consultant, Wellness &amp; Disability Management </a> </td>
											    <td> <a href="../elements/id-4e63644ba1be4259b6a5b8596bbaca41.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-876edeede1484c83b6a3fc67a65699b6.html" target="element"> HR Consultant, Compensation &amp; Benefits </a> </td>
											    <td> <a href="../elements/id-876edeede1484c83b6a3fc67a65699b6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-034a436f672f442b94135181284ab4c9.html" target="element"> Human Resource Advisor </a> </td>
											    <td> <a href="../elements/id-034a436f672f442b94135181284ab4c9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d14dc74d4e084acba0e71294101136d6.html" target="element"> Human Resoucre Generalist </a> </td>
											    <td> <a href="../elements/id-d14dc74d4e084acba0e71294101136d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba11aad7d8344332a15b629b1730dc9a.html" target="element"> Human Resource Co-op Student </a> </td>
											    <td> <a href="../elements/id-ba11aad7d8344332a15b629b1730dc9a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element"> Communications Department </a> </td>
											    <td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element"> Human Resources Department </a> </td>
											    <td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-d9cdf8106e1a4386b8ebbf21573d09a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9cdf8106e1a4386b8ebbf21573d09a3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																		<td> <a href="../elements/id-d7f9801a64a545b483483ca107e47056.html" target="element"> Director, Communications &amp; Public Relations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-758a7f89ce144a73b6b78978ca48a08e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-758a7f89ce144a73b6b78978ca48a08e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f91feaa0e86747d59345ce7661a14f40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f91feaa0e86747d59345ce7661a14f40.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7f9801a64a545b483483ca107e47056.html" target="element"> Director, Communications &amp; Public Relations </a> </td>
																		<td> <a href="../elements/id-84eb30141f2e478a9f1656d4644e43be.html" target="element"> Manager, Communications </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-427b3fb821dc4f339ef82695cb68906d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-427b3fb821dc4f339ef82695cb68906d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7f9801a64a545b483483ca107e47056.html" target="element"> Director, Communications &amp; Public Relations </a> </td>
																		<td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element"> Administrative Assistant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8b6b3c879711480e95d32f898768bb0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b6b3c879711480e95d32f898768bb0c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84eb30141f2e478a9f1656d4644e43be.html" target="element"> Manager, Communications </a> </td>
																		<td> <a href="../elements/id-11cffa97417544a585eb432c2eeadae4.html" target="element"> Communications Officer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-05ff50f88ba7417d8d1429300472000a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05ff50f88ba7417d8d1429300472000a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																		<td> <a href="../elements/id-f499afc7ca9b480ab4ca2645da9e2756.html" target="element"> CUPE President </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00b36f327fa64aae88813578eb3f8125.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00b36f327fa64aae88813578eb3f8125.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																		<td> <a href="../elements/id-a8bd0c478a3e4cca8231785d0210515b.html" target="element"> Administrative Assistant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d5801525db24b7b8b611e162556a435.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d5801525db24b7b8b611e162556a435.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																		<td> <a href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html" target="element"> Manager, Compensation &amp; Benefits </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9779504b70dd4eb8bf73b2658e72dbcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9779504b70dd4eb8bf73b2658e72dbcb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																		<td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element"> Manager, Human Resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac6838e3f4e74f1dacac2602c267751f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac6838e3f4e74f1dacac2602c267751f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-52924e45bd0f41aa929941a20e60c650.html" target="element"> Director, Human Resources </a> </td>
																		<td> <a href="../elements/id-817b5c5941c64c62a2ac35b80a03958c.html" target="element"> Manager, Organizational Development </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5e8ea0cc2b6f417294a6c0502a9c90eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e8ea0cc2b6f417294a6c0502a9c90eb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element"> Manager, Human Resources </a> </td>
																		<td> <a href="../elements/id-034a436f672f442b94135181284ab4c9.html" target="element"> Human Resource Advisor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7d9bf7a9fd44a9cbb4e5f611061af4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7d9bf7a9fd44a9cbb4e5f611061af4e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element"> Manager, Human Resources </a> </td>
																		<td> <a href="../elements/id-d14dc74d4e084acba0e71294101136d6.html" target="element"> Human Resoucre Generalist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-748263b83bea47dbbb97dc15c3b0314a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-748263b83bea47dbbb97dc15c3b0314a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-faf144a2080c45f88c70417b83cbdf4d.html" target="element"> Manager, Human Resources </a> </td>
																		<td> <a href="../elements/id-ba11aad7d8344332a15b629b1730dc9a.html" target="element"> Human Resource Co-op Student </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7492aafd165641988b4c1d1bd4c51e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7492aafd165641988b4c1d1bd4c51e70.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html" target="element"> Manager, Compensation &amp; Benefits </a> </td>
																		<td> <a href="../elements/id-876edeede1484c83b6a3fc67a65699b6.html" target="element"> HR Consultant, Compensation &amp; Benefits </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5974b76ed1414a8db2d77de8f0f534a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5974b76ed1414a8db2d77de8f0f534a3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9eb66d89ee594aed9207566d8d82fac6.html" target="element"> Manager, Compensation &amp; Benefits </a> </td>
																		<td> <a href="../elements/id-4e63644ba1be4259b6a5b8596bbaca41.html" target="element"> HR Consultant, Wellness &amp; Disability Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a30c373aeca4deba120005e67e5f7fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a30c373aeca4deba120005e67e5f7fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-817b5c5941c64c62a2ac35b80a03958c.html" target="element"> Manager, Organizational Development </a> </td>
																		<td> <a href="../elements/id-d374650fdafc4551b9bf4ae448f1c505.html" target="element"> HR Consultant, Learning Initiatives </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-880a66894d7643889e2cd3506d2f482d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-880a66894d7643889e2cd3506d2f482d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element"> Communications Department </a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed2a200237c8487f808b5a1a6e9b4cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed2a200237c8487f808b5a1a6e9b4cbf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element"> Human Resources Department </a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>