<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application Domain</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application Domain</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1d88313836b04555ab1ef37492bb7ac9.png" alt="Application Domain" usemap="#id-1d88313836b04555ab1ef37492bb7ac9map"/>
			   <map name="id-1d88313836b04555ab1ef37492bb7ac9map">
				  		<area shape="rect" coords="10,35,66,65" href="../views/id-6d343ce5bd6c4ecfb07df3bd8e9f53f9.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="232,494,352,549" href="../elements/id-f913fb7a4ad049658198f3f42cb8d24e.html"  target="element">
				  		<area shape="rect" coords="82,494,202,549" href="../elements/id-65de56867b2640739023195afafd95ed.html"  target="element">
				  		<area shape="rect" coords="382,394,502,449" href="../elements/id-7ef0f5e0a7fa4f3a802185e6226cf3ae.html"  target="element">
				  		<area shape="rect" coords="232,394,352,449" href="../elements/id-9ff5f277532f40f4bdf2dcbb51b19f9e.html"  target="element">
				  		<area shape="rect" coords="82,394,202,449" href="../elements/id-a4cee6fb304a40ebb106a28dc678ea35.html"  target="element">
				  		<area shape="rect" coords="382,294,502,349" href="../elements/id-67542c8260fb4a01a6065bc7f7e293b3.html"  target="element">
				  		<area shape="rect" coords="232,294,352,349" href="../elements/id-b9e3e99a70224a8db3f1a2e269eef35f.html"  target="element">
				  		<area shape="rect" coords="82,294,202,349" href="../elements/id-27386c8d096942509245d507154fc53f.html"  target="element">
				  		<area shape="rect" coords="382,194,502,249" href="../elements/id-ae99c434ceb64907a9e386f8be8371fc.html"  target="element">
				  		<area shape="rect" coords="232,194,352,249" href="../elements/id-c170905ae78b476786381d6894da2861.html"  target="element">
				  		<area shape="rect" coords="82,194,202,249" href="../elements/id-93f0d4a1e8824ac4897113d18f336255.html"  target="element">
				  		<area shape="rect" coords="382,94,502,149" href="../elements/id-6cbc6a43962f4e99b539ce022bc1eb3f.html"  target="element">
				  		<area shape="rect" coords="232,94,352,149" href="../elements/id-c01ba71552ab4a019fb961c745482eb8.html"  target="element">
				  		<area shape="rect" coords="82,94,202,149" href="../elements/id-e3c5c9df30264a93bd8cdd8a73c7d534.html"  target="element">
				          <area shape="rect" coords="82,10,502,83" href="../objects/id-0230960b9b314341b78a8cbe59288340.html" target="element" >
				          <area shape="rect" coords="430,514,641,561" href="../objects/id-27b3694074af4cb78fabdcf8ba31b479.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-27b3694074af4cb78fabdcf8ba31b479.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-27b3694074af4cb78fabdcf8ba31b479.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0230960b9b314341b78a8cbe59288340.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0230960b9b314341b78a8cbe59288340.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e3c5c9df30264a93bd8cdd8a73c7d534.html" target="element"> Adapt and Integrate Technology </a> </td>
											    <td> <a href="../elements/id-e3c5c9df30264a93bd8cdd8a73c7d534.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c01ba71552ab4a019fb961c745482eb8.html" target="element"> Architect for Security and Privacy </a> </td>
											    <td> <a href="../elements/id-c01ba71552ab4a019fb961c745482eb8.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cbc6a43962f4e99b539ce022bc1eb3f.html" target="element"> Control Technical Diversity </a> </td>
											    <td> <a href="../elements/id-6cbc6a43962f4e99b539ce022bc1eb3f.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93f0d4a1e8824ac4897113d18f336255.html" target="element"> Customer Focused </a> </td>
											    <td> <a href="../elements/id-93f0d4a1e8824ac4897113d18f336255.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c170905ae78b476786381d6894da2861.html" target="element"> Data Integration </a> </td>
											    <td> <a href="../elements/id-c170905ae78b476786381d6894da2861.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae99c434ceb64907a9e386f8be8371fc.html" target="element"> Data Management </a> </td>
											    <td> <a href="../elements/id-ae99c434ceb64907a9e386f8be8371fc.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27386c8d096942509245d507154fc53f.html" target="element"> Data Security </a> </td>
											    <td> <a href="../elements/id-27386c8d096942509245d507154fc53f.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9e3e99a70224a8db3f1a2e269eef35f.html" target="element"> Deployment Model </a> </td>
											    <td> <a href="../elements/id-b9e3e99a70224a8db3f1a2e269eef35f.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67542c8260fb4a01a6065bc7f7e293b3.html" target="element"> Enterprise First </a> </td>
											    <td> <a href="../elements/id-67542c8260fb4a01a6065bc7f7e293b3.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4cee6fb304a40ebb106a28dc678ea35.html" target="element"> Make Good Use of Data </a> </td>
											    <td> <a href="../elements/id-a4cee6fb304a40ebb106a28dc678ea35.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ff5f277532f40f4bdf2dcbb51b19f9e.html" target="element"> Make Use of Open Standards </a> </td>
											    <td> <a href="../elements/id-9ff5f277532f40f4bdf2dcbb51b19f9e.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ef0f5e0a7fa4f3a802185e6226cf3ae.html" target="element"> Reuse &gt; Buy &gt; Build </a> </td>
											    <td> <a href="../elements/id-7ef0f5e0a7fa4f3a802185e6226cf3ae.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65de56867b2640739023195afafd95ed.html" target="element"> Target Simplicity and Fit </a> </td>
											    <td> <a href="../elements/id-65de56867b2640739023195afafd95ed.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f913fb7a4ad049658198f3f42cb8d24e.html" target="element"> Technology Independence </a> </td>
											    <td> <a href="../elements/id-f913fb7a4ad049658198f3f42cb8d24e.html" target="element" class="i18n-elementtype-Principle">
											    	(IT Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-6d343ce5bd6c4ecfb07df3bd8e9f53f9.html" target="view"> Principles </a> </td>
											    <td> <a href="../views/id-6d343ce5bd6c4ecfb07df3bd8e9f53f9.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>