<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>WCB Business Capabilities to Applications on a Page</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>WCB Business Capabilities to Applications on a Page</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1d7347488a2041a0b2357eaf0640b1a9.png" alt="WCB Business Capabilities to Applications on a Page" usemap="#id-1d7347488a2041a0b2357eaf0640b1a9map"/>
			   <map name="id-1d7347488a2041a0b2357eaf0640b1a9map">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-02adc4d680194cc9bead59d1c7334459.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="1448,962,1593,1082" href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html"  target="element">
				  				<area shape="rect" coords="1294,853,1436,1081" href="../elements/id-7880fbea546b4d069987a7e397f347ff.html"  target="element">
				  				<area shape="rect" coords="1149,899,1290,1079" href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html"  target="element">
				  				<area shape="rect" coords="1445,622,1724,956" href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html"  target="element">
				  				<area shape="rect" coords="1294,622,1436,848" href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html"  target="element">
				  				<area shape="rect" coords="1150,622,1289,893" href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html"  target="element">
				  				<area shape="rect" coords="619,977,753,1079" href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html"  target="element">
				  						<area shape="rect" coords="480,1001,600,1056" href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html"  target="element">

				  				<area shape="rect" coords="468,977,613,1086" href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html"  target="element">
				  				<area shape="rect" coords="467,622,756,971" href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html"  target="element">
				  				<area shape="rect" coords="318,977,463,1086" href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html"  target="element">
				  				<area shape="rect" coords="319,622,463,971" href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html"  target="element">
				  				<area shape="rect" coords="172,963,317,1072" href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html"  target="element">
				  				<area shape="rect" coords="170,622,315,959" href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html"  target="element">
				  				<area shape="rect" coords="25,892,170,989" href="../elements/id-94a82538795a436086092b09bd753083.html"  target="element">
				  				<area shape="rect" coords="22,622,167,887" href="../elements/id-6771464112a04d448063a94a1351897a.html"  target="element">
				  						<area shape="rect" coords="1019,778,1139,833" href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html"  target="element">
				  						<area shape="rect" coords="897,778,1017,833" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  						<area shape="rect" coords="897,836,1017,891" href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html"  target="element">
				  						<area shape="rect" coords="770,629,793,651" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				  				    <!-- Other diagram objects -->
				  						<area shape="rect" coords="1019,1018,1139,1073" href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html"  target="element">
				  						<area shape="rect" coords="894,1018,1014,1073" href="../elements/id-31126f3221b34235a699dccf7a195190.html"  target="element">
				  						<area shape="rect" coords="771,1018,891,1073" href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html"  target="element">
				  						<area shape="rect" coords="1019,958,1139,1013" href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html"  target="element">
				  						<area shape="rect" coords="894,958,1014,1013" href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html"  target="element">
				  						<area shape="rect" coords="772,958,892,1013" href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html"  target="element">
				  						<area shape="rect" coords="1019,898,1139,953" href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html"  target="element">
				  						<area shape="rect" coords="894,898,1014,953" href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html"  target="element">
				  						<area shape="rect" coords="772,898,892,953" href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html"  target="element">
				  						<area shape="rect" coords="1019,836,1139,891" href="../elements/id-4008da7645c249378b081f1975d6e665.html"  target="element">
				  						<area shape="rect" coords="772,836,892,891" href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html"  target="element">
				  						<area shape="rect" coords="771,778,891,833" href="../elements/id-36b646125358437f957ea916e425fc03.html"  target="element">
				  						<area shape="rect" coords="1019,718,1139,773" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  						<area shape="rect" coords="894,718,1014,773" href="../elements/id-532d13dd10214e2ba424f307f72b403a.html"  target="element">
				  						<area shape="rect" coords="771,718,891,773" href="../elements/id-4959424d5d1f450a86478e33282d531f.html"  target="element">
				  						<area shape="rect" coords="1019,658,1139,713" href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html"  target="element">
				  						<area shape="rect" coords="894,659,1014,714" href="../elements/id-bc1f20a762b54332abefad6fa354b824.html"  target="element">
				  						<area shape="rect" coords="767,658,887,713" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">

				  				<area shape="rect" coords="760,622,1149,1079" href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html"  target="element">

				          <area shape="rect" coords="10,598,1739,1139" href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element" >
				          <area shape="rect" coords="202,16,923,59" href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element" >
				  						<area shape="rect" coords="551,250,574,272" href="../views/id-5f3ce790f284420e88f6003b3401ad42.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="538,242,935,467" href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html"  target="element">
				  						<area shape="rect" coords="964,252,987,274" href="../views/id-2eec05c15a07406fb184b626dc3caa70.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="946,242,1487,579" href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html"  target="element">
				  						<area shape="rect" coords="36,248,59,270" href="../views/id-3bc5917155bb48938b2490de6bda6a34.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="22,238,527,515" href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html"  target="element">

				          <area shape="rect" coords="10,214,1511,586" href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element" >
				  				<area shape="rect" coords="934,88,1319,179" href="../elements/id-ca00dfc8749543baa05b647c161d0245.html"  target="element">
				  				<area shape="rect" coords="411,88,930,185" href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html"  target="element">
				  				<area shape="rect" coords="22,88,407,185" href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html"  target="element">

				          <area shape="rect" coords="10,70,1331,203" href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element"> 1. Distribution </a> </td>
									           <td> <a href="../objects/id-9ef0d41fd01f4dfb97b86804f38a09f0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html" target="element"> 1.1 Channels </a> </td>
													    <td> <a href="../elements/id-2a03f1c946094d5696057bd67cbf153c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html" target="element"> 1.2 Channel Management </a> </td>
													    <td> <a href="../elements/id-fb3ea0fead7a482b8135481bbd7bc333.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca00dfc8749543baa05b647c161d0245.html" target="element"> 1.3 Communications </a> </td>
													    <td> <a href="../elements/id-ca00dfc8749543baa05b647c161d0245.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element"> 2. Core Services </a> </td>
									           <td> <a href="../objects/id-9c5ec7e411364fb680cf614b6aa323d8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
													    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view"> Employer Services Capability Realization View </a> </td>
															    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html" target="element"> 2.3 Claims Management </a> </td>
													    <td> <a href="../elements/id-cf281068eafb4c5ebcf0445497f7cf38.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-2eec05c15a07406fb184b626dc3caa70.html" target="view"> Claims Management Capability Realization View </a> </td>
															    <td> <a href="../views/id-2eec05c15a07406fb184b626dc3caa70.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html" target="element"> 2.2 Prevention &amp; Return to Work Programs </a> </td>
													    <td> <a href="../elements/id-a9b9a33016a74ddebc16d05b2e135782.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-5f3ce790f284420e88f6003b3401ad42.html" target="view"> Prevention & Return to Work Programs Capability Realization View </a> </td>
															    <td> <a href="../views/id-5f3ce790f284420e88f6003b3401ad42.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
									        <tr>
									           <td> <a href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f2229fc5557646be87921ca9edcb8330.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element"> 3. Enterprise Services </a> </td>
									           <td> <a href="../objects/id-acf862e2fd52418d967373210bb7aa6f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html" target="element"> 3.8 Finance &amp; Accounting </a> </td>
													    <td> <a href="../elements/id-3fc870664fae4c9c9e6a1e93da3193f3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
															    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
															    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
															    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4959424d5d1f450a86478e33282d531f.html" target="element"> Crystal Reports </a> </td>
															    <td> <a href="../elements/id-4959424d5d1f450a86478e33282d531f.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element"> Document Express (Software for writing cheques) </a> </td>
															    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
															    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element"> Vista </a> </td>
															    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element"> Aon </a> </td>
															    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element"> Commercial Credit Adjusters </a> </td>
															    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element"> Courts of Kings Bench </a> </td>
															    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element"> CRA Portal </a> </td>
															    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element"> Equifax </a> </td>
															    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html" target="element"> Knotia </a> </td>
															    <td> <a href="../elements/id-0f72d26ae1654a38b8ed9eae80d645d6.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element"> Land Titles </a> </td>
															    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element"> Moneris </a> </td>
															    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element"> RBC Portal </a> </td>
															    <td> <a href="../elements/id-31126f3221b34235a699dccf7a195190.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element"> TransUnion </a> </td>
															    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
															    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

															<tr>
															    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element"> Canada Life </a> </td>
															    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
															    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
															    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6771464112a04d448063a94a1351897a.html" target="element"> 3.1 Strategy </a> </td>
													    <td> <a href="../elements/id-6771464112a04d448063a94a1351897a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94a82538795a436086092b09bd753083.html" target="element"> 3.2 Innovation </a> </td>
													    <td> <a href="../elements/id-94a82538795a436086092b09bd753083.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html" target="element"> 3.3 PMO </a> </td>
													    <td> <a href="../elements/id-09e45049c6bc46168d2842e1c97a040e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html" target="element"> 3.4 Change Management </a> </td>
													    <td> <a href="../elements/id-c5b03a3ef2394e59b2b76728271f0116.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html" target="element"> 3.5 Data, Analytics &amp; Reporting </a> </td>
													    <td> <a href="../elements/id-c12793a7bded40649fa98e9a5cbd38df.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html" target="element"> 3.6 Operations Excellence </a> </td>
													    <td> <a href="../elements/id-4127f38e7605403597b4754e7ee0e53a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html" target="element"> 3.7 Information Technology </a> </td>
													    <td> <a href="../elements/id-3dcbb33868784a5d8d00280a42c12fe7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html" target="element"> 3.12 Legal </a> </td>
													    <td> <a href="../elements/id-0ddf30414ce94e0d97be24eec5a0307c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
															    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element" class="i18n-elementtype-BusinessService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html" target="element"> 3.13 Procurement </a> </td>
													    <td> <a href="../elements/id-c2eaa1fae7be4543b7ce640c573d7d18.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html" target="element"> 3.9 Human Resources  </a> </td>
													    <td> <a href="../elements/id-25c3f236933449dd88c4a726f6a7ac07.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html" target="element"> 3.10 Policy Management </a> </td>
													    <td> <a href="../elements/id-03750cfbbb0e40ef814f102c25b86a8f.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html" target="element"> 3.11 Risk mgmt. &amp; Compliance </a> </td>
													    <td> <a href="../elements/id-bde5f6e393d040c4a2018696d7ad68c0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html" target="element"> 3.15 Corporate Services  </a> </td>
													    <td> <a href="../elements/id-32380eba2cdd4229a6b9225072a10b0d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7880fbea546b4d069987a7e397f347ff.html" target="element"> 3.16 Investment Management </a> </td>
													    <td> <a href="../elements/id-7880fbea546b4d069987a7e397f347ff.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html" target="element"> 3.17 Workforce Training </a> </td>
													    <td> <a href="../elements/id-5dff1f25e2e4417aa3544c0effa24734.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view"> WCB Business on a Page </a> </td>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>