<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.2 Planning / Budget / Forecasting Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.2 Planning / Budget / Forecasting Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-outcome_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_outcome_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1c4a7a49fd874fe89a0e351e3e8d279e.png" alt="3.8.2 Planning / Budget / Forecasting Functions View" usemap="#id-1c4a7a49fd874fe89a0e351e3e8d279emap"/>
			   <map name="id-1c4a7a49fd874fe89a0e351e3e8d279emap">
				          <area shape="rect" coords="22,634,207,665" href="../objects/id-751a7ec06aaa42b682dbe2f9066fbb5e.html" target="element" >
				  				<area shape="rect" coords="502,118,622,173" href="../elements/id-0460f24ff64041ee861de70933646935.html"  target="element">
				  				<area shape="rect" coords="250,118,370,173" href="../elements/id-984d500e7583457383b5e835ecd82caf.html"  target="element">
				  				<area shape="rect" coords="34,118,154,173" href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html"  target="element">

				  		<area shape="rect" coords="22,82,671,191" href="../elements/id-63857f92049343da8f4d745916f3ba1c.html"  target="element">
				  		<area shape="rect" coords="346,370,466,425" href="../elements/id-bc9d0cc95939492f865760f51993b094.html"  target="element">
				  		<area shape="rect" coords="178,370,298,425" href="../elements/id-184693a88ffa4f00a1b857603aa631d7.html"  target="element">
				  		<area shape="rect" coords="262,454,382,509" href="../elements/id-6f81e199e86c4d9289535af404a7632d.html"  target="element">
				  		<area shape="rect" coords="502,274,622,329" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  		<area shape="rect" coords="46,274,166,329" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="141,16,850,59" href="../objects/id-6b2495458fbc439c8023c18b7c7c3f8f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This function is realized by 
1. the following roles within WCB
	a. CFO
	b. Manager of Budgets
	c. Director of Finance
	d. Financial accountant	
2. using the applications
	a. Lawson
	b. Excel</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6b2495458fbc439c8023c18b7c7c3f8f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6b2495458fbc439c8023c18b7c7c3f8f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-outcome_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f81e199e86c4d9289535af404a7632d.html" target="element"> Discuss and approve budgets </a> </td>
											    <td> <a href="../elements/id-6f81e199e86c4d9289535af404a7632d.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-184693a88ffa4f00a1b857603aa631d7.html" target="element"> All directors </a> </td>
											    <td> <a href="../elements/id-184693a88ffa4f00a1b857603aa631d7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc9d0cc95939492f865760f51993b094.html" target="element"> Manager of Budgets </a> </td>
											    <td> <a href="../elements/id-bc9d0cc95939492f865760f51993b094.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63857f92049343da8f4d745916f3ba1c.html" target="element"> 3.8.2 Planning / Budget / Forecasting Functions </a> </td>
											    <td> <a href="../elements/id-63857f92049343da8f4d745916f3ba1c.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html" target="element"> 3.8.2.2 Financial planning and forecasting </a> </td>
													    <td> <a href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-984d500e7583457383b5e835ecd82caf.html" target="element"> 3.8.2.1Budget creation and management </a> </td>
													    <td> <a href="../elements/id-984d500e7583457383b5e835ecd82caf.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0460f24ff64041ee861de70933646935.html" target="element"> 3.8.2.3 Variance analysis and reporting </a> </td>
													    <td> <a href="../elements/id-0460f24ff64041ee861de70933646935.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-751a7ec06aaa42b682dbe2f9066fbb5e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-751a7ec06aaa42b682dbe2f9066fbb5e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-85bc07dbf0ea4a93945aa6f73325cec8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85bc07dbf0ea4a93945aa6f73325cec8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html" target="element"> 3.8.2.2 Financial planning and forecasting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ee58a04453e4f199dab07454494be00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ee58a04453e4f199dab07454494be00.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-984d500e7583457383b5e835ecd82caf.html" target="element"> 3.8.2.1Budget creation and management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4dc640b80e964d679fe9c8846403cf66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4dc640b80e964d679fe9c8846403cf66.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-0460f24ff64041ee861de70933646935.html" target="element"> 3.8.2.3 Variance analysis and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d5eb9b6dbd04ce4b5ade5cebb808284.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d5eb9b6dbd04ce4b5ade5cebb808284.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-184693a88ffa4f00a1b857603aa631d7.html" target="element"> All directors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02072ebcb202424d9758e4cd2fc9469a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02072ebcb202424d9758e4cd2fc9469a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-bc9d0cc95939492f865760f51993b094.html" target="element"> Manager of Budgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ed24026fcb646e2a423278e64702f96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ed24026fcb646e2a423278e64702f96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html" target="element"> 3.8.2.2 Financial planning and forecasting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66ebbb97b4fc44e69d20e8a7ed91b46d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66ebbb97b4fc44e69d20e8a7ed91b46d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-984d500e7583457383b5e835ecd82caf.html" target="element"> 3.8.2.1Budget creation and management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8114e739c0c1438e8860d1db134cf54b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8114e739c0c1438e8860d1db134cf54b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-0460f24ff64041ee861de70933646935.html" target="element"> 3.8.2.3 Variance analysis and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8ad813ef2bd43f697f65d953d5a085e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8ad813ef2bd43f697f65d953d5a085e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-bc9d0cc95939492f865760f51993b094.html" target="element"> Manager of Budgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e622a3d55663452da66afdeab4f81ffe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e622a3d55663452da66afdeab4f81ffe.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-184693a88ffa4f00a1b857603aa631d7.html" target="element"> All directors </a> </td>
																		<td> <a href="../elements/id-6f81e199e86c4d9289535af404a7632d.html" target="element"> Discuss and approve budgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-86d6947f83334e83a2123294dc9f8492.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86d6947f83334e83a2123294dc9f8492.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc9d0cc95939492f865760f51993b094.html" target="element"> Manager of Budgets </a> </td>
																		<td> <a href="../elements/id-6f81e199e86c4d9289535af404a7632d.html" target="element"> Discuss and approve budgets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-954b106cfaf7439f9a9513882e8a85fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-954b106cfaf7439f9a9513882e8a85fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63857f92049343da8f4d745916f3ba1c.html" target="element"> 3.8.2 Planning / Budget / Forecasting Functions </a> </td>
																		<td> <a href="../elements/id-7ae2027ea4f44d41a73828ab80bdf3aa.html" target="element"> 3.8.2.2 Financial planning and forecasting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ec72ffee6eb4a8d9d398dd1c36a3dd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ec72ffee6eb4a8d9d398dd1c36a3dd1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63857f92049343da8f4d745916f3ba1c.html" target="element"> 3.8.2 Planning / Budget / Forecasting Functions </a> </td>
																		<td> <a href="../elements/id-984d500e7583457383b5e835ecd82caf.html" target="element"> 3.8.2.1Budget creation and management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09eb1ec91d144dcab65d77f57554797a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09eb1ec91d144dcab65d77f57554797a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-63857f92049343da8f4d745916f3ba1c.html" target="element"> 3.8.2 Planning / Budget / Forecasting Functions </a> </td>
																		<td> <a href="../elements/id-0460f24ff64041ee861de70933646935.html" target="element"> 3.8.2.3 Variance analysis and reporting </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>