<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Director, Legal, Policy and Corporate Records</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Director, Legal, Policy and Corporate Records</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-287db9f2cc5441048a34baf0abeb92c8.png" alt="Director, Legal, Policy and Corporate Records" usemap="#id-287db9f2cc5441048a34baf0abeb92c8map"/>
			   <map name="id-287db9f2cc5441048a34baf0abeb92c8map">
				  		<area shape="rect" coords="436,314,556,369" href="../elements/id-ad5d6ca154824f14ab3908e3c5d395d4.html"  target="element">
				  		<area shape="rect" coords="292,314,412,369" href="../elements/id-d75156c5a9b649dd86266e8c03ff347d.html"  target="element">
				  		<area shape="rect" coords="358,233,478,288" href="../elements/id-3a5899872856451d9a4679f7584102df.html"  target="element">
				  		<area shape="rect" coords="292,146,412,201" href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html"  target="element">
				  		<area shape="rect" coords="148,314,268,369" href="../elements/id-0144c21f879f49ef8bdf4fed1a34c036.html"  target="element">
				  		<area shape="rect" coords="148,233,268,288" href="../elements/id-290e0371f7fe45fc9fb37eb91f9ca5c5.html"  target="element">
				  		<area shape="rect" coords="10,233,130,288" href="../elements/id-3bd51ee7d9e24a979f5ac93efccf1567.html"  target="element">
				  		<area shape="rect" coords="10,146,130,201" href="../elements/id-ab3e9368a87b49fd8d4e633f7d2d8583.html"  target="element">
				  		<area shape="rect" coords="580,169,700,224" href="../elements/id-7b5d462b705a4ea89f7ddcb29c1953ce.html"  target="element">
				  		<area shape="rect" coords="586,92,706,147" href="../elements/id-4e558593b7d94f019cd8cfd5ae8efcee.html"  target="element">
				  		<area shape="rect" coords="16,385,136,440" href="../elements/id-06861fbac7704331bffcb531480c2f60.html"  target="element">
				  		<area shape="rect" coords="280,25,400,80" href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html"  target="element">
				  		<area shape="rect" coords="10,10,54,33" href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html" target="view"> VP, Legal, Compliance & Corporate Services </a> </td>
											    <td> <a href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
											    <td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-06861fbac7704331bffcb531480c2f60.html" target="element"> Senior Research &amp; Policy Analyst </a> </td>
											    <td> <a href="../elements/id-06861fbac7704331bffcb531480c2f60.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e558593b7d94f019cd8cfd5ae8efcee.html" target="element"> Legal Consel II </a> </td>
											    <td> <a href="../elements/id-4e558593b7d94f019cd8cfd5ae8efcee.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b5d462b705a4ea89f7ddcb29c1953ce.html" target="element"> Legal Consel I </a> </td>
											    <td> <a href="../elements/id-7b5d462b705a4ea89f7ddcb29c1953ce.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab3e9368a87b49fd8d4e633f7d2d8583.html" target="element"> Manger, Review Office </a> </td>
											    <td> <a href="../elements/id-ab3e9368a87b49fd8d4e633f7d2d8583.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bd51ee7d9e24a979f5ac93efccf1567.html" target="element"> Review Officer </a> </td>
											    <td> <a href="../elements/id-3bd51ee7d9e24a979f5ac93efccf1567.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-290e0371f7fe45fc9fb37eb91f9ca5c5.html" target="element"> Supervisor, Document Management </a> </td>
											    <td> <a href="../elements/id-290e0371f7fe45fc9fb37eb91f9ca5c5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0144c21f879f49ef8bdf4fed1a34c036.html" target="element"> Document Management Clerk </a> </td>
											    <td> <a href="../elements/id-0144c21f879f49ef8bdf4fed1a34c036.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html" target="element"> Manager, Corporate Records </a> </td>
											    <td> <a href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a5899872856451d9a4679f7584102df.html" target="element"> Supervisor, File Access &amp; Administration </a> </td>
											    <td> <a href="../elements/id-3a5899872856451d9a4679f7584102df.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d75156c5a9b649dd86266e8c03ff347d.html" target="element"> File Access Representative </a> </td>
											    <td> <a href="../elements/id-d75156c5a9b649dd86266e8c03ff347d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad5d6ca154824f14ab3908e3c5d395d4.html" target="element"> Distribution &amp; Print Centre Representative </a> </td>
											    <td> <a href="../elements/id-ad5d6ca154824f14ab3908e3c5d395d4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-831e4b7e57e24beeab17c0d13052b96a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-831e4b7e57e24beeab17c0d13052b96a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
																		<td> <a href="../elements/id-06861fbac7704331bffcb531480c2f60.html" target="element"> Senior Research &amp; Policy Analyst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a9db6461a00a4d2eb74fca48fc25423b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9db6461a00a4d2eb74fca48fc25423b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
																		<td> <a href="../elements/id-7b5d462b705a4ea89f7ddcb29c1953ce.html" target="element"> Legal Consel I </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c9b070143c443dcabc771860f38233b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c9b070143c443dcabc771860f38233b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
																		<td> <a href="../elements/id-4e558593b7d94f019cd8cfd5ae8efcee.html" target="element"> Legal Consel II </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3bcdce9226e41e798653c8c2872b7ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3bcdce9226e41e798653c8c2872b7ca.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
																		<td> <a href="../elements/id-ab3e9368a87b49fd8d4e633f7d2d8583.html" target="element"> Manger, Review Office </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f09f5e9999644eeab3160e0322a25c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f09f5e9999644eeab3160e0322a25c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d8fbbe3dc5ca4132aa07ddbdf1c8e83a.html" target="element"> Director, Legal, Policy and Corporate Records </a> </td>
																		<td> <a href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html" target="element"> Manager, Corporate Records </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cda935eb75fc431b8d518710b3bc2aee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cda935eb75fc431b8d518710b3bc2aee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ab3e9368a87b49fd8d4e633f7d2d8583.html" target="element"> Manger, Review Office </a> </td>
																		<td> <a href="../elements/id-3bd51ee7d9e24a979f5ac93efccf1567.html" target="element"> Review Officer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e8102c0c43f45cf89e9eb6a50eea6db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e8102c0c43f45cf89e9eb6a50eea6db.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-290e0371f7fe45fc9fb37eb91f9ca5c5.html" target="element"> Supervisor, Document Management </a> </td>
																		<td> <a href="../elements/id-0144c21f879f49ef8bdf4fed1a34c036.html" target="element"> Document Management Clerk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e3a086ef01424376b4c6563ff89dbca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3a086ef01424376b4c6563ff89dbca1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html" target="element"> Manager, Corporate Records </a> </td>
																		<td> <a href="../elements/id-290e0371f7fe45fc9fb37eb91f9ca5c5.html" target="element"> Supervisor, Document Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a570f2832b846f9a79ae2c8cf88cd46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a570f2832b846f9a79ae2c8cf88cd46.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2599be3caca41b3a3c330258e2af2f3.html" target="element"> Manager, Corporate Records </a> </td>
																		<td> <a href="../elements/id-3a5899872856451d9a4679f7584102df.html" target="element"> Supervisor, File Access &amp; Administration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-19918272eecf488bafa6174e2c79680a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19918272eecf488bafa6174e2c79680a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a5899872856451d9a4679f7584102df.html" target="element"> Supervisor, File Access &amp; Administration </a> </td>
																		<td> <a href="../elements/id-d75156c5a9b649dd86266e8c03ff347d.html" target="element"> File Access Representative </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-68d607a5a9d149c0bf65597d2e05de25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68d607a5a9d149c0bf65597d2e05de25.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a5899872856451d9a4679f7584102df.html" target="element"> Supervisor, File Access &amp; Administration </a> </td>
																		<td> <a href="../elements/id-ad5d6ca154824f14ab3908e3c5d395d4.html" target="element"> Distribution &amp; Print Centre Representative </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>