<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Director, Compensation Performance, Training & Quality</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Director, Compensation Performance, Training &amp; Quality</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3e97bc36f0f247db84fe945b7bdae7be.png" alt="Director, Compensation Performance, Training & Quality" usemap="#id-3e97bc36f0f247db84fe945b7bdae7bemap"/>
			   <map name="id-3e97bc36f0f247db84fe945b7bdae7bemap">
				  		<area shape="rect" coords="651,319,771,374" href="../elements/id-eafaff5b6f274cdbb17615eb27f92eab.html"  target="element">
				  		<area shape="rect" coords="459,415,579,470" href="../elements/id-877d21560dd64b8aa177630b6c29c596.html"  target="element">
				  		<area shape="rect" coords="459,319,579,374" href="../elements/id-8a26e4d1f3cf44ea94119ebaa4b063ca.html"  target="element">
				  		<area shape="rect" coords="320,319,440,374" href="../elements/id-a0e3ecc62183492a9b1c8bc1e9891269.html"  target="element">
				  		<area shape="rect" coords="178,319,298,374" href="../elements/id-248d3024d8ff465d8f60af0cf137ebf3.html"  target="element">
				  		<area shape="rect" coords="39,319,159,374" href="../elements/id-bd2375b464a54c20b360db788646d94e.html"  target="element">
				  		<area shape="rect" coords="651,223,771,278" href="../elements/id-80baa233ce5a4847b44d53936f72646b.html"  target="element">
				  		<area shape="rect" coords="243,214,363,287" href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html"  target="element">
				  		<area shape="rect" coords="39,151,159,206" href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html"  target="element">
				  		<area shape="rect" coords="178,32,321,106" href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html"  target="element">
				  		<area shape="rect" coords="10,10,69,33" href="../views/id-7af738e59b9b4cc18b7045b21751010c.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view"> VP, Compensation Services </a> </td>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html" target="element"> Director, Compensation Performance, Training &amp; Quality </a> </td>
											    <td> <a href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element"> Administrative Assistant </a> </td>
											    <td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
											    <td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80baa233ce5a4847b44d53936f72646b.html" target="element"> Manager, Compensation Performance </a> </td>
											    <td> <a href="../elements/id-80baa233ce5a4847b44d53936f72646b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bd2375b464a54c20b360db788646d94e.html" target="element"> Payment Assessor </a> </td>
											    <td> <a href="../elements/id-bd2375b464a54c20b360db788646d94e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-248d3024d8ff465d8f60af0cf137ebf3.html" target="element"> Claims Service Representative </a> </td>
											    <td> <a href="../elements/id-248d3024d8ff465d8f60af0cf137ebf3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0e3ecc62183492a9b1c8bc1e9891269.html" target="element"> Adjudicator II </a> </td>
											    <td> <a href="../elements/id-a0e3ecc62183492a9b1c8bc1e9891269.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a26e4d1f3cf44ea94119ebaa4b063ca.html" target="element"> Supervisor, Compensation Training &amp; Quality </a> </td>
											    <td> <a href="../elements/id-8a26e4d1f3cf44ea94119ebaa4b063ca.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-877d21560dd64b8aa177630b6c29c596.html" target="element"> Compensation Training &amp; Quality Specialist </a> </td>
											    <td> <a href="../elements/id-877d21560dd64b8aa177630b6c29c596.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eafaff5b6f274cdbb17615eb27f92eab.html" target="element"> Compensation Performance Consultant </a> </td>
											    <td> <a href="../elements/id-eafaff5b6f274cdbb17615eb27f92eab.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-007fd20c444741fdba3117eadd11a99e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-007fd20c444741fdba3117eadd11a99e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html" target="element"> Director, Compensation Performance, Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element"> Administrative Assistant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c332b2eaee01482cabc4547c244a0313.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c332b2eaee01482cabc4547c244a0313.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html" target="element"> Director, Compensation Performance, Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a364bab99e0a4b2c90f3f9335e81e1be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a364bab99e0a4b2c90f3f9335e81e1be.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-744d9f03d62c4ee58b2d976f4c4a7fec.html" target="element"> Director, Compensation Performance, Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-80baa233ce5a4847b44d53936f72646b.html" target="element"> Manager, Compensation Performance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-49104e26c17b4849b4ba739097ea662b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49104e26c17b4849b4ba739097ea662b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-bd2375b464a54c20b360db788646d94e.html" target="element"> Payment Assessor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79ddd4ed652a457d94a5482a793a2208.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79ddd4ed652a457d94a5482a793a2208.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-248d3024d8ff465d8f60af0cf137ebf3.html" target="element"> Claims Service Representative </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2280af8a12a04ae5bb5a9b0a4195a816.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2280af8a12a04ae5bb5a9b0a4195a816.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-a0e3ecc62183492a9b1c8bc1e9891269.html" target="element"> Adjudicator II </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4489794a5014b1a8bd2b5a786898f02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4489794a5014b1a8bd2b5a786898f02.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5960a3bb251841bfaaa341c4391d63c9.html" target="element"> Manager, Compensation Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-8a26e4d1f3cf44ea94119ebaa4b063ca.html" target="element"> Supervisor, Compensation Training &amp; Quality </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e08cc5de1c45479c82dea6f92b14bf45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e08cc5de1c45479c82dea6f92b14bf45.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-80baa233ce5a4847b44d53936f72646b.html" target="element"> Manager, Compensation Performance </a> </td>
																		<td> <a href="../elements/id-eafaff5b6f274cdbb17615eb27f92eab.html" target="element"> Compensation Performance Consultant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-73f22e7d7bce4df5bb9c28170f0cae61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73f22e7d7bce4df5bb9c28170f0cae61.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8a26e4d1f3cf44ea94119ebaa4b063ca.html" target="element"> Supervisor, Compensation Training &amp; Quality </a> </td>
																		<td> <a href="../elements/id-877d21560dd64b8aa177630b6c29c596.html" target="element"> Compensation Training &amp; Quality Specialist </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>