<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VP, Strategy, Innovation & Transformation</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VP, Strategy, Innovation &amp; Transformation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3a4d2fef9fff4fada5365e41824637fc.png" alt="VP, Strategy, Innovation & Transformation" usemap="#id-3a4d2fef9fff4fada5365e41824637fcmap"/>
			   <map name="id-3a4d2fef9fff4fada5365e41824637fcmap">
				  		<area shape="rect" coords="322,376,442,455" href="../elements/id-793790fd7d414c36ab5635b90d7dd9f0.html"  target="element">
				  		<area shape="rect" coords="178,376,298,431" href="../elements/id-e39264bae10a40f3afc5c206c284c4cc.html"  target="element">
				  		<area shape="rect" coords="33,376,153,431" href="../elements/id-5054d407572641e0bbe5e5220dc864d6.html"  target="element">
				  		<area shape="rect" coords="610,130,730,185" href="../elements/id-a6e98a11298a42e4861bd8eebfc8cac7.html"  target="element">
				  		<area shape="rect" coords="491,214,611,269" href="../elements/id-9c0421e35c8a46c1a46b10668cea59f9.html"  target="element">
				  		<area shape="rect" coords="334,214,454,269" href="../elements/id-a6d5a2c5078c4936b007877dde223321.html"  target="element">
				  		<area shape="rect" coords="178,268,298,323" href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html"  target="element">
				  		<area shape="rect" coords="33,217,153,272" href="../elements/id-3bf27e9804a2444b8ff2b98dbf470b41.html"  target="element">
				  		<area shape="rect" coords="238,118,358,173" href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html"  target="element">
				  		<area shape="rect" coords="238,10,358,65" href="../elements/id-400f1a8e7ba948eba69e10ad015d946a.html"  target="element">
				  		<area shape="rect" coords="10,10,56,39" href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view"> Org Chart </a> </td>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-400f1a8e7ba948eba69e10ad015d946a.html" target="element"> VP, Strategy, Innovation &amp; Transformation </a> </td>
											    <td> <a href="../elements/id-400f1a8e7ba948eba69e10ad015d946a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
											    <td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bf27e9804a2444b8ff2b98dbf470b41.html" target="element"> Manager, PAS &amp; BPR </a> </td>
											    <td> <a href="../elements/id-3bf27e9804a2444b8ff2b98dbf470b41.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element"> Manager, Business Intelligence </a> </td>
											    <td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6d5a2c5078c4936b007877dde223321.html" target="element"> Business Analyst </a> </td>
											    <td> <a href="../elements/id-a6d5a2c5078c4936b007877dde223321.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c0421e35c8a46c1a46b10668cea59f9.html" target="element"> Senior Project Manager </a> </td>
											    <td> <a href="../elements/id-9c0421e35c8a46c1a46b10668cea59f9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6e98a11298a42e4861bd8eebfc8cac7.html" target="element"> Project Manager </a> </td>
											    <td> <a href="../elements/id-a6e98a11298a42e4861bd8eebfc8cac7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5054d407572641e0bbe5e5220dc864d6.html" target="element"> Data Scientist </a> </td>
											    <td> <a href="../elements/id-5054d407572641e0bbe5e5220dc864d6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e39264bae10a40f3afc5c206c284c4cc.html" target="element"> Business Intelligence Analyst </a> </td>
											    <td> <a href="../elements/id-e39264bae10a40f3afc5c206c284c4cc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-793790fd7d414c36ab5635b90d7dd9f0.html" target="element"> Business Intelligence Database Analyst </a> </td>
											    <td> <a href="../elements/id-793790fd7d414c36ab5635b90d7dd9f0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-81d8c4d459b048baa7d2f004c06e4c6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81d8c4d459b048baa7d2f004c06e4c6a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-400f1a8e7ba948eba69e10ad015d946a.html" target="element"> VP, Strategy, Innovation &amp; Transformation </a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-67d16e2e77c44d308242ed6a3513479f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67d16e2e77c44d308242ed6a3513479f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																		<td> <a href="../elements/id-3bf27e9804a2444b8ff2b98dbf470b41.html" target="element"> Manager, PAS &amp; BPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8b1dd451bd64a0c8de412a25f8cf609.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8b1dd451bd64a0c8de412a25f8cf609.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																		<td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element"> Manager, Business Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b2d7dd5f5fb4c9486ab4c77437203a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b2d7dd5f5fb4c9486ab4c77437203a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																		<td> <a href="../elements/id-a6d5a2c5078c4936b007877dde223321.html" target="element"> Business Analyst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d0f5d262d4b64fcbb6e7501b65763bf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0f5d262d4b64fcbb6e7501b65763bf7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																		<td> <a href="../elements/id-9c0421e35c8a46c1a46b10668cea59f9.html" target="element"> Senior Project Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad2332ef53464808870e373d4b355df6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad2332ef53464808870e373d4b355df6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c7dbd08633e3412fa2e5d87c297706a0.html" target="element"> Chief Innovation Officer </a> </td>
																		<td> <a href="../elements/id-a6e98a11298a42e4861bd8eebfc8cac7.html" target="element"> Project Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e936f5189b2649b080726d614beeabb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e936f5189b2649b080726d614beeabb1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element"> Manager, Business Intelligence </a> </td>
																		<td> <a href="../elements/id-5054d407572641e0bbe5e5220dc864d6.html" target="element"> Data Scientist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b94d94491cbe47b6a29ebbaabdb732b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b94d94491cbe47b6a29ebbaabdb732b9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element"> Manager, Business Intelligence </a> </td>
																		<td> <a href="../elements/id-e39264bae10a40f3afc5c206c284c4cc.html" target="element"> Business Intelligence Analyst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a954bda472d448da898e00f86e01be28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a954bda472d448da898e00f86e01be28.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-230293cfcbeb4d8d8a4cddf16405bb19.html" target="element"> Manager, Business Intelligence </a> </td>
																		<td> <a href="../elements/id-793790fd7d414c36ab5635b90d7dd9f0.html" target="element"> Business Intelligence Database Analyst </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>