<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Lawson Servers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Lawson Servers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4f74f92e56eb446ab8617bab03a1b53a.png" alt="Lawson Servers" usemap="#id-4f74f92e56eb446ab8617bab03a1b53amap"/>
			   <map name="id-4f74f92e56eb446ab8617bab03a1b53amap">
				          <area shape="rect" coords="56,10,552,37" href="../objects/id-e7341ce3dbdb40f4bdeb233d50f57dc4.html" target="element" >
				  		<area shape="rect" coords="423,331,543,386" href="../elements/id-e58528c898bc42dda08b0d276a363790.html"  target="element">
				  		<area shape="rect" coords="244,91,364,146" href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html"  target="element">
				  		<area shape="rect" coords="416,211,536,266" href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html"  target="element">
				  		<area shape="rect" coords="20,211,189,266" href="../elements/id-93a930c3ac1d40ef86483933ba31796b.html"  target="element">
				  		<area shape="rect" coords="219,211,388,266" href="../elements/id-0e939443754b40359e7f3645b782fd75.html"  target="element">
				  		<area shape="rect" coords="10,12,47,36" href="../views/id-5e484e38b414486c86329e35a6f8eafe.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view"> Intranet Environment Overview </a> </td>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-0e939443754b40359e7f3645b782fd75.html" target="element"> Lawson ( Landmark) </a> </td>
											    <td> <a href="../elements/id-0e939443754b40359e7f3645b782fd75.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93a930c3ac1d40ef86483933ba31796b.html" target="element"> Lawson (Ming) </a> </td>
											    <td> <a href="../elements/id-93a930c3ac1d40ef86483933ba31796b.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
											    <td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e7341ce3dbdb40f4bdeb233d50f57dc4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e7341ce3dbdb40f4bdeb233d50f57dc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-cad6aff604ae48e683db1e10a05be872.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cad6aff604ae48e683db1e10a05be872.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
																		<td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7847b15e35f64917ad85b943275e1933.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7847b15e35f64917ad85b943275e1933.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
																		<td> <a href="../elements/id-0e939443754b40359e7f3645b782fd75.html" target="element"> Lawson ( Landmark) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0255241e17c443c5ade743861b46a3e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0255241e17c443c5ade743861b46a3e9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
																		<td> <a href="../elements/id-93a930c3ac1d40ef86483933ba31796b.html" target="element"> Lawson (Ming) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-48f442dfcb2242dcb40a5f1401353a27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48f442dfcb2242dcb40a5f1401353a27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>