<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Manger, Return to Work Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Manger, Return to Work Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-54ed30754dd540bca6360fb206acb0a4.png" alt="Manger, Return to Work Services" usemap="#id-54ed30754dd540bca6360fb206acb0a4map"/>
			   <map name="id-54ed30754dd540bca6360fb206acb0a4map">
				  		<area shape="rect" coords="406,214,526,269" href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html"  target="element">
				  		<area shape="rect" coords="406,130,526,185" href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html"  target="element">
				  		<area shape="rect" coords="262,130,382,185" href="../elements/id-d4cb9d6c1f144d96830f5da7a82750d4.html"  target="element">
				  		<area shape="rect" coords="115,130,235,185" href="../elements/id-ff04520a46e64dfeb1b74f2fa2909291.html"  target="element">
				  		<area shape="rect" coords="10,10,59,35" href="../views/id-cd341d39068946e98b134a82ad9223de.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="202,22,322,77" href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html" target="element"> Manger, Return to Work Services </a> </td>
											    <td> <a href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view"> VP, SAFE Work Manitoba </a> </td>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-ff04520a46e64dfeb1b74f2fa2909291.html" target="element"> Return to Work Specialist </a> </td>
											    <td> <a href="../elements/id-ff04520a46e64dfeb1b74f2fa2909291.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4cb9d6c1f144d96830f5da7a82750d4.html" target="element"> Return to Work Consultant </a> </td>
											    <td> <a href="../elements/id-d4cb9d6c1f144d96830f5da7a82750d4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
											    <td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element"> Prevention Consultant </a> </td>
											    <td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8ff424d4c0fc4b75a282df01e0dc776b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ff424d4c0fc4b75a282df01e0dc776b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html" target="element"> Manger, Return to Work Services </a> </td>
																		<td> <a href="../elements/id-ff04520a46e64dfeb1b74f2fa2909291.html" target="element"> Return to Work Specialist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ead141e52f324fc0853cd7fe81fb04b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ead141e52f324fc0853cd7fe81fb04b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html" target="element"> Manger, Return to Work Services </a> </td>
																		<td> <a href="../elements/id-d4cb9d6c1f144d96830f5da7a82750d4.html" target="element"> Return to Work Consultant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6e168b2db1342c3b10fdd34c17a9298.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6e168b2db1342c3b10fdd34c17a9298.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f76416cf82ae48c4b3c5ed3e44ae3336.html" target="element"> Manger, Return to Work Services </a> </td>
																		<td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-858a824dc25848a5a9acc97034c4d3cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-858a824dc25848a5a9acc97034c4d3cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
																		<td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element"> Prevention Consultant </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>