<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Main View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Main View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-592943ac8eb24c9c865a68c9458a79e7.png" alt="Main View" usemap="#id-592943ac8eb24c9c865a68c9458a79e7map"/>
			   <map name="id-592943ac8eb24c9c865a68c9458a79e7map">
				  		<area shape="rect" coords="250,238,370,293" href="../views/id-02adc4d680194cc9bead59d1c7334459.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="250,142,370,197" href="../views/id-be0ac71990984340972daf8ac79ec2d1.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="94,142,203,198" href="../objects/id-e60037c91d8a4588a54927323c4085c3.html" target="element" >
				  		<area shape="rect" coords="22,250,142,305" href="../views/id-dbad851296a1496b8212022a563b1646.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="22,322,142,377" href="../views/id-1d88313836b04555ab1ef37492bb7ac9.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="478,142,587,198" href="../objects/id-3c0c7ef854484f9fbf70cd3d6f0eee58.html" target="element" >
				          <area shape="rect" coords="682,142,791,198" href="../objects/id-7f1a68adcc3a479096d230e428b07730.html" target="element" >
				          <area shape="rect" coords="442,10,623,66" href="../objects/id-cdb5bd4c72904370a98adb24f184d6d4.html" target="element" >
				          <area shape="rect" coords="10,610,215,659" href="../objects/id-5848762c84c4454eb8820e0f1afadc99.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://wcbmb.atlassian.net/l/cp/PR1uXNPw</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5848762c84c4454eb8820e0f1afadc99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5848762c84c4454eb8820e0f1afadc99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cdb5bd4c72904370a98adb24f184d6d4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cdb5bd4c72904370a98adb24f184d6d4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7f1a68adcc3a479096d230e428b07730.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7f1a68adcc3a479096d230e428b07730.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3c0c7ef854484f9fbf70cd3d6f0eee58.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c0c7ef854484f9fbf70cd3d6f0eee58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-1d88313836b04555ab1ef37492bb7ac9.html" target="view"> Application Domain </a> </td>
											    <td> <a href="../views/id-1d88313836b04555ab1ef37492bb7ac9.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-dbad851296a1496b8212022a563b1646.html" target="view"> Business Domain </a> </td>
											    <td> <a href="../views/id-dbad851296a1496b8212022a563b1646.html" target="view" class="i18n-viewpoint-motivation"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-e60037c91d8a4588a54927323c4085c3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e60037c91d8a4588a54927323c4085c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-be0ac71990984340972daf8ac79ec2d1.html" target="view"> Current State Architecture </a> </td>
											    <td> <a href="../views/id-be0ac71990984340972daf8ac79ec2d1.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view"> WCB Business on a Page </a> </td>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>