<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Intranet Environment Overview</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Intranet Environment Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5e484e38b414486c86329e35a6f8eafe.png" alt="Intranet Environment Overview" usemap="#id-5e484e38b414486c86329e35a6f8eafemap"/>
			   <map name="id-5e484e38b414486c86329e35a6f8eafemap">
				          <area shape="rect" coords="138,11,634,38" href="../objects/id-b40d02ef6a52411084de390113f3e6a2.html" target="element" >
				  		<area shape="rect" coords="886,269,1006,324" href="../views/id-b51408acedb14ca5b88c9f565bf9445b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="886,190,1006,245" href="../views/id-4f74f92e56eb446ab8617bab03a1b53a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="706,95,826,150" href="../elements/id-8679e62f2c4d4ed68adee69bc1f90f84.html"  target="element">
				  		<area shape="rect" coords="166,113,286,168" href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html"  target="element">
				  		<area shape="rect" coords="454,149,574,204" href="../views/id-b983bc78e513486ca4c7b943a25d1436.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="706,269,826,324" href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html"  target="element">
				  		<area shape="rect" coords="706,190,826,245" href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html"  target="element">
				  		<area shape="rect" coords="718,590,838,645" href="../elements/id-746d462ca437443b8ae297bc96e0f3a4.html"  target="element">
				  		<area shape="rect" coords="706,461,826,516" href="../elements/id-97c55b510383493c8570e0a36ae8b520.html"  target="element">
				  		<area shape="rect" coords="166,590,286,645" href="../elements/id-05d7321accde44349db6d115dd6d8905.html"  target="element">
				  		<area shape="rect" coords="166,461,286,516" href="../elements/id-ea9e57abdbd74ea594d16e8ff8e08e06.html"  target="element">
				  		<area shape="rect" coords="358,590,478,645" href="../elements/id-c768172f324f4007b5819c3cd5c98c8b.html"  target="element">
				  		<area shape="rect" coords="514,590,634,645" href="../elements/id-9e92853f6b02422da53d6b62b7482287.html"  target="element">
				  		<area shape="rect" coords="514,509,634,564" href="../elements/id-5adc947c077542a6b827bc223844c67b.html"  target="element">
				  		<area shape="rect" coords="166,281,286,336" href="../elements/id-0ac0daf5605b41e48c3e7fce1607ec38.html"  target="element">
				  		<area shape="rect" coords="166,365,286,420" href="../elements/id-f17466bab54b4a9db53b92950a649690.html"  target="element">
				  		<area shape="rect" coords="454,353,574,408" href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html"  target="element">
				  		<area shape="rect" coords="454,257,574,312" href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html"  target="element">
				  		<area shape="rect" coords="358,461,478,516" href="../elements/id-75d05bb83b944585b485163a0e44f923.html"  target="element">
				  		<area shape="rect" coords="166,190,286,245" href="../elements/id-31344486c9504bff98bbd0c550ac5610.html"  target="element">
				  		<area shape="rect" coords="706,353,826,408" href="../elements/id-e58528c898bc42dda08b0d276a363790.html"  target="element">
				  		<area shape="rect" coords="10,281,130,336" href="../views/id-b2d92aff0d324adc88dd91ab502397d6.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="886,353,1006,408" href="../views/id-d282347005204119b7729c8db13d7b62.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="22,10,69,40" href="../views/id-4dd38b92a72a4fbbb5afcccc5023e94c.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-4dd38b92a72a4fbbb5afcccc5023e94c.html" target="view"> Production Server Environment </a> </td>
											    <td> <a href="../views/id-4dd38b92a72a4fbbb5afcccc5023e94c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-d282347005204119b7729c8db13d7b62.html" target="view"> SQL Servers </a> </td>
											    <td> <a href="../views/id-d282347005204119b7729c8db13d7b62.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-b2d92aff0d324adc88dd91ab502397d6.html" target="view"> Intranet WAS Servers </a> </td>
											    <td> <a href="../views/id-b2d92aff0d324adc88dd91ab502397d6.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element"> Websphere Application Servers </a> </td>
											    <td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75d05bb83b944585b485163a0e44f923.html" target="element"> SAP Business Objects Enterprise Server </a> </td>
											    <td> <a href="../elements/id-75d05bb83b944585b485163a0e44f923.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element"> IBM Content Manager Servers </a> </td>
											    <td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
											    <td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f17466bab54b4a9db53b92950a649690.html" target="element"> IBM MQ </a> </td>
											    <td> <a href="../elements/id-f17466bab54b4a9db53b92950a649690.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ac0daf5605b41e48c3e7fce1607ec38.html" target="element"> LDAP Servers </a> </td>
											    <td> <a href="../elements/id-0ac0daf5605b41e48c3e7fce1607ec38.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element"> Visa Servers </a> </td>
											    <td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e92853f6b02422da53d6b62b7482287.html" target="element"> pdsprod (Visa) </a> </td>
											    <td> <a href="../elements/id-9e92853f6b02422da53d6b62b7482287.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c768172f324f4007b5819c3cd5c98c8b.html" target="element"> reports </a> </td>
											    <td> <a href="../elements/id-c768172f324f4007b5819c3cd5c98c8b.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea9e57abdbd74ea594d16e8ff8e08e06.html" target="element"> Bizcomm Servers </a> </td>
											    <td> <a href="../elements/id-ea9e57abdbd74ea594d16e8ff8e08e06.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-05d7321accde44349db6d115dd6d8905.html" target="element"> Faxcomm </a> </td>
											    <td> <a href="../elements/id-05d7321accde44349db6d115dd6d8905.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c55b510383493c8570e0a36ae8b520.html" target="element"> Neevia Document Convertor </a> </td>
											    <td> <a href="../elements/id-97c55b510383493c8570e0a36ae8b520.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-746d462ca437443b8ae297bc96e0f3a4.html" target="element"> Microsoft Outlook </a> </td>
											    <td> <a href="../elements/id-746d462ca437443b8ae297bc96e0f3a4.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
											    <td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-b983bc78e513486ca4c7b943a25d1436.html" target="view"> Content Manger Overview </a> </td>
											    <td> <a href="../views/id-b983bc78e513486ca4c7b943a25d1436.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element"> DB2 Servers </a> </td>
											    <td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8679e62f2c4d4ed68adee69bc1f90f84.html" target="element"> Kofax Server </a> </td>
											    <td> <a href="../elements/id-8679e62f2c4d4ed68adee69bc1f90f84.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-4f74f92e56eb446ab8617bab03a1b53a.html" target="view"> Lawson Servers </a> </td>
											    <td> <a href="../views/id-4f74f92e56eb446ab8617bab03a1b53a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-b51408acedb14ca5b88c9f565bf9445b.html" target="view"> Tidal Servers </a> </td>
											    <td> <a href="../views/id-b51408acedb14ca5b88c9f565bf9445b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-b40d02ef6a52411084de390113f3e6a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b40d02ef6a52411084de390113f3e6a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-c851a638fd8f41569b04e3420bad9405.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c851a638fd8f41569b04e3420bad9405.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75d05bb83b944585b485163a0e44f923.html" target="element"> SAP Business Objects Enterprise Server </a> </td>
																		<td> <a href="../elements/id-c768172f324f4007b5819c3cd5c98c8b.html" target="element"> reports </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f9fa1c01f87941278123a86c74f5d950.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9fa1c01f87941278123a86c74f5d950.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element"> Websphere Application Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4df8fc5a816f4257a21f1374bf88c0c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4df8fc5a816f4257a21f1374bf88c0c7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-75d05bb83b944585b485163a0e44f923.html" target="element"> SAP Business Objects Enterprise Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13addc2dc5f54f978a5ee61a91e12b09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13addc2dc5f54f978a5ee61a91e12b09.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element"> IBM Content Manager Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51a62c0a6da64973a73bba1b14fd87d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51a62c0a6da64973a73bba1b14fd87d3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3804dccd4d6e4fb7b7a1823432f1cf26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3804dccd4d6e4fb7b7a1823432f1cf26.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-f17466bab54b4a9db53b92950a649690.html" target="element"> IBM MQ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-772f1dd0f4074c6b84e875f10a4f4405.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-772f1dd0f4074c6b84e875f10a4f4405.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-0ac0daf5605b41e48c3e7fce1607ec38.html" target="element"> LDAP Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56394de5430e445db2be1f4412660121.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56394de5430e445db2be1f4412660121.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element"> Visa Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7d8879ffaf745c5847356ba1023fce4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7d8879ffaf745c5847356ba1023fce4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-ea9e57abdbd74ea594d16e8ff8e08e06.html" target="element"> Bizcomm Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c98e23e95e44687baf1ea2ace9d67b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c98e23e95e44687baf1ea2ace9d67b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-97c55b510383493c8570e0a36ae8b520.html" target="element"> Neevia Document Convertor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ea3ebf403584a3796ec8df929422502.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ea3ebf403584a3796ec8df929422502.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-746d462ca437443b8ae297bc96e0f3a4.html" target="element"> Microsoft Outlook </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71fa74d73d7f4802ac9bd26381955c04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71fa74d73d7f4802ac9bd26381955c04.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-32a59544424d429ab839c95feb66d4b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32a59544424d429ab839c95feb66d4b7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d891d1d224284a1fb56b629131129e32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d891d1d224284a1fb56b629131129e32.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a49b23baa3004cf58e45a0e38aa109ea.html" target="element"> Microsoft Servers </a> </td>
																		<td> <a href="../elements/id-8679e62f2c4d4ed68adee69bc1f90f84.html" target="element"> Kofax Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8c938dd4adb1438081e62006b43628b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c938dd4adb1438081e62006b43628b6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element"> Visa Servers </a> </td>
																		<td> <a href="../elements/id-9e92853f6b02422da53d6b62b7482287.html" target="element"> pdsprod (Visa) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5216b89934d741aab5021a4422d2386b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5216b89934d741aab5021a4422d2386b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ea9e57abdbd74ea594d16e8ff8e08e06.html" target="element"> Bizcomm Servers </a> </td>
																		<td> <a href="../elements/id-05d7321accde44349db6d115dd6d8905.html" target="element"> Faxcomm </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>