<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.3.1 Registration</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.3.1 Registration</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-51d813d42ef34ea0b1d9f8b4b9b99460.png" alt="2.3.1 Registration" usemap="#id-51d813d42ef34ea0b1d9f8b4b9b99460map"/>
			   <map name="id-51d813d42ef34ea0b1d9f8b4b9b99460map">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-df6759b3cc944c9784928fcaf1e9dbf0.html"  target="element">
				  		<area shape="rect" coords="202,418,322,473" href="../elements/id-91fd84ae4be1437590d4bee01045e02c.html"  target="element">
				  		<area shape="rect" coords="202,310,322,365" href="../elements/id-4630ebadb9d34439b9fbbf6710649785.html"  target="element">
				  		<area shape="rect" coords="802,286,922,341" href="../elements/id-78650b6c0da74679a6921f947c0fcd4a.html"  target="element">
				  		<area shape="rect" coords="598,418,718,473" href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html"  target="element">
				  		<area shape="rect" coords="598,286,718,341" href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html"  target="element">
				  		<area shape="rect" coords="406,286,526,341" href="../elements/id-2a6172c9c1b14cd799365e320350064c.html"  target="element">
				  		<area shape="rect" coords="202,214,322,269" href="../elements/id-6bfbc0cd8c14472c9d974c779964f6bb.html"  target="element">
				  		<area shape="rect" coords="166,10,1031,155" href="../elements/id-c129f67ddca348b885b8f0d3b11f1d0b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c129f67ddca348b885b8f0d3b11f1d0b.html" target="element"> 2.3.1 Registration </a> </td>
											    <td> <a href="../elements/id-c129f67ddca348b885b8f0d3b11f1d0b.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bfbc0cd8c14472c9d974c779964f6bb.html" target="element"> Injured Worker First Report </a> </td>
											    <td> <a href="../elements/id-6bfbc0cd8c14472c9d974c779964f6bb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> Claim Intake System </a> </td>
											    <td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Delphi Desktop Applications)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
											    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element"> Emerge Task Engine </a> </td>
											    <td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78650b6c0da74679a6921f947c0fcd4a.html" target="element"> Wageloss </a> </td>
											    <td> <a href="../elements/id-78650b6c0da74679a6921f947c0fcd4a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    	(Delphi Desktop Applications)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4630ebadb9d34439b9fbbf6710649785.html" target="element"> Employer Incident Reporting </a> </td>
											    <td> <a href="../elements/id-4630ebadb9d34439b9fbbf6710649785.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-91fd84ae4be1437590d4bee01045e02c.html" target="element"> eHealth Web Portal </a> </td>
											    <td> <a href="../elements/id-91fd84ae4be1437590d4bee01045e02c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df6759b3cc944c9784928fcaf1e9dbf0.html" target="element"> Customer Service Representative </a> </td>
											    <td> <a href="../elements/id-df6759b3cc944c9784928fcaf1e9dbf0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2f16a33090094b018a47b219a60692d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f16a33090094b018a47b219a60692d0.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bfbc0cd8c14472c9d974c779964f6bb.html" target="element"> Injured Worker First Report </a> </td>
																		<td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> Claim Intake System </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2051136b9bcc42699533b22607e897b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2051136b9bcc42699533b22607e897b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> Claim Intake System </a> </td>
																		<td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-634c1fc904f4448094aca174d9b5a5c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-634c1fc904f4448094aca174d9b5a5c7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
																		<td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element"> Emerge Task Engine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-94a5b5e797ee404da95d91679a0c37b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94a5b5e797ee404da95d91679a0c37b4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-78650b6c0da74679a6921f947c0fcd4a.html" target="element"> Wageloss </a> </td>
																		<td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b51b793e55f04bea9211ce62fbe75614.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b51b793e55f04bea9211ce62fbe75614.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4630ebadb9d34439b9fbbf6710649785.html" target="element"> Employer Incident Reporting </a> </td>
																		<td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> Claim Intake System </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1c69632c12bc4f3686429b6be62e01b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c69632c12bc4f3686429b6be62e01b8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91fd84ae4be1437590d4bee01045e02c.html" target="element"> eHealth Web Portal </a> </td>
																		<td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> Claim Intake System </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>