<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.6 Account Maintenance</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.6 Account Maintenance</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6f8e0c117ebc4837a291118e6f413c2b.png" alt="2.1.6 Account Maintenance" usemap="#id-6f8e0c117ebc4837a291118e6f413c2bmap"/>
			   <map name="id-6f8e0c117ebc4837a291118e6f413c2bmap">
				  		<area shape="rect" coords="562,235,682,290" href="../elements/id-cd82aa635975413790234812b9ee134a.html"  target="element">
				  		<area shape="rect" coords="430,235,550,290" href="../elements/id-2ab6c41855eb47958d643c2179f1b8a0.html"  target="element">
				  		<area shape="rect" coords="298,235,418,290" href="../elements/id-0b7c145cb6f047bf85f119ca9c9e2766.html"  target="element">
				  		<area shape="rect" coords="166,235,286,290" href="../elements/id-eb9d082d9d224173a965be453eb60962.html"  target="element">
				  		<area shape="rect" coords="34,235,154,290" href="../elements/id-77689edda7ca491a941a1aff46581f9e.html"  target="element">
				  		<area shape="rect" coords="274,379,394,434" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  		<area shape="rect" coords="10,67,707,200" href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html"  target="element">
				          <area shape="rect" coords="166,10,647,53" href="../objects/id-0db67072f13d4ed092103c0cfb726060.html" target="element" >
				  		<area shape="rect" coords="10,19,59,44" href="../views/id-3bc5917155bb48938b2490de6bda6a34.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view"> Employer Services Capability Realization View </a> </td>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-0db67072f13d4ed092103c0cfb726060.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0db67072f13d4ed092103c0cfb726060.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
											    <td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77689edda7ca491a941a1aff46581f9e.html" target="element"> Account Maintenance </a> </td>
											    <td> <a href="../elements/id-77689edda7ca491a941a1aff46581f9e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eb9d082d9d224173a965be453eb60962.html" target="element"> Appeals </a> </td>
											    <td> <a href="../elements/id-eb9d082d9d224173a965be453eb60962.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b7c145cb6f047bf85f119ca9c9e2766.html" target="element"> Audit </a> </td>
											    <td> <a href="../elements/id-0b7c145cb6f047bf85f119ca9c9e2766.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ab6c41855eb47958d643c2179f1b8a0.html" target="element"> Legal Opinion </a> </td>
											    <td> <a href="../elements/id-2ab6c41855eb47958d643c2179f1b8a0.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cd82aa635975413790234812b9ee134a.html" target="element"> Coverage Maintenance </a> </td>
											    <td> <a href="../elements/id-cd82aa635975413790234812b9ee134a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-fe95b4164bb84778b012b6455ba52857.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe95b4164bb84778b012b6455ba52857.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-77689edda7ca491a941a1aff46581f9e.html" target="element"> Account Maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4135d9b80724d199bb5db1fe2d1a4d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4135d9b80724d199bb5db1fe2d1a4d9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-eb9d082d9d224173a965be453eb60962.html" target="element"> Appeals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-277015d54ed64f31b1d2689c899e28d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-277015d54ed64f31b1d2689c899e28d5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-0b7c145cb6f047bf85f119ca9c9e2766.html" target="element"> Audit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dad63da5239c4b4e86376d8b5e5bf3ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dad63da5239c4b4e86376d8b5e5bf3ec.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-2ab6c41855eb47958d643c2179f1b8a0.html" target="element"> Legal Opinion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-808a926329dc4531b0e8977622f4bcdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-808a926329dc4531b0e8977622f4bcdb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-cd82aa635975413790234812b9ee134a.html" target="element"> Coverage Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dba28395cd5d418aa271e90ada7bfa2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dba28395cd5d418aa271e90ada7bfa2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-77689edda7ca491a941a1aff46581f9e.html" target="element"> Account Maintenance </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7f4e9336cd747f097f75890ec177868.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7f4e9336cd747f097f75890ec177868.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb9d082d9d224173a965be453eb60962.html" target="element"> Appeals </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-156330db29874d90bb0ae2ac8e586a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-156330db29874d90bb0ae2ac8e586a87.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0b7c145cb6f047bf85f119ca9c9e2766.html" target="element"> Audit </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90f08b84f6c44e3cbb3188d08858dbbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90f08b84f6c44e3cbb3188d08858dbbc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2ab6c41855eb47958d643c2179f1b8a0.html" target="element"> Legal Opinion </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e5b2d13a0d04a5fbc9db47b09eec4b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5b2d13a0d04a5fbc9db47b09eec4b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd82aa635975413790234812b9ee134a.html" target="element"> Coverage Maintenance </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>