<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Data View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6f464e82ad814832aeb61ccbd0ca5a3d.png" alt="Data View" usemap="#id-6f464e82ad814832aeb61ccbd0ca5a3dmap"/>
			   <map name="id-6f464e82ad814832aeb61ccbd0ca5a3dmap">
				  				<area shape="rect" coords="941,231,1061,286" href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html"  target="element">

				          <area shape="rect" coords="885,171,1285,311" href="../objects/id-a3883069a2c54b93b332aece7da04db6.html" target="element" >
				  				<area shape="rect" coords="418,406,538,461" href="../elements/id-0f95a38c4d334079872db06c15d1262d.html"  target="element">
				  				<area shape="rect" coords="418,526,538,581" href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html"  target="element">
				  				<area shape="rect" coords="418,464,538,519" href="../elements/id-3551c07ced7b4948a528a70cb249300e.html"  target="element">

				          <area shape="rect" coords="406,358,562,622" href="../objects/id-f5d08680e74849d7a13fa9d07aaee33d.html" target="element" >
				          <area shape="rect" coords="886,10,1286,150" href="../objects/id-eee5769ff5d149a6a860c465e92b4d27.html" target="element" >
				  				<area shape="rect" coords="202,331,322,386" href="../elements/id-db474593cceb43898c28ce4fcfe8d027.html"  target="element">
				  				<area shape="rect" coords="58,331,178,386" href="../elements/id-261603df00dd442ba8ab5e4b8a9357d3.html"  target="element">
				  				<area shape="rect" coords="202,250,322,305" href="../elements/id-1c5d2edd4b174d3a893ec6952b332447.html"  target="element">
				  				<area shape="rect" coords="202,166,322,221" href="../elements/id-61ef22ba27d84895b14af634c0ab3545.html"  target="element">
				  				<area shape="rect" coords="46,166,166,221" href="../elements/id-5fb6141f05b54a42b34822870f504435.html"  target="element">
				  				<area shape="rect" coords="58,250,178,305" href="../elements/id-d758c5687e4b4a969f622d9b4322de71.html"  target="element">
				  				<area shape="rect" coords="202,82,322,137" href="../elements/id-640d63b0f8184748b3b5078daf9cc733.html"  target="element">
				  				<area shape="rect" coords="46,82,166,137" href="../elements/id-6d01ae8369ad47eea62691871f342caa.html"  target="element">

				          <area shape="rect" coords="10,10,383,431" href="../objects/id-0dc18cde5d6f49d9be22b7092d6525d7.html" target="element" >
				  				<area shape="rect" coords="694,166,814,221" href="../elements/id-21e093224c8f4b4b96e510a920513c35.html"  target="element">
				  				<area shape="rect" coords="562,226,682,281" href="../elements/id-3ac1ee2672a940db91dce4c68153086a.html"  target="element">
				  				<area shape="rect" coords="694,104,814,159" href="../elements/id-b5628008051c4fb897f2fb42436f295b.html"  target="element">
				  				<area shape="rect" coords="694,34,814,89" href="../elements/id-974c10e7e5be4af7a16ef772f9e87ddb.html"  target="element">
				  				<area shape="rect" coords="430,166,550,221" href="../elements/id-d8499101cdb040d09b30bab8a754e7a4.html"  target="element">
				  				<area shape="rect" coords="562,166,682,221" href="../elements/id-65e5cde47bdd4b2997cb566fba966149.html"  target="element">
				  				<area shape="rect" coords="562,104,682,159" href="../elements/id-695e57d4822745b997fc7e2de36d774e.html"  target="element">
				  				<area shape="rect" coords="430,104,550,159" href="../elements/id-d4c99b75226341f087f4da08e3e70a48.html"  target="element">
				  				<area shape="rect" coords="562,34,682,89" href="../elements/id-4d6904d59513445392d02f4151eba4ba.html"  target="element">
				  				<area shape="rect" coords="430,34,550,89" href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html"  target="element">

				          <area shape="rect" coords="406,10,851,311" href="../objects/id-5c0f7c7a842c4848b735c44b1ee0b436.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5c0f7c7a842c4848b735c44b1ee0b436.html" target="element"> Internal </a> </td>
									           <td> <a href="../objects/id-5c0f7c7a842c4848b735c44b1ee0b436.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4d6904d59513445392d02f4151eba4ba.html" target="element"> assessments_lib_db </a> </td>
													    <td> <a href="../elements/id-4d6904d59513445392d02f4151eba4ba.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4c99b75226341f087f4da08e3e70a48.html" target="element"> Emerge_db </a> </td>
													    <td> <a href="../elements/id-d4c99b75226341f087f4da08e3e70a48.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-695e57d4822745b997fc7e2de36d774e.html" target="element"> Library_db </a> </td>
													    <td> <a href="../elements/id-695e57d4822745b997fc7e2de36d774e.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65e5cde47bdd4b2997cb566fba966149.html" target="element"> Prevention_db </a> </td>
													    <td> <a href="../elements/id-65e5cde47bdd4b2997cb566fba966149.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8499101cdb040d09b30bab8a754e7a4.html" target="element"> prevention_doc_db </a> </td>
													    <td> <a href="../elements/id-d8499101cdb040d09b30bab8a754e7a4.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-974c10e7e5be4af7a16ef772f9e87ddb.html" target="element"> Registration_db </a> </td>
													    <td> <a href="../elements/id-974c10e7e5be4af7a16ef772f9e87ddb.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5628008051c4fb897f2fb42436f295b.html" target="element"> Security_db </a> </td>
													    <td> <a href="../elements/id-b5628008051c4fb897f2fb42436f295b.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ac1ee2672a940db91dce4c68153086a.html" target="element"> Shared_lookup_db </a> </td>
													    <td> <a href="../elements/id-3ac1ee2672a940db91dce4c68153086a.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21e093224c8f4b4b96e510a920513c35.html" target="element"> Wageloss_db </a> </td>
													    <td> <a href="../elements/id-21e093224c8f4b4b96e510a920513c35.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-0dc18cde5d6f49d9be22b7092d6525d7.html" target="element"> External </a> </td>
									           <td> <a href="../objects/id-0dc18cde5d6f49d9be22b7092d6525d7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-6d01ae8369ad47eea62691871f342caa.html" target="element"> application_administration_replication_db </a> </td>
													    <td> <a href="../elements/id-6d01ae8369ad47eea62691871f342caa.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-640d63b0f8184748b3b5078daf9cc733.html" target="element"> assessments_replication_db </a> </td>
													    <td> <a href="../elements/id-640d63b0f8184748b3b5078daf9cc733.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d758c5687e4b4a969f622d9b4322de71.html" target="element"> BI_output_db </a> </td>
													    <td> <a href="../elements/id-d758c5687e4b4a969f622d9b4322de71.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5fb6141f05b54a42b34822870f504435.html" target="element"> claims_online_db </a> </td>
													    <td> <a href="../elements/id-5fb6141f05b54a42b34822870f504435.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61ef22ba27d84895b14af634c0ab3545.html" target="element"> ehealth_services_db </a> </td>
													    <td> <a href="../elements/id-61ef22ba27d84895b14af634c0ab3545.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c5d2edd4b174d3a893ec6952b332447.html" target="element"> emerge_replication_db </a> </td>
													    <td> <a href="../elements/id-1c5d2edd4b174d3a893ec6952b332447.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-261603df00dd442ba8ab5e4b8a9357d3.html" target="element"> external_security_db </a> </td>
													    <td> <a href="../elements/id-261603df00dd442ba8ab5e4b8a9357d3.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db474593cceb43898c28ce4fcfe8d027.html" target="element"> shared_lookup_db </a> </td>
													    <td> <a href="../elements/id-db474593cceb43898c28ce4fcfe8d027.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-eee5769ff5d149a6a860c465e92b4d27.html" target="element"> BI Servers </a> </td>
									           <td> <a href="../objects/id-eee5769ff5d149a6a860c465e92b4d27.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f5d08680e74849d7a13fa9d07aaee33d.html" target="element"> Content Manager </a> </td>
									           <td> <a href="../objects/id-f5d08680e74849d7a13fa9d07aaee33d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element"> Assessments Resource Manager db </a> </td>
													    <td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element"> Compensation Resource Manager db </a> </td>
													    <td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element"> Library Server db </a> </td>
													    <td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a3883069a2c54b93b332aece7da04db6.html" target="element"> Lawson </a> </td>
									           <td> <a href="../objects/id-a3883069a2c54b93b332aece7da04db6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>