<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Departments</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Departments</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6081c1f96a2d42f9ada0ffe71e29828c.png" alt="Departments" usemap="#id-6081c1f96a2d42f9ada0ffe71e29828cmap"/>
			   <map name="id-6081c1f96a2d42f9ada0ffe71e29828cmap">
				  		<area shape="rect" coords="336,256,456,311" href="../elements/id-0e95cc54129b4400b295281793101274.html"  target="element">
				  		<area shape="rect" coords="336,154,456,209" href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html"  target="element">
				  		<area shape="rect" coords="324,334,444,389" href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html"  target="element">
				  		<area shape="rect" coords="745,430,865,485" href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html"  target="element">
				  		<area shape="rect" coords="336,490,456,545" href="../elements/id-42809da3360a431786182618799eb5c6.html"  target="element">
				  		<area shape="rect" coords="733,190,853,245" href="../elements/id-33dbb98b9a754215a94399d3268c87b3.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-02adc4d680194cc9bead59d1c7334459.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="156,16,877,59" href="../objects/id-9db27c5571104aba9bafbefdff9c8041.html" target="element" >
				          <area shape="rect" coords="10,646,195,677" href="../objects/id-6ac70edc43b44abd8f037df2a5921f0f.html" target="element" >
				  		<area shape="rect" coords="493,250,613,305" href="../elements/id-dcaf0a8ae80543c4a6b486b381b2e6cb.html"  target="element">
				  		<area shape="rect" coords="493,130,613,185" href="../elements/id-427e1b52206d4261bbcd711316f913ba.html"  target="element">
				  		<area shape="rect" coords="493,70,613,125" href="../elements/id-17d643b366ea409eb1ed68db46e990a9.html"  target="element">
				  		<area shape="rect" coords="168,370,288,425" href="../elements/id-767b58c6d57b4cfc83b51e655acdf60e.html"  target="element">
				  		<area shape="rect" coords="168,310,288,365" href="../elements/id-a0779a10813241a9bda794b9c10f8eeb.html"  target="element">
				  		<area shape="rect" coords="168,430,288,485" href="../elements/id-f9a99236ff6e45f3a1b485833510ea4d.html"  target="element">
				  		<area shape="rect" coords="168,70,288,125" href="../elements/id-094cb731fd19449597cf63fdb6a8ac98.html"  target="element">
				  		<area shape="rect" coords="493,436,613,491" href="../elements/id-fc109ba32903414d849934e868f1c6b8.html"  target="element">
				  		<area shape="rect" coords="493,376,613,431" href="../elements/id-c78a3569e5334a1cb5009f92d7c6c10a.html"  target="element">
				  		<area shape="rect" coords="493,310,613,365" href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html"  target="element">
				  		<area shape="rect" coords="493,190,613,245" href="../elements/id-2abbbc144f654aa2b23c9b4646c79a55.html"  target="element">
				  		<area shape="rect" coords="168,490,288,545" href="../elements/id-e891a27f725c404299e44c2cd01aa8d5.html"  target="element">
				  		<area shape="rect" coords="168,250,288,305" href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html"  target="element">
				  		<area shape="rect" coords="168,190,301,245" href="../elements/id-108266ed73ce498385a81b826204d38a.html"  target="element">
				  		<area shape="rect" coords="168,130,288,185" href="../elements/id-105e7170556f4ebfa9ab3f3a493fe942.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-105e7170556f4ebfa9ab3f3a493fe942.html" target="element"> Assessment Services Department </a> </td>
											    <td> <a href="../elements/id-105e7170556f4ebfa9ab3f3a493fe942.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element"> Communications Department </a> </td>
											    <td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element"> Compensation Services Department </a> </td>
											    <td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e891a27f725c404299e44c2cd01aa8d5.html" target="element"> Finance Department </a> </td>
											    <td> <a href="../elements/id-e891a27f725c404299e44c2cd01aa8d5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2abbbc144f654aa2b23c9b4646c79a55.html" target="element"> Information Technology Department </a> </td>
											    <td> <a href="../elements/id-2abbbc144f654aa2b23c9b4646c79a55.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element"> Legal &amp; Policy Services Department </a> </td>
											    <td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c78a3569e5334a1cb5009f92d7c6c10a.html" target="element"> Review Office Department </a> </td>
											    <td> <a href="../elements/id-c78a3569e5334a1cb5009f92d7c6c10a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element"> SAFE Work Department </a> </td>
											    <td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-094cb731fd19449597cf63fdb6a8ac98.html" target="element"> Adiministration Services - Safety &amp; Security Department </a> </td>
											    <td> <a href="../elements/id-094cb731fd19449597cf63fdb6a8ac98.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9a99236ff6e45f3a1b485833510ea4d.html" target="element"> Facilities Department </a> </td>
											    <td> <a href="../elements/id-f9a99236ff6e45f3a1b485833510ea4d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0779a10813241a9bda794b9c10f8eeb.html" target="element"> Compliance Services Department </a> </td>
											    <td> <a href="../elements/id-a0779a10813241a9bda794b9c10f8eeb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-767b58c6d57b4cfc83b51e655acdf60e.html" target="element"> Corporate Services Department </a> </td>
											    <td> <a href="../elements/id-767b58c6d57b4cfc83b51e655acdf60e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17d643b366ea409eb1ed68db46e990a9.html" target="element"> Healthcare Services Department </a> </td>
											    <td> <a href="../elements/id-17d643b366ea409eb1ed68db46e990a9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element"> Human Resources Department </a> </td>
											    <td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dcaf0a8ae80543c4a6b486b381b2e6cb.html" target="element"> Internal Audit Department </a> </td>
											    <td> <a href="../elements/id-dcaf0a8ae80543c4a6b486b381b2e6cb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6ac70edc43b44abd8f037df2a5921f0f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6ac70edc43b44abd8f037df2a5921f0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9db27c5571104aba9bafbefdff9c8041.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9db27c5571104aba9bafbefdff9c8041.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view"> WCB Business on a Page </a> </td>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-33dbb98b9a754215a94399d3268c87b3.html" target="element"> VP &amp; Chief Technology Officer </a> </td>
											    <td> <a href="../elements/id-33dbb98b9a754215a94399d3268c87b3.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-42809da3360a431786182618799eb5c6.html" target="element"> VP &amp; Chief Financial Officer </a> </td>
											    <td> <a href="../elements/id-42809da3360a431786182618799eb5c6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element"> VP, SAFE Work Manitoba </a> </td>
											    <td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html" target="element"> VP, Legal, Compliance &amp; Corporate Services </a> </td>
											    <td> <a href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
											    <td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element"> VP, Compensation Services </a> </td>
											    <td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-880a66894d7643889e2cd3506d2f482d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-880a66894d7643889e2cd3506d2f482d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-108266ed73ce498385a81b826204d38a.html" target="element"> Communications Department </a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24b0b26741dd4fffa2c2b6c8084b727d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24b0b26741dd4fffa2c2b6c8084b727d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element"> Compensation Services Department </a> </td>
																		<td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element"> VP, Compensation Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01c5f57a3ab64fb9acbd1d7355772718.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01c5f57a3ab64fb9acbd1d7355772718.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e891a27f725c404299e44c2cd01aa8d5.html" target="element"> Finance Department </a> </td>
																		<td> <a href="../elements/id-42809da3360a431786182618799eb5c6.html" target="element"> VP &amp; Chief Financial Officer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b0a54256486141f8b9332a873d136db9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0a54256486141f8b9332a873d136db9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2abbbc144f654aa2b23c9b4646c79a55.html" target="element"> Information Technology Department </a> </td>
																		<td> <a href="../elements/id-33dbb98b9a754215a94399d3268c87b3.html" target="element"> VP &amp; Chief Technology Officer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1a6880ff2fe64cf296daef22cc6c903a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a6880ff2fe64cf296daef22cc6c903a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element"> Legal &amp; Policy Services Department </a> </td>
																		<td> <a href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html" target="element"> VP, Legal, Compliance &amp; Corporate Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7aa786a6925c44a9b11c370b7580ec51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7aa786a6925c44a9b11c370b7580ec51.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a0779a10813241a9bda794b9c10f8eeb.html" target="element"> Compliance Services Department </a> </td>
																		<td> <a href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html" target="element"> VP, Legal, Compliance &amp; Corporate Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed2a200237c8487f808b5a1a6e9b4cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed2a200237c8487f808b5a1a6e9b4cbf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-427e1b52206d4261bbcd711316f913ba.html" target="element"> Human Resources Department </a> </td>
																		<td> <a href="../elements/id-ce7c11f6b4db4ded9eb953a8bf547813.html" target="element"> VP, Human Resources &amp; Communications </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-c641e24388664d828dc19c80e1e81b67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c641e24388664d828dc19c80e1e81b67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element"> VP, SAFE Work Manitoba </a> </td>
																		<td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element"> SAFE Work Department </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-584fdbd214c04c639bb48d435cac8774.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-584fdbd214c04c639bb48d435cac8774.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cf20e7346eb04ba78e6464c1b2733d0f.html" target="element"> VP, Legal, Compliance &amp; Corporate Services </a> </td>
																		<td> <a href="../elements/id-767b58c6d57b4cfc83b51e655acdf60e.html" target="element"> Corporate Services Department </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>