<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VP, Compensation Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VP, Compensation Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7af738e59b9b4cc18b7045b21751010c.png" alt="VP, Compensation Services" usemap="#id-7af738e59b9b4cc18b7045b21751010cmap"/>
			   <map name="id-7af738e59b9b4cc18b7045b21751010cmap">
				  		<area shape="rect" coords="821,36,941,91" href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html"  target="element">
				  		<area shape="rect" coords="178,130,298,185" href="../views/id-710d461c5fba4c44a5fea31afb8982a5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="394,226,514,281" href="../views/id-c21191b161e7427f9ce457c8673e86f1.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="418,130,551,203" href="../views/id-982c936d10c649c593885c18285d20c0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="41,226,167,311" href="../views/id-3e97bc36f0f247db84fe945b7bdae7be.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="574,130,707,203" href="../views/id-c1aa3663ebbf400580ccda009ad39c1f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="262,226,382,281" href="../views/id-a3d8bb3eeb0346debe72979386313fd4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="22,130,155,185" href="../views/id-cd29c1cf77514444b5ee14e3af7339c8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,56,39" href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="226,22,346,77" href="../elements/id-0e95cc54129b4400b295281793101274.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element"> VP, Compensation Services </a> </td>
											    <td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view"> Org Chart </a> </td>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-cd29c1cf77514444b5ee14e3af7339c8.html" target="view"> Director, Administration </a> </td>
											    <td> <a href="../views/id-cd29c1cf77514444b5ee14e3af7339c8.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-a3d8bb3eeb0346debe72979386313fd4.html" target="view"> Director, Case Management </a> </td>
											    <td> <a href="../views/id-a3d8bb3eeb0346debe72979386313fd4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c1aa3663ebbf400580ccda009ad39c1f.html" target="view"> Director, Claims Service Centre, Payments & Medical Aid </a> </td>
											    <td> <a href="../views/id-c1aa3663ebbf400580ccda009ad39c1f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-3e97bc36f0f247db84fe945b7bdae7be.html" target="view"> Director, Compensation Performance, Training & Quality </a> </td>
											    <td> <a href="../views/id-3e97bc36f0f247db84fe945b7bdae7be.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-982c936d10c649c593885c18285d20c0.html" target="view"> Director, Compensation Professional Services </a> </td>
											    <td> <a href="../views/id-982c936d10c649c593885c18285d20c0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c21191b161e7427f9ce457c8673e86f1.html" target="view"> Director, Regional Offices </a> </td>
											    <td> <a href="../views/id-c21191b161e7427f9ce457c8673e86f1.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-710d461c5fba4c44a5fea31afb8982a5.html" target="view"> Director, Short Term Claims </a> </td>
											    <td> <a href="../views/id-710d461c5fba4c44a5fea31afb8982a5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element"> Compensation Services Department </a> </td>
											    <td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-24b0b26741dd4fffa2c2b6c8084b727d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24b0b26741dd4fffa2c2b6c8084b727d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-996a49c7fdac4d37b48d1adc7bc8bcc9.html" target="element"> Compensation Services Department </a> </td>
																		<td> <a href="../elements/id-0e95cc54129b4400b295281793101274.html" target="element"> VP, Compensation Services </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>