<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.3 Capital Asset Management Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.3 Capital Asset Management Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8783cbef8cdd43d1a1fccb11117aaab1.png" alt="3.8.3 Capital Asset Management Functions View" usemap="#id-8783cbef8cdd43d1a1fccb11117aaab1map"/>
			   <map name="id-8783cbef8cdd43d1a1fccb11117aaab1map">
				  				<area shape="rect" coords="94,142,214,197" href="../elements/id-220141e156764c99ad047c3239403c8b.html"  target="element">
				  				<area shape="rect" coords="262,142,382,197" href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html"  target="element">
				  				<area shape="rect" coords="430,142,550,197" href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html"  target="element">

				  		<area shape="rect" coords="46,106,587,224" href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html"  target="element">
				  		<area shape="rect" coords="418,286,538,341" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="82,286,202,341" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="142,16,755,59" href="../objects/id-5ae6516cfde5484c815b834517a99703.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-5ae6516cfde5484c815b834517a99703.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5ae6516cfde5484c815b834517a99703.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html" target="element"> 3.8.3 Capital Asset Management Functions </a> </td>
											    <td> <a href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html" target="element"> 3.8.3.2 Asset retirement and disposal </a> </td>
													    <td> <a href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html" target="element"> 3.8.3.1 Amortization calculations </a> </td>
													    <td> <a href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-220141e156764c99ad047c3239403c8b.html" target="element"> 3.8.3.3 Asset tracking and reporting </a> </td>
													    <td> <a href="../elements/id-220141e156764c99ad047c3239403c8b.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-4d86e0c1e8614fbcbcb14ffa2aeba094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d86e0c1e8614fbcbcb14ffa2aeba094.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-220141e156764c99ad047c3239403c8b.html" target="element"> 3.8.3.3 Asset tracking and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9da74a6469747e69f78310ae3ba6227.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9da74a6469747e69f78310ae3ba6227.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html" target="element"> 3.8.3.1 Amortization calculations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5651b01fe1b944c1adb667880d84ad02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5651b01fe1b944c1adb667880d84ad02.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html" target="element"> 3.8.3.2 Asset retirement and disposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec381e022e3c4c069dca221f07facc7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec381e022e3c4c069dca221f07facc7d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html" target="element"> 3.8.3.2 Asset retirement and disposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53a9f8aa2acf42a88c3a46f6c10652d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53a9f8aa2acf42a88c3a46f6c10652d7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html" target="element"> 3.8.3.1 Amortization calculations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-232bfd96dc584ad586122823526e87bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-232bfd96dc584ad586122823526e87bd.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-220141e156764c99ad047c3239403c8b.html" target="element"> 3.8.3.3 Asset tracking and reporting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55c4c8f99d534afab72de2b05840bad2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55c4c8f99d534afab72de2b05840bad2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html" target="element"> 3.8.3 Capital Asset Management Functions </a> </td>
																		<td> <a href="../elements/id-41f736d1c9f048269aac06e677a22a5f.html" target="element"> 3.8.3.2 Asset retirement and disposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50147a137e88453598683501ed825cd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50147a137e88453598683501ed825cd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html" target="element"> 3.8.3 Capital Asset Management Functions </a> </td>
																		<td> <a href="../elements/id-8592ea1d378e42ca91879b8bf5f78d56.html" target="element"> 3.8.3.1 Amortization calculations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-482f4944f1ff44bba8530889ff52fb79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-482f4944f1ff44bba8530889ff52fb79.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc081de9629d47d391732b8cb18cfc8a.html" target="element"> 3.8.3 Capital Asset Management Functions </a> </td>
																		<td> <a href="../elements/id-220141e156764c99ad047c3239403c8b.html" target="element"> 3.8.3.3 Asset tracking and reporting </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>