<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.1 Accounts Payable Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.1 Accounts Payable Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8fbea4d087b8467f8d93178e6a84dfe9.png" alt="3.8.1 Accounts Payable Functions View" usemap="#id-8fbea4d087b8467f8d93178e6a84dfe9map"/>
			   <map name="id-8fbea4d087b8467f8d93178e6a84dfe9map">
				  		<area shape="rect" coords="204,448,324,503" href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html"  target="element">
				  		<area shape="rect" coords="22,268,142,323" href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html"  target="element">
				  				<area shape="rect" coords="706,124,826,179" href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html"  target="element">
				  				<area shape="rect" coords="514,124,634,179" href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html"  target="element">
				  				<area shape="rect" coords="310,124,430,179" href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html"  target="element">
				  				<area shape="rect" coords="22,124,142,179" href="../elements/id-49781b7f16c94f66b88e36705150c90e.html"  target="element">

				  		<area shape="rect" coords="10,88,891,209" href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html"  target="element">
				  		<area shape="rect" coords="720,270,838,321" href="../elements/id-532d13dd10214e2ba424f307f72b403a.html"  target="element">
				  		<area shape="rect" coords="310,268,430,323" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="22,364,142,419" href="../elements/id-1b275ed4581747b0ab5226630da5f7c0.html"  target="element">
				  		<area shape="rect" coords="514,268,634,323" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  		<area shape="rect" coords="22,448,142,503" href="../elements/id-6b1a562026f74e0d94697ccac15f42f3.html"  target="element">
				          <area shape="rect" coords="735,520,892,663" href="../objects/id-1acf49511aa842f9b65aaaafea0420c7.html" target="element" >
				          <area shape="rect" coords="515,520,684,652" href="../objects/id-efd3a2cb27344640b563014e4ba72aad.html" target="element" >
				          <area shape="rect" coords="323,520,448,638" href="../objects/id-15954854ada34ca091d01c3a567aa408.html" target="element" >
				          <area shape="rect" coords="34,514,155,670" href="../objects/id-101346240d6a4081be822deb4eba6666.html" target="element" >
				  		<area shape="rect" coords="22,10,142,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="129,16,838,59" href="../objects/id-da3edb7364d04a12a3aca92c89ecbe89.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-da3edb7364d04a12a3aca92c89ecbe89.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da3edb7364d04a12a3aca92c89ecbe89.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-101346240d6a4081be822deb4eba6666.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-101346240d6a4081be822deb4eba6666.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-15954854ada34ca091d01c3a567aa408.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-15954854ada34ca091d01c3a567aa408.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-efd3a2cb27344640b563014e4ba72aad.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-efd3a2cb27344640b563014e4ba72aad.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1acf49511aa842f9b65aaaafea0420c7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1acf49511aa842f9b65aaaafea0420c7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6b1a562026f74e0d94697ccac15f42f3.html" target="element"> Formalize RFP Purchase </a> </td>
											    <td> <a href="../elements/id-6b1a562026f74e0d94697ccac15f42f3.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b275ed4581747b0ab5226630da5f7c0.html" target="element"> Contract and Procurement Analyst </a> </td>
											    <td> <a href="../elements/id-1b275ed4581747b0ab5226630da5f7c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element"> Document Express (Software for writing cheques) </a> </td>
											    <td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element"> 3.8.1 Accounts Payable Functions </a> </td>
											    <td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-49781b7f16c94f66b88e36705150c90e.html" target="element"> 3.8.1.3 Purchasing </a> </td>
													    <td> <a href="../elements/id-49781b7f16c94f66b88e36705150c90e.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html" target="element"> 3.8.1.1 Expense tracking and reporting </a> </td>
													    <td> <a href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html" target="element"> 3.8.1.2 Invoice processing and management </a> </td>
													    <td> <a href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html" target="element"> 3.8.1.4 Vendor payment processing </a> </td>
													    <td> <a href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
											    <td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element"> Legal &amp; Policy Services </a> </td>
											    <td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3a6dcf0b70144241a35b26ddc116b952.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a6dcf0b70144241a35b26ddc116b952.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html" target="element"> 3.8.1.1 Expense tracking and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8dcd8d2dfe9d44a9afa9c3af3ff50f53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dcd8d2dfe9d44a9afa9c3af3ff50f53.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html" target="element"> 3.8.1.2 Invoice processing and management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9da848cb66a541729f6fb78f7403e31b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9da848cb66a541729f6fb78f7403e31b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html" target="element"> 3.8.1.4 Vendor payment processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c6f7bc15f684029967b95cd74409985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c6f7bc15f684029967b95cd74409985.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b275ed4581747b0ab5226630da5f7c0.html" target="element"> Contract and Procurement Analyst </a> </td>
																		<td> <a href="../elements/id-6b1a562026f74e0d94697ccac15f42f3.html" target="element"> Formalize RFP Purchase </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a520a4d6fadf441eb5d61cae3d45dbf3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a520a4d6fadf441eb5d61cae3d45dbf3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html" target="element"> 3.8.1.1 Expense tracking and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a6228ca18c940ed975992cd776b891b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a6228ca18c940ed975992cd776b891b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html" target="element"> 3.8.1.2 Invoice processing and management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-09899503fb08457fadd3f5d3ce55a16a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09899503fb08457fadd3f5d3ce55a16a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-532d13dd10214e2ba424f307f72b403a.html" target="element"> Document Express (Software for writing cheques) </a> </td>
																		<td> <a href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html" target="element"> 3.8.1.4 Vendor payment processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad8c1fae2d354b70a9eaa00560e211c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad8c1fae2d354b70a9eaa00560e211c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element"> 3.8.1 Accounts Payable Functions </a> </td>
																		<td> <a href="../elements/id-49781b7f16c94f66b88e36705150c90e.html" target="element"> 3.8.1.3 Purchasing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b151a57ffd9b406ab406d813b3571b72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b151a57ffd9b406ab406d813b3571b72.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element"> 3.8.1 Accounts Payable Functions </a> </td>
																		<td> <a href="../elements/id-809ef87e3d1b40da9dada378159be1a0.html" target="element"> 3.8.1.1 Expense tracking and reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f148332bba145078c6d6a698dfb99f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f148332bba145078c6d6a698dfb99f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element"> 3.8.1 Accounts Payable Functions </a> </td>
																		<td> <a href="../elements/id-1f8c0c2859ef496998e80a7ac26c15dc.html" target="element"> 3.8.1.2 Invoice processing and management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-32fff41e42fe4c3c9a010521c0b1a4e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32fff41e42fe4c3c9a010521c0b1a4e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8ead3d6e63ce45a598ae82b74fa9bc93.html" target="element"> 3.8.1 Accounts Payable Functions </a> </td>
																		<td> <a href="../elements/id-be0481d077ec4d6880199b2f60f04cb4.html" target="element"> 3.8.1.4 Vendor payment processing </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2740024a9cea4fe98cc19b9783b794b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2740024a9cea4fe98cc19b9783b794b6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
																		<td> <a href="../elements/id-1b275ed4581747b0ab5226630da5f7c0.html" target="element"> Contract and Procurement Analyst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-900c26acea7a4e618bd30aa2de249cd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-900c26acea7a4e618bd30aa2de249cd5.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5d4bec0f41b74e9caa290b45487795d3.html" target="element"> Merx </a> </td>
																		<td> <a href="../elements/id-49781b7f16c94f66b88e36705150c90e.html" target="element"> 3.8.1.3 Purchasing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e932c7504fb4f9a8c155c1fe246fb62.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e932c7504fb4f9a8c155c1fe246fb62.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10abc2c1c2a64b169aada3d4097096fa.html" target="element"> Legal &amp; Policy Services </a> </td>
																		<td> <a href="../elements/id-6b1a562026f74e0d94697ccac15f42f3.html" target="element"> Formalize RFP Purchase </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>