<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.10 Payroll Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.10 Payroll Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-outcome_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_outcome_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8ff29fabe07844bd81282582ca908d0e.png" alt="3.8.10 Payroll Functions View" usemap="#id-8ff29fabe07844bd81282582ca908d0emap"/>
			   <map name="id-8ff29fabe07844bd81282582ca908d0emap">
				          <area shape="rect" coords="10,604,195,635" href="../objects/id-441cb6b0564f48388c73cf65aa284b9e.html" target="element" >
				  		<area shape="rect" coords="826,280,946,335" href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html"  target="element">
				  		<area shape="rect" coords="826,121,946,176" href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html"  target="element">
				  		<area shape="rect" coords="826,208,946,263" href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html"  target="element">
				  				<area shape="rect" coords="22,124,142,179" href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html"  target="element">
				  				<area shape="rect" coords="226,124,431,179" href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html"  target="element">
				  				<area shape="rect" coords="490,124,610,179" href="../elements/id-c64a15843670497e854b112659bf7304.html"  target="element">

				  		<area shape="rect" coords="10,88,695,209" href="../elements/id-966048b2fb0545dca96519cb0dab826e.html"  target="element">
				  		<area shape="rect" coords="179,412,299,467" href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html"  target="element">
				  		<area shape="rect" coords="551,412,671,467" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="10,412,130,467" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				  		<area shape="rect" coords="347,412,467,467" href="../elements/id-36b646125358437f957ea916e425fc03.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="129,16,838,59" href="../objects/id-8c8ee66a9d764c3ea5f702944b99c600.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-8c8ee66a9d764c3ea5f702944b99c600.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8c8ee66a9d764c3ea5f702944b99c600.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-outcome_realization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element"> Vista </a> </td>
											    <td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-966048b2fb0545dca96519cb0dab826e.html" target="element"> 3.8.10 Payroll Functions </a> </td>
											    <td> <a href="../elements/id-966048b2fb0545dca96519cb0dab826e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element"> 3.8.10.3 T4 processing </a> </td>
													    <td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
													    <td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
													    <td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element"> Canada Life </a> </td>
											    <td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element"> CRA Portal </a> </td>
											    <td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element"> Aon </a> </td>
											    <td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-441cb6b0564f48388c73cf65aa284b9e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-441cb6b0564f48388c73cf65aa284b9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-747e45a2659942568939c466fdf0a220.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-747e45a2659942568939c466fdf0a220.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element"> Vista </a> </td>
																		<td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1db2106114094715b0556e167433a19a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1db2106114094715b0556e167433a19a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36b646125358437f957ea916e425fc03.html" target="element"> Vista </a> </td>
																		<td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element"> 3.8.10.3 T4 processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e7c44d687e3141f99ee6eadc26fbd2df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7c44d687e3141f99ee6eadc26fbd2df.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5faa4bae4db64395bb7b467d46899952.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5faa4bae4db64395bb7b467d46899952.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c54bde4825724e5d92511954f7ca9494.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c54bde4825724e5d92511954f7ca9494.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9e6bf32e4f24a529d9d2972a88a1165.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9e6bf32e4f24a529d9d2972a88a1165.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b50330ac272c4eb6b3a4a43993526b2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b50330ac272c4eb6b3a4a43993526b2b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element"> 3.8.10.3 T4 processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c3bb169368a143138440c62fb648ce11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3bb169368a143138440c62fb648ce11.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
																		<td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-996de3114d3841769ee1571816efd107.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-996de3114d3841769ee1571816efd107.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d70241f7b534aa784f03870b76dbe2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d70241f7b534aa784f03870b76dbe2c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966048b2fb0545dca96519cb0dab826e.html" target="element"> 3.8.10 Payroll Functions </a> </td>
																		<td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element"> 3.8.10.3 T4 processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71d1bafd0e04428ba7e9fb90ae047fe6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71d1bafd0e04428ba7e9fb90ae047fe6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966048b2fb0545dca96519cb0dab826e.html" target="element"> 3.8.10 Payroll Functions </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a6d21621b6d45138a6ad1c17ed79023.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a6d21621b6d45138a6ad1c17ed79023.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-966048b2fb0545dca96519cb0dab826e.html" target="element"> 3.8.10 Payroll Functions </a> </td>
																		<td> <a href="../elements/id-21ba8432d9344ceb8c96f349d65ab331.html" target="element"> 3.8.10.1 Bi-weekly payroll </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0dfd167d6eda44778a6cbb23248b8737.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0dfd167d6eda44778a6cbb23248b8737.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3b66544745c4d5d845b7da6a7823135.html" target="element"> Canada Life </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f830999d74a84156826564cd0b7b5c08.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f830999d74a84156826564cd0b7b5c08.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c8526cdc21c045ab969d2344de7a44e1.html" target="element"> CRA Portal </a> </td>
																		<td> <a href="../elements/id-c64a15843670497e854b112659bf7304.html" target="element"> 3.8.10.3 T4 processing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75d5d4124dc344fb8c889c469ecfe4a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75d5d4124dc344fb8c889c469ecfe4a0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3ea62ba959f84852b28ac44f0df5024e.html" target="element"> Aon </a> </td>
																		<td> <a href="../elements/id-0f7fb20f50e443f6ae40ef2db0e68b66.html" target="element"> 3.8.10.2 Pension and Benefits reconciliations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>