<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Employer Services Api Integration</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Employer Services Api Integration</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8519f4830a864139bd49b4c52fbdf3d7.png" alt="Employer Services Api Integration" usemap="#id-8519f4830a864139bd49b4c52fbdf3d7map"/>
			   <map name="id-8519f4830a864139bd49b4c52fbdf3d7map">
				          <area shape="rect" coords="22,688,207,719" href="../objects/id-ab7f7ed98fa84a0f871349cc8a2f0290.html" target="element" >
				  		<area shape="rect" coords="10,18,59,46" href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="82,10,755,53" href="../objects/id-192eecc2edf94ea5afa55c0f3bfcb4c3.html" target="element" >
				          <area shape="rect" coords="658,292,803,341" href="../objects/id-7a08bbc9e2374ec4a7a8c2f776487ac1.html" target="element" >
				  				<area shape="rect" coords="658,460,778,515" href="../elements/id-662182463e1a41d2ad83ed7bfa252bff.html"  target="element">

				  		<area shape="rect" coords="622,424,831,551" href="../elements/id-4f71de131d0749da893c2f3bb386abc4.html"  target="element">
				  				<area shape="rect" coords="430,460,550,515" href="../elements/id-0bd05f1a28d74f508bab13db782201a8.html"  target="element">

				  		<area shape="rect" coords="394,424,583,551" href="../elements/id-1a1e42f11a364763b1665a85e6ee33d2.html"  target="element">
				  				<area shape="rect" coords="34,196,154,251" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  				<area shape="rect" coords="166,196,286,251" href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html"  target="element">
				  				<area shape="rect" coords="274,112,407,164" href="../elements/id-f931e326600b4750971df2bbecea115e.html"  target="element">
				  				<area shape="rect" coords="82,112,215,164" href="../elements/id-2200602adf494eae9a05823e75e734c1.html"  target="element">

				  		<area shape="rect" coords="22,76,479,317" href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html"  target="element">
				  				<area shape="rect" coords="46,460,166,515" href="../elements/id-cf46b47aec84452c85fb6d05c79ba60f.html"  target="element">
				  				<area shape="rect" coords="178,460,298,515" href="../elements/id-bc1f20a762b54332abefad6fa354b824.html"  target="element">

				  		<area shape="rect" coords="34,424,311,551" href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html"  target="element">
				  				<area shape="rect" coords="538,112,658,167" href="../elements/id-ed0722625be34bf9904e886054e2715c.html"  target="element">

				  		<area shape="rect" coords="514,76,695,197" href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view is dedicated to scenario when Financial Services (Lawson Financial Suite) together with Employer Services (Optimal and other apps) will be
replaced with COTS. The view visualizes the relationships between these two systems and other systems.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
											    <td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
													    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf46b47aec84452c85fb6d05c79ba60f.html" target="element"> Document Web Service </a> </td>
													    <td> <a href="../elements/id-cf46b47aec84452c85fb6d05c79ba60f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
													    <td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1a1e42f11a364763b1665a85e6ee33d2.html" target="element"> Kofax </a> </td>
											    <td> <a href="../elements/id-1a1e42f11a364763b1665a85e6ee33d2.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0bd05f1a28d74f508bab13db782201a8.html" target="element"> Optimal Kofax Event Publisher </a> </td>
													    <td> <a href="../elements/id-0bd05f1a28d74f508bab13db782201a8.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4f71de131d0749da893c2f3bb386abc4.html" target="element"> Prevention </a> </td>
											    <td> <a href="../elements/id-4f71de131d0749da893c2f3bb386abc4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-662182463e1a41d2ad83ed7bfa252bff.html" target="element"> Prevention ETL Process </a> </td>
													    <td> <a href="../elements/id-662182463e1a41d2ad83ed7bfa252bff.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7a08bbc9e2374ec4a7a8c2f776487ac1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7a08bbc9e2374ec4a7a8c2f776487ac1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-192eecc2edf94ea5afa55c0f3bfcb4c3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-192eecc2edf94ea5afa55c0f3bfcb4c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view"> Employer Services </a> </td>
											    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-ab7f7ed98fa84a0f871349cc8a2f0290.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ab7f7ed98fa84a0f871349cc8a2f0290.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f046d67552c4495582ef782397016828.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f046d67552c4495582ef782397016828.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
																		<td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60e2bbaecdf44695a45c1a5cc78eac23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60e2bbaecdf44695a45c1a5cc78eac23.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
																		<td> <a href="../elements/id-cf46b47aec84452c85fb6d05c79ba60f.html" target="element"> Document Web Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aaf5e5ac9adf40edb9e9877785806a63.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aaf5e5ac9adf40edb9e9877785806a63.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
																				<td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9bab677806564b9296dfdd14217523d9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9bab677806564b9296dfdd14217523d9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cf46b47aec84452c85fb6d05c79ba60f.html" target="element"> Document Web Service </a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ce9df7f939e47c4a4fe2a39dc74b193.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ce9df7f939e47c4a4fe2a39dc74b193.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e75dbeb7b588465b9c82ccca58cd492e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e75dbeb7b588465b9c82ccca58cd492e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc8a905811484c16a2116111ca6aaca4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc8a905811484c16a2116111ca6aaca4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fd61c4bf98984edfaf98928dc738eb7b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd61c4bf98984edfaf98928dc738eb7b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																				<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8a399b14fa4c488d96cdceec7493005d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8a399b14fa4c488d96cdceec7493005d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6cf0112a97d04686b934403a505e9af3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cf0112a97d04686b934403a505e9af3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a1e42f11a364763b1665a85e6ee33d2.html" target="element"> Kofax </a> </td>
																		<td> <a href="../elements/id-0bd05f1a28d74f508bab13db782201a8.html" target="element"> Optimal Kofax Event Publisher </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1a6db8ecf6434a59beacb8d81fdbfd45.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a6db8ecf6434a59beacb8d81fdbfd45.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bd05f1a28d74f508bab13db782201a8.html" target="element"> Optimal Kofax Event Publisher </a> </td>
																				<td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-14168a834280430c867bc19e7e62ceda.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14168a834280430c867bc19e7e62ceda.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f71de131d0749da893c2f3bb386abc4.html" target="element"> Prevention </a> </td>
																		<td> <a href="../elements/id-662182463e1a41d2ad83ed7bfa252bff.html" target="element"> Prevention ETL Process </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-68399371a4994890ac919d69f9ca0e02.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-68399371a4994890ac919d69f9ca0e02.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-662182463e1a41d2ad83ed7bfa252bff.html" target="element"> Prevention ETL Process </a> </td>
																				<td> <a href="../elements/id-ed668a87adf0492ba85dc6d51437e6ab.html" target="element"> Optimal Web Endpoint </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>