<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Technology Domain View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Technology Domain View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-826ad625301d489f88e2d512bbabc4a2.png" alt="Technology Domain View" usemap="#id-826ad625301d489f88e2d512bbabc4a2map"/>
			   <map name="id-826ad625301d489f88e2d512bbabc4a2map">
				  		<area shape="rect" coords="478,130,598,185" href="../views/id-d39b163da0904a86892ee8638da2d8aa.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="682,226,802,281" href="../views/id-e4486ad119fd4e35ba4e4f7a719c0297.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="286,226,406,281" href="../views/id-24935449d43b43988afd37d89acb7eef.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="478,226,598,281" href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,36,47,63" href="../views/id-546e94f6ad2d43efa7017c6942d02902.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="298,10,743,90" href="../objects/id-8f764fe59e3f4d4eae4d2144828483ca.html" target="element" >
				          <area shape="rect" coords="1006,598,1283,683" href="../objects/id-bbe66d8a70fc4d86919047f857ceafbd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>tag</td><td class="convertlinks no-margin" style="white-space:pre-wrap">root view</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-bbe66d8a70fc4d86919047f857ceafbd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bbe66d8a70fc4d86919047f857ceafbd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8f764fe59e3f4d4eae4d2144828483ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8f764fe59e3f4d4eae4d2144828483ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-546e94f6ad2d43efa7017c6942d02902.html" target="view"> Current State Architecture </a> </td>
											    <td> <a href="../views/id-546e94f6ad2d43efa7017c6942d02902.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view"> Financial Services </a> </td>
											    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-24935449d43b43988afd37d89acb7eef.html" target="view"> Employer Services </a> </td>
											    <td> <a href="../views/id-24935449d43b43988afd37d89acb7eef.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-e4486ad119fd4e35ba4e4f7a719c0297.html" target="view"> Claim Payments </a> </td>
											    <td> <a href="../views/id-e4486ad119fd4e35ba4e4f7a719c0297.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-d39b163da0904a86892ee8638da2d8aa.html" target="view"> Claims Management </a> </td>
											    <td> <a href="../views/id-d39b163da0904a86892ee8638da2d8aa.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>