<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Employer Services Messaging Integration</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Employer Services Messaging Integration</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9411dee81a7e4d0898767f2a6fcebda9.png" alt="Employer Services Messaging Integration" usemap="#id-9411dee81a7e4d0898767f2a6fcebda9map"/>
			   <map name="id-9411dee81a7e4d0898767f2a6fcebda9map">
				          <area shape="rect" coords="10,724,195,755" href="../objects/id-41d9a1a7c5c642b1a315759e1a00751c.html" target="element" >
				          <area shape="rect" coords="82,10,755,53" href="../objects/id-8801cf7ff51441b69f938fb5a5c96bb9.html" target="element" >
				          <area shape="rect" coords="586,148,771,228" href="../objects/id-8529bab48d624e7496caf07de56aef8f.html" target="element" >
				  		<area shape="rect" coords="10,18,59,46" href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="250,604,370,659" href="../elements/id-59d8b03e024c444e9533dc6c772fcfd2.html"  target="element">
				  				<area shape="rect" coords="94,604,214,659" href="../elements/id-39fc93a8f0fa46a98841aedcb90c0df6.html"  target="element">

				          <area shape="rect" coords="46,568,407,689" href="../objects/id-d9bfabdeaa8441b9905fec0c321a2a20.html" target="element" >
				  				<area shape="rect" coords="358,420,478,475" href="../elements/id-92212d86135e4458b3658855201c3f85.html"  target="element">
				  				<area shape="rect" coords="670,420,790,475" href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html"  target="element">
				  				<area shape="rect" coords="514,420,634,475" href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html"  target="element">

				  		<area shape="rect" coords="334,394,815,503" href="../elements/id-d50ad8331e984112aa8210ff4f531917.html"  target="element">
				  				<area shape="rect" coords="82,424,202,479" href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html"  target="element">

				  		<area shape="rect" coords="34,400,227,497" href="../elements/id-909cecc5a19449bab324f3e652f8487b.html"  target="element">
				  				<area shape="rect" coords="71,256,191,311" href="../elements/id-1852e4ab6c594717bd60518663ecef99.html"  target="element">
				  				<area shape="rect" coords="58,100,191,152" href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html"  target="element">
				  				<area shape="rect" coords="226,172,359,224" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  				<area shape="rect" coords="226,100,359,152" href="../elements/id-2200602adf494eae9a05823e75e734c1.html"  target="element">

				  		<area shape="rect" coords="22,76,431,341" href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Messaging tuype of integration</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Optimal Correspondence EJB </a> </td>
													    <td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element"> Optimal Application Event </a> </td>
													    <td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element" class="i18n-elementtype-ApplicationEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-909cecc5a19449bab324f3e652f8487b.html" target="element"> WCB Framework </a> </td>
											    <td> <a href="../elements/id-909cecc5a19449bab324f3e652f8487b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element"> JMS Publisher </a> </td>
													    <td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d50ad8331e984112aa8210ff4f531917.html" target="element"> ETL Scheduling Platform (Tidal) </a> </td>
											    <td> <a href="../elements/id-d50ad8331e984112aa8210ff4f531917.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html" target="element"> Employer Services Year-End Process </a> </td>
													    <td> <a href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92212d86135e4458b3658855201c3f85.html" target="element"> Optimal Event </a> </td>
													    <td> <a href="../elements/id-92212d86135e4458b3658855201c3f85.html" target="element" class="i18n-elementtype-ApplicationEvent">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d9bfabdeaa8441b9905fec0c321a2a20.html" target="element"> Messaging Integration Platform </a> </td>
									           <td> <a href="../objects/id-d9bfabdeaa8441b9905fec0c321a2a20.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-39fc93a8f0fa46a98841aedcb90c0df6.html" target="element"> MQ Queue </a> </td>
													    <td> <a href="../elements/id-39fc93a8f0fa46a98841aedcb90c0df6.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-59d8b03e024c444e9533dc6c772fcfd2.html" target="element"> IBM MQ </a> </td>
													    <td> <a href="../elements/id-59d8b03e024c444e9533dc6c772fcfd2.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view"> Employer Services </a> </td>
											    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-8529bab48d624e7496caf07de56aef8f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8529bab48d624e7496caf07de56aef8f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8801cf7ff51441b69f938fb5a5c96bb9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8801cf7ff51441b69f938fb5a5c96bb9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-41d9a1a7c5c642b1a315759e1a00751c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-41d9a1a7c5c642b1a315759e1a00751c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90364027834547f4ae25d8aee98efa0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90364027834547f4ae25d8aee98efa0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Optimal Correspondence EJB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ae465a7c16e4dc785dbd778c225c500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ae465a7c16e4dc785dbd778c225c500.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Services </a> </td>
																		<td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element"> Optimal Application Event </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-eab08ff8a84f4b6e91cd510dd945e1b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eab08ff8a84f4b6e91cd510dd945e1b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Optimal Correspondence EJB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-915883ba651a4fd698d5a8edbad6a9d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-915883ba651a4fd698d5a8edbad6a9d3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																				<td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element"> Optimal Application Event </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a20b146d643c462a8d03a7ddce360fd5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a20b146d643c462a8d03a7ddce360fd5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Optimal Correspondence EJB </a> </td>
																				<td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element"> Optimal Application Event </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8c5586c57fc84ad0a97076f7d8c05027.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c5586c57fc84ad0a97076f7d8c05027.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1852e4ab6c594717bd60518663ecef99.html" target="element"> Optimal Application Event </a> </td>
																				<td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element"> JMS Publisher </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ec1ca42672424fbe870d5c7e4c24ea27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec1ca42672424fbe870d5c7e4c24ea27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-909cecc5a19449bab324f3e652f8487b.html" target="element"> WCB Framework </a> </td>
																		<td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element"> JMS Publisher </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9c215decf0e8454aa23a16e81bcecac2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c215decf0e8454aa23a16e81bcecac2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element"> JMS Publisher </a> </td>
																				<td> <a href="../elements/id-39fc93a8f0fa46a98841aedcb90c0df6.html" target="element"> MQ Queue </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e1eb70269888487b83f830f8728202ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1eb70269888487b83f830f8728202ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d50ad8331e984112aa8210ff4f531917.html" target="element"> ETL Scheduling Platform (Tidal) </a> </td>
																		<td> <a href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html" target="element"> Employer Services Year-End Process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80b427643b7e4b008815121ddf6dd426.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80b427643b7e4b008815121ddf6dd426.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d50ad8331e984112aa8210ff4f531917.html" target="element"> ETL Scheduling Platform (Tidal) </a> </td>
																		<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e24cfd50cfce4454816a2e5698eea523.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e24cfd50cfce4454816a2e5698eea523.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d50ad8331e984112aa8210ff4f531917.html" target="element"> ETL Scheduling Platform (Tidal) </a> </td>
																		<td> <a href="../elements/id-92212d86135e4458b3658855201c3f85.html" target="element"> Optimal Event </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d6bd214f770b4ec3b2ad1284121aa5b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6bd214f770b4ec3b2ad1284121aa5b7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html" target="element"> Employer Services Year-End Process </a> </td>
																				<td> <a href="../elements/id-92212d86135e4458b3658855201c3f85.html" target="element"> Optimal Event </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7625519837084d5c88fe682985576075.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7625519837084d5c88fe682985576075.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																				<td> <a href="../elements/id-8db0383cb886477fa35c69f4f1cdc362.html" target="element"> Employer Services Year-End Process </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6051f8bf1827406bb5ca24b60d41f209.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6051f8bf1827406bb5ca24b60d41f209.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-92212d86135e4458b3658855201c3f85.html" target="element"> Optimal Event </a> </td>
																				<td> <a href="../elements/id-e2cc8659553742ccbc19c6bc8b658499.html" target="element"> JMS Publisher </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-8847727365284ee99a6424272adb98ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8847727365284ee99a6424272adb98ef.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-59d8b03e024c444e9533dc6c772fcfd2.html" target="element"> IBM MQ </a> </td>
																				<td> <a href="../elements/id-39fc93a8f0fa46a98841aedcb90c0df6.html" target="element"> MQ Queue </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>