<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Org Chart</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Org Chart</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e6f3131b7504f1aa99e238507da16f0.png" alt="Org Chart" usemap="#id-9e6f3131b7504f1aa99e238507da16f0map"/>
			   <map name="id-9e6f3131b7504f1aa99e238507da16f0map">
				          <area shape="rect" coords="10,575,195,606" href="../objects/id-fb159ae422714ed8a2e40f1b1b49051c.html" target="element" >
				  		<area shape="rect" coords="10,10,106,60" href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="43,416,163,471" href="../elements/id-f5425160ca2047579cd2ecf1f3730734.html"  target="element">
				  		<area shape="rect" coords="559,333,679,388" href="../views/id-ccafd8c3c1a444399c91f108be3210b7.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="583,244,703,299" href="../views/id-c69d686313c34d60830ab3e8aa7e2d73.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="223,244,343,299" href="../views/id-3a4d2fef9fff4fada5365e41824637fc.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="19,244,151,299" href="../views/id-7af738e59b9b4cc18b7045b21751010c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="595,155,740,210" href="../views/id-166c9c6ae29b4e63b1ba969b4980b19b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="367,333,487,388" href="../elements/id-39e833b553d441dca5030f1f0a6f3937.html"  target="element">
				  		<area shape="rect" coords="175,155,295,210" href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="307,59,447,121" href="../objects/id-0352c02bf10148b6aac5892da2a23673.html" target="element" >
				  		<area shape="rect" coords="19,155,139,210" href="../views/id-cd341d39068946e98b134a82ad9223de.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="367,244,487,299" href="../elements/id-378b348f8bdf455e9c793b30350bfbb5.html"  target="element">
				  		<area shape="rect" coords="43,333,163,388" href="../elements/id-6770e4ff2ff74c5ca75c0519ead59553.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6770e4ff2ff74c5ca75c0519ead59553.html" target="element"> Director &amp; Chief of Staff </a> </td>
											    <td> <a href="../elements/id-6770e4ff2ff74c5ca75c0519ead59553.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378b348f8bdf455e9c793b30350bfbb5.html" target="element"> Director, Internal Audit </a> </td>
											    <td> <a href="../elements/id-378b348f8bdf455e9c793b30350bfbb5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view"> VP, SAFE Work Manitoba </a> </td>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-0352c02bf10148b6aac5892da2a23673.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0352c02bf10148b6aac5892da2a23673.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html" target="view"> VP, Legal, Compliance & Corporate Services </a> </td>
											    <td> <a href="../views/id-ff42a9d991a744a6b97f70cbad250d14.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-39e833b553d441dca5030f1f0a6f3937.html" target="element"> Internal Audit Manager </a> </td>
											    <td> <a href="../elements/id-39e833b553d441dca5030f1f0a6f3937.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-166c9c6ae29b4e63b1ba969b4980b19b.html" target="view"> VP, Human Resources & Communications </a> </td>
											    <td> <a href="../views/id-166c9c6ae29b4e63b1ba969b4980b19b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view"> VP, Compensation Services </a> </td>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-3a4d2fef9fff4fada5365e41824637fc.html" target="view"> VP, Strategy, Innovation & Transformation </a> </td>
											    <td> <a href="../views/id-3a4d2fef9fff4fada5365e41824637fc.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-c69d686313c34d60830ab3e8aa7e2d73.html" target="view"> VP & Chief Technology Officer </a> </td>
											    <td> <a href="../views/id-c69d686313c34d60830ab3e8aa7e2d73.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-ccafd8c3c1a444399c91f108be3210b7.html" target="view"> VP & Chief Financial Officer </a> </td>
											    <td> <a href="../views/id-ccafd8c3c1a444399c91f108be3210b7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-f5425160ca2047579cd2ecf1f3730734.html" target="element"> Executive Assistant </a> </td>
											    <td> <a href="../elements/id-f5425160ca2047579cd2ecf1f3730734.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view"> Main View </a> </td>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-fb159ae422714ed8a2e40f1b1b49051c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb159ae422714ed8a2e40f1b1b49051c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9d4dc1ac99c545afbcd89ed6b3b55db8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d4dc1ac99c545afbcd89ed6b3b55db8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6770e4ff2ff74c5ca75c0519ead59553.html" target="element"> Director &amp; Chief of Staff </a> </td>
																		<td> <a href="../elements/id-f5425160ca2047579cd2ecf1f3730734.html" target="element"> Executive Assistant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4a3029055f774897bb1d7c26f1f6206d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a3029055f774897bb1d7c26f1f6206d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-378b348f8bdf455e9c793b30350bfbb5.html" target="element"> Director, Internal Audit </a> </td>
																		<td> <a href="../elements/id-39e833b553d441dca5030f1f0a6f3937.html" target="element"> Internal Audit Manager </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>