<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Director, Prevention & Return to Work Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Director, Prevention &amp; Return to Work Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9dbb1ed366634006a0edd22c3e36c09e.png" alt="Director, Prevention & Return to Work Services" usemap="#id-9dbb1ed366634006a0edd22c3e36c09emap"/>
			   <map name="id-9dbb1ed366634006a0edd22c3e36c09emap">
				  		<area shape="rect" coords="262,221,382,276" href="../elements/id-8e06754fca1a4f338bd82dc693d1fc2f.html"  target="element">
				  		<area shape="rect" coords="415,221,535,276" href="../elements/id-03b577be15a6475ca37c922a88cfdbe4.html"  target="element">
				  		<area shape="rect" coords="322,142,442,197" href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html"  target="element">
				  		<area shape="rect" coords="22,142,142,197" href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html"  target="element">
				  		<area shape="rect" coords="22,214,142,269" href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html"  target="element">
				  		<area shape="rect" coords="166,142,286,197" href="../elements/id-b5573d010a6e49238dac318493c50cf1.html"  target="element">
				  		<area shape="rect" coords="10,10,59,35" href="../views/id-cd341d39068946e98b134a82ad9223de.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="262,34,382,89" href="../elements/id-11c09f4005614109b00950638d47f04b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-11c09f4005614109b00950638d47f04b.html" target="element"> Director, Prevention &amp; Return to Work Services </a> </td>
											    <td> <a href="../elements/id-11c09f4005614109b00950638d47f04b.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view"> VP, SAFE Work Manitoba </a> </td>
											    <td> <a href="../views/id-cd341d39068946e98b134a82ad9223de.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-b5573d010a6e49238dac318493c50cf1.html" target="element"> SAFE Work Services Coordinator </a> </td>
											    <td> <a href="../elements/id-b5573d010a6e49238dac318493c50cf1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element"> Prevention Consultant </a> </td>
											    <td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
											    <td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html" target="element"> Program &amp; Standards Portfolio Leader </a> </td>
											    <td> <a href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03b577be15a6475ca37c922a88cfdbe4.html" target="element"> Prevention Services Representive </a> </td>
											    <td> <a href="../elements/id-03b577be15a6475ca37c922a88cfdbe4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e06754fca1a4f338bd82dc693d1fc2f.html" target="element"> Program &amp; Standards Specialist </a> </td>
											    <td> <a href="../elements/id-8e06754fca1a4f338bd82dc693d1fc2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a6f1f1635b68406f86d4ad0d9f3ffa30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6f1f1635b68406f86d4ad0d9f3ffa30.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11c09f4005614109b00950638d47f04b.html" target="element"> Director, Prevention &amp; Return to Work Services </a> </td>
																		<td> <a href="../elements/id-b5573d010a6e49238dac318493c50cf1.html" target="element"> SAFE Work Services Coordinator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e5a91e324b94b0c9136ab722e7d88c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e5a91e324b94b0c9136ab722e7d88c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11c09f4005614109b00950638d47f04b.html" target="element"> Director, Prevention &amp; Return to Work Services </a> </td>
																		<td> <a href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html" target="element"> Program &amp; Standards Portfolio Leader </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b76493a54d7f4d83a69fb54df8b264db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b76493a54d7f4d83a69fb54df8b264db.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11c09f4005614109b00950638d47f04b.html" target="element"> Director, Prevention &amp; Return to Work Services </a> </td>
																		<td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-858a824dc25848a5a9acc97034c4d3cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-858a824dc25848a5a9acc97034c4d3cd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c23b899855e04ded9eaec3b9c600659f.html" target="element"> Prevention Services Portfolio Leader </a> </td>
																		<td> <a href="../elements/id-31dab9ce62a444aeb4f1343e5d1dc0c0.html" target="element"> Prevention Consultant </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8e568275f08483e853bc19ac85a9db5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8e568275f08483e853bc19ac85a9db5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html" target="element"> Program &amp; Standards Portfolio Leader </a> </td>
																		<td> <a href="../elements/id-8e06754fca1a4f338bd82dc693d1fc2f.html" target="element"> Program &amp; Standards Specialist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eeb6467a633043b2bb0d8de3c27b093e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eeb6467a633043b2bb0d8de3c27b093e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2be815a7e29e46448e05e26e769be2c0.html" target="element"> Program &amp; Standards Portfolio Leader </a> </td>
																		<td> <a href="../elements/id-03b577be15a6475ca37c922a88cfdbe4.html" target="element"> Prevention Services Representive </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>