<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Director, Compensation Professional Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Director, Compensation Professional Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-982c936d10c649c593885c18285d20c0.png" alt="Director, Compensation Professional Services" usemap="#id-982c936d10c649c593885c18285d20c0map"/>
			   <map name="id-982c936d10c649c593885c18285d20c0map">
				  		<area shape="rect" coords="506,218,626,273" href="../elements/id-c07879b881344d5dbb3447f1dfc5be21.html"  target="element">
				  		<area shape="rect" coords="362,302,482,357" href="../elements/id-d1b30fcad6994995b4ea57dbf9a2f6a2.html"  target="element">
				  		<area shape="rect" coords="207,302,327,357" href="../elements/id-12082ee4d9364b4cbd1388dd82d940f8.html"  target="element">
				  		<area shape="rect" coords="38,302,158,357" href="../elements/id-485f4cce3d21461b959bf1343c018328.html"  target="element">
				  		<area shape="rect" coords="506,134,626,189" href="../elements/id-cd882f7150824da485f18e2db270ea57.html"  target="element">
				  		<area shape="rect" coords="207,218,327,273" href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html"  target="element">
				  		<area shape="rect" coords="38,134,158,189" href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html"  target="element">
				  		<area shape="rect" coords="194,26,339,81" href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html"  target="element">
				  		<area shape="rect" coords="10,10,69,33" href="../views/id-7af738e59b9b4cc18b7045b21751010c.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view"> VP, Compensation Services </a> </td>
											    <td> <a href="../views/id-7af738e59b9b4cc18b7045b21751010c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html" target="element"> Director, Compensation Professional Services </a> </td>
											    <td> <a href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element"> Administrative Assistant </a> </td>
											    <td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element"> Supervisor, Healthcare Services </a> </td>
											    <td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cd882f7150824da485f18e2db270ea57.html" target="element"> Manager, VR Services </a> </td>
											    <td> <a href="../elements/id-cd882f7150824da485f18e2db270ea57.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-485f4cce3d21461b959bf1343c018328.html" target="element"> Healthcare Services Representattive </a> </td>
											    <td> <a href="../elements/id-485f4cce3d21461b959bf1343c018328.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12082ee4d9364b4cbd1388dd82d940f8.html" target="element"> Appointment Desk Clerk </a> </td>
											    <td> <a href="../elements/id-12082ee4d9364b4cbd1388dd82d940f8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1b30fcad6994995b4ea57dbf9a2f6a2.html" target="element"> Word Processor Operator </a> </td>
											    <td> <a href="../elements/id-d1b30fcad6994995b4ea57dbf9a2f6a2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c07879b881344d5dbb3447f1dfc5be21.html" target="element"> Vocational Rehabilitation Consultant </a> </td>
											    <td> <a href="../elements/id-c07879b881344d5dbb3447f1dfc5be21.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-48300557f92b41279217fc301e59e3b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48300557f92b41279217fc301e59e3b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html" target="element"> Director, Compensation Professional Services </a> </td>
																		<td> <a href="../elements/id-ee6b3b6e4993492da86d51859e71a2f0.html" target="element"> Administrative Assistant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81fb992150b3492d90a5b258d890e028.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81fb992150b3492d90a5b258d890e028.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html" target="element"> Director, Compensation Professional Services </a> </td>
																		<td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element"> Supervisor, Healthcare Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf08fa2a80b9443792ab51ff6d42fd1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf08fa2a80b9443792ab51ff6d42fd1b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c57f8c993f54cef813c37200c9bf7f1.html" target="element"> Director, Compensation Professional Services </a> </td>
																		<td> <a href="../elements/id-cd882f7150824da485f18e2db270ea57.html" target="element"> Manager, VR Services </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b1e197687564fc18caee5ef8f2f6c0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b1e197687564fc18caee5ef8f2f6c0a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element"> Supervisor, Healthcare Services </a> </td>
																		<td> <a href="../elements/id-485f4cce3d21461b959bf1343c018328.html" target="element"> Healthcare Services Representattive </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b62c6a4b304540a0b93c17aed7bcb902.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b62c6a4b304540a0b93c17aed7bcb902.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element"> Supervisor, Healthcare Services </a> </td>
																		<td> <a href="../elements/id-12082ee4d9364b4cbd1388dd82d940f8.html" target="element"> Appointment Desk Clerk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44fff585db654f3484d1fe5994a1753d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44fff585db654f3484d1fe5994a1753d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-541f54b7a4d04d3498ed6c5757aeb218.html" target="element"> Supervisor, Healthcare Services </a> </td>
																		<td> <a href="../elements/id-d1b30fcad6994995b4ea57dbf9a2f6a2.html" target="element"> Word Processor Operator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-afae896662984bb8a534344f393ab802.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afae896662984bb8a534344f393ab802.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd882f7150824da485f18e2db270ea57.html" target="element"> Manager, VR Services </a> </td>
																		<td> <a href="../elements/id-c07879b881344d5dbb3447f1dfc5be21.html" target="element"> Vocational Rehabilitation Consultant </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>