<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Current State Architecture</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Current State Architecture</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-be0ac71990984340972daf8ac79ec2d1.png" alt="Current State Architecture" usemap="#id-be0ac71990984340972daf8ac79ec2d1map"/>
			   <map name="id-be0ac71990984340972daf8ac79ec2d1map">
				          <area shape="rect" coords="202,10,923,53" href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element" >
				  		<area shape="rect" coords="10,16,56,48" href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html"  target="view">
				      <!-- Other diagram objects -->
				  		        <area shape="rect" coords="490,532,671,605" href="../objects/id-5ca9c533786a4c0eafdd8980a0ade894.html" target="element" >
				  		        <area shape="rect" coords="538,400,911,497" href="../objects/id-e62c5f86a5354e6c9e93245c27aad6bc.html" target="element" >
				  				<area shape="rect" coords="551,100,671,155" href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="730,280,850,335" href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="461,196,581,251" href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="538,280,658,335" href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="730,100,850,155" href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="634,196,754,251" href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="406,64,1283,641" href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element" >
				  		        <area shape="rect" coords="58,496,359,617" href="../objects/id-6c60d969c3eb4120a4d8e312bedbd485.html" target="element" >

				          <area shape="rect" coords="34,64,371,641" href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://wcbmb.atlassian.net/l/cp/PR1uXNPw</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element"> WCB Extranet Private Cloud (VMWare) </a> </td>
									           <td> <a href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-6c60d969c3eb4120a4d8e312bedbd485.html" target="element"> WCB Extranet Middleware (VMWare) </a> </td>
											           <td> <a href="../objects/id-6c60d969c3eb4120a4d8e312bedbd485.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element"> WCB Intranet Private Cloud (VMware) </a> </td>
									           <td> <a href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view"> Financial Services </a> </td>
													    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view"> Employer Services </a> </td>
													    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html" target="view"> Document Services </a> </td>
													    <td> <a href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html" target="view"> Payment Services </a> </td>
													    <td> <a href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html" target="view"> Shared Services </a> </td>
													    <td> <a href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html" target="view"> Worker Services </a> </td>
													    <td> <a href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											        <tr>
											           <td> <a href="../objects/id-e62c5f86a5354e6c9e93245c27aad6bc.html" target="element"> WCB Intranet Middleware (VMWare) </a> </td>
											           <td> <a href="../objects/id-e62c5f86a5354e6c9e93245c27aad6bc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5ca9c533786a4c0eafdd8980a0ade894.html" target="element"> WCB Intranet Identity Management </a> </td>
											           <td> <a href="../objects/id-5ca9c533786a4c0eafdd8980a0ade894.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view"> Main View </a> </td>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>