<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tidal Servers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tidal Servers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b51408acedb14ca5b88c9f565bf9445b.png" alt="Tidal Servers" usemap="#id-b51408acedb14ca5b88c9f565bf9445bmap"/>
			   <map name="id-b51408acedb14ca5b88c9f565bf9445bmap">
				  		<area shape="rect" coords="226,348,346,403" href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html"  target="element">
				          <area shape="rect" coords="58,10,554,37" href="../objects/id-a3bf380d2a3c46f893b321520ea1d8ca.html" target="element" >
				  		<area shape="rect" coords="226,156,346,211" href="../elements/id-83d0822b8b154909b896b66ea3dea1fb.html"  target="element">
				  		<area shape="rect" coords="226,444,346,499" href="../elements/id-e58528c898bc42dda08b0d276a363790.html"  target="element">
				  		<area shape="rect" coords="226,60,346,115" href="../elements/id-97dc5768ecf044609a27a24838eeffa5.html"  target="element">
				  		<area shape="rect" coords="226,240,346,295" href="../elements/id-64bdddc9150f41cebcc3133ca79d32c0.html"  target="element">
				  		<area shape="rect" coords="46,210,166,265" href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html"  target="element">
				  		<area shape="rect" coords="10,12,47,36" href="../views/id-5e484e38b414486c86329e35a6f8eafe.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view"> Intranet Environment Overview </a> </td>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view" class="i18n-viewpoint-technology_usage"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
											    <td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64bdddc9150f41cebcc3133ca79d32c0.html" target="element"> Tidal Server (Master) </a> </td>
											    <td> <a href="../elements/id-64bdddc9150f41cebcc3133ca79d32c0.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97dc5768ecf044609a27a24838eeffa5.html" target="element"> Tidal Web Client Manager </a> </td>
											    <td> <a href="../elements/id-97dc5768ecf044609a27a24838eeffa5.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83d0822b8b154909b896b66ea3dea1fb.html" target="element"> Tidal Agent </a> </td>
											    <td> <a href="../elements/id-83d0822b8b154909b896b66ea3dea1fb.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a3bf380d2a3c46f893b321520ea1d8ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a3bf380d2a3c46f893b321520ea1d8ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html" target="element"> Tidal db </a> </td>
											    <td> <a href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-85f219fc8d9b48a2acb312ac881eb248.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85f219fc8d9b48a2acb312ac881eb248.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
																		<td> <a href="../elements/id-64bdddc9150f41cebcc3133ca79d32c0.html" target="element"> Tidal Server (Master) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-654dbe25fa6941ce8b50cee09dfb969c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-654dbe25fa6941ce8b50cee09dfb969c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
																		<td> <a href="../elements/id-97dc5768ecf044609a27a24838eeffa5.html" target="element"> Tidal Web Client Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67c9bf3d6c2a4dbdb9dc2ded686eb438.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67c9bf3d6c2a4dbdb9dc2ded686eb438.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
																		<td> <a href="../elements/id-83d0822b8b154909b896b66ea3dea1fb.html" target="element"> Tidal Agent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ca1271d4a434897bc2759cae254425f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ca1271d4a434897bc2759cae254425f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8364b11d0ebc4d289ba772919ca623b2.html" target="element"> Tidal Servers </a> </td>
																		<td> <a href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html" target="element"> Tidal db </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ec1a090a4fe49278b5f1642c3cdbb4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ec1a090a4fe49278b5f1642c3cdbb4d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-64bdddc9150f41cebcc3133ca79d32c0.html" target="element"> Tidal Server (Master) </a> </td>
																		<td> <a href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html" target="element"> Tidal db </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0665b45a0308400ba692e4115b591e76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0665b45a0308400ba692e4115b591e76.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-a7c2ac53a5c94427a37be9fb20dbe174.html" target="element"> Tidal db </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>