<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Current State Architecture</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Current State Architecture</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-be0ac71990984340972daf8ac79ec2d1.png" alt="Current State Architecture" usemap="#id-be0ac71990984340972daf8ac79ec2d1map"/>
			   <map name="id-be0ac71990984340972daf8ac79ec2d1map">
				          <area shape="rect" coords="202,10,923,53" href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element" >
				  		<area shape="rect" coords="10,16,56,48" href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="598,496,1043,551" href="../views/id-6f464e82ad814832aeb61ccbd0ca5a3d.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="598,424,1043,479" href="../views/id-d81bfe512ad945f6983a9a350a6420a7.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="598,352,718,407" href="../views/id-b9eb7196fb1545f1a1a4ad36fc3cba8b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="694,112,827,167" href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="923,352,1043,407" href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="591,208,724,263" href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="688,280,808,335" href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="910,112,1043,167" href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="807,208,940,263" href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="538,64,1091,641" href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element" >
				  				<area shape="rect" coords="58,424,503,479" href="../views/id-7331b2305f5940c88318e36d54d46f3d.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="58,352,178,407" href="../views/id-b548384457c7471ea7dc0f51379b47b5.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="34,64,539,641" href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://wcbmb.atlassian.net/l/cp/PR1uXNPw</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element"> WCB Extranet Private Cloud (VMWare) </a> </td>
									           <td> <a href="../objects/id-d6e3be6851074ed0a646f44d25952d03.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-b548384457c7471ea7dc0f51379b47b5.html" target="view"> WCB Extranet Identity Management </a> </td>
													    <td> <a href="../views/id-b548384457c7471ea7dc0f51379b47b5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-7331b2305f5940c88318e36d54d46f3d.html" target="view"> WCB Extranet Middleware </a> </td>
													    <td> <a href="../views/id-7331b2305f5940c88318e36d54d46f3d.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element"> WCB Intranet Private Cloud (VMware) </a> </td>
									           <td> <a href="../objects/id-07d8f4260220417093c1be88fdf7f772.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view"> Financial Services </a> </td>
													    <td> <a href="../views/id-94d70654015d4df5b7b1593dd3dfcfc4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view"> Employer Services </a> </td>
													    <td> <a href="../views/id-e7ee8d45085b48389551ec1af1ec1284.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html" target="view"> Document Services </a> </td>
													    <td> <a href="../views/id-3238769eb0d34d1ca9d1013de02163c5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html" target="view"> Payment Services </a> </td>
													    <td> <a href="../views/id-893a3e4c5e4e495680020fc4a076fbbc.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html" target="view"> Extranet Shared Services </a> </td>
													    <td> <a href="../views/id-b8177c49d9484bdab7c6ee158e8e7626.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html" target="view"> Worker Services </a> </td>
													    <td> <a href="../views/id-3e75da5d310f44c6a9fb03e07b5cc25c.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-b9eb7196fb1545f1a1a4ad36fc3cba8b.html" target="view"> WCB Intranet Identity Management </a> </td>
													    <td> <a href="../views/id-b9eb7196fb1545f1a1a4ad36fc3cba8b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-d81bfe512ad945f6983a9a350a6420a7.html" target="view"> WCB Intranet Middleware </a> </td>
													    <td> <a href="../views/id-d81bfe512ad945f6983a9a350a6420a7.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-6f464e82ad814832aeb61ccbd0ca5a3d.html" target="view"> Data View </a> </td>
													    <td> <a href="../views/id-6f464e82ad814832aeb61ccbd0ca5a3d.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view"> Main View </a> </td>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-17c36de6c0194a34b1f04d2d24d340c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>