<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Content Manger Servers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Content Manger Servers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b983bc78e513486ca4c7b943a25d1436.png" alt="Content Manger Servers" usemap="#id-b983bc78e513486ca4c7b943a25d1436map"/>
			   <map name="id-b983bc78e513486ca4c7b943a25d1436map">
				  		<area shape="rect" coords="346,72,466,127" href="../elements/id-0f95a38c4d334079872db06c15d1262d.html"  target="element">
				  		<area shape="rect" coords="315,264,496,319" href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html"  target="element">
				  		<area shape="rect" coords="346,168,466,223" href="../elements/id-3551c07ced7b4948a528a70cb249300e.html"  target="element">
				          <area shape="rect" coords="58,10,554,49" href="../objects/id-a2c52ce177144476bd74a9555bcc9d32.html" target="element" >
				  		<area shape="rect" coords="538,168,658,223" href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html"  target="element">
				  		<area shape="rect" coords="166,168,286,223" href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html"  target="element">
				  		<area shape="rect" coords="166,72,286,127" href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html"  target="element">
				  		<area shape="rect" coords="10,168,130,223" href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html"  target="element">
				  		<area shape="rect" coords="166,312,286,367" href="../elements/id-31344486c9504bff98bbd0c550ac5610.html"  target="element">
				  		<area shape="rect" coords="10,12,47,36" href="../views/id-5e484e38b414486c86329e35a6f8eafe.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view"> Intranet Environment Overview </a> </td>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view" class="i18n-viewpoint-technology_usage"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element"> Websphere Application Servers </a> </td>
											    <td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element"> IBM Content Manager Servers </a> </td>
											    <td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html" target="element"> WCBLS </a> </td>
											    <td> <a href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
											    <td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element"> DB2 Servers </a> </td>
											    <td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a2c52ce177144476bd74a9555bcc9d32.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a2c52ce177144476bd74a9555bcc9d32.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element"> Assessments Resource Manager db </a> </td>
											    <td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element"> Compensation Resource Manager db </a> </td>
											    <td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element"> Library Server db </a> </td>
											    <td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-93118b9b6b39499c8d0a5afbd25f00d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93118b9b6b39499c8d0a5afbd25f00d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-31344486c9504bff98bbd0c550ac5610.html" target="element"> Websphere Application Servers </a> </td>
																		<td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-363fa6063c3c418284d1d887efc51928.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-363fa6063c3c418284d1d887efc51928.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element"> IBM Content Manager Servers </a> </td>
																		<td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1783d89f53c425d93dc6f205127285a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1783d89f53c425d93dc6f205127285a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e35b9e2909064a41bddb47e5f239a3aa.html" target="element"> IBM Content Manager Servers </a> </td>
																		<td> <a href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html" target="element"> WCBLS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4c69ba38db147b5a9b641b3e9cf2845.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4c69ba38db147b5a9b641b3e9cf2845.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
																		<td> <a href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html" target="element"> WCBLS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cac3fd1123d445be8882f56832182a71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac3fd1123d445be8882f56832182a71.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element"> DB2 Servers </a> </td>
																		<td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element"> Compensation Resource Manager db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a379550fe1134711b211f188d3edd00a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a379550fe1134711b211f188d3edd00a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element"> DB2 Servers </a> </td>
																		<td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element"> Library Server db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e465a038f35b47e19e7f82a43533580b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e465a038f35b47e19e7f82a43533580b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97c9ffcea8f546a38477f64f7bd29705.html" target="element"> DB2 Servers </a> </td>
																		<td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element"> Assessments Resource Manager db </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b861bfcdca314e66b6b8a684484243fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b861bfcdca314e66b6b8a684484243fe.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3551c07ced7b4948a528a70cb249300e.html" target="element"> Assessments Resource Manager db </a> </td>
																		<td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e14d86f160ed475db27fb3522db01574.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e14d86f160ed475db27fb3522db01574.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-361cabda9de54496ad6626f0fe10b8ba.html" target="element"> Compensation Resource Manager db </a> </td>
																		<td> <a href="../elements/id-505f26fa864341bc8d0cbe15842526cb.html" target="element"> WCBRM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eaa7d25c5b864372bd66f0f38badf370.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaa7d25c5b864372bd66f0f38badf370.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f95a38c4d334079872db06c15d1262d.html" target="element"> Library Server db </a> </td>
																		<td> <a href="../elements/id-0cbb1ab809d844bf8a0ae2525a873662.html" target="element"> WCBLS </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>