<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.13 Individually Assessed Account Maintenance</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.13 Individually Assessed Account Maintenance</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cc3aeaab78e049e28c3d6930f5fd590d.png" alt="2.1.13 Individually Assessed Account Maintenance" usemap="#id-cc3aeaab78e049e28c3d6930f5fd590dmap"/>
			   <map name="id-cc3aeaab78e049e28c3d6930f5fd590dmap">
				  		<area shape="rect" coords="370,342,490,397" href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html"  target="element">
				  		<area shape="rect" coords="214,342,334,397" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="66,342,186,397" href="../elements/id-bc1f20a762b54332abefad6fa354b824.html"  target="element">
				  		<area shape="rect" coords="443,178,563,233" href="../elements/id-59f79ca0732a4f23ad7cf99855d808fc.html"  target="element">
				  		<area shape="rect" coords="299,178,419,233" href="../elements/id-e041fb16149d47118c88bd20836252ac.html"  target="element">
				  		<area shape="rect" coords="161,178,281,233" href="../elements/id-eeb49193daa1406f8ea00e1773157122.html"  target="element">
				  		<area shape="rect" coords="23,178,143,233" href="../elements/id-f7f980628968409394a96b61fdf2f6e7.html"  target="element">
				  		<area shape="rect" coords="154,79,419,134" href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html"  target="element">
				          <area shape="rect" coords="10,679,195,710" href="../objects/id-62b23804276b41cda1ef167ec1d17fe8.html" target="element" >
				          <area shape="rect" coords="166,10,755,53" href="../objects/id-1f6ee9178c4840ef8400e0c08a3786d0.html" target="element" >
				  		<area shape="rect" coords="10,19,59,44" href="../views/id-3bc5917155bb48938b2490de6bda6a34.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view"> Employer Services Capability Realization View </a> </td>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-1f6ee9178c4840ef8400e0c08a3786d0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1f6ee9178c4840ef8400e0c08a3786d0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-62b23804276b41cda1ef167ec1d17fe8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-62b23804276b41cda1ef167ec1d17fe8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Account Maintenance </a> </td>
											    <td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7f980628968409394a96b61fdf2f6e7.html" target="element"> Billing &amp; Reporting </a> </td>
											    <td> <a href="../elements/id-f7f980628968409394a96b61fdf2f6e7.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eeb49193daa1406f8ea00e1773157122.html" target="element"> Cost Reporting </a> </td>
											    <td> <a href="../elements/id-eeb49193daa1406f8ea00e1773157122.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e041fb16149d47118c88bd20836252ac.html" target="element"> Service Fee Calculation </a> </td>
											    <td> <a href="../elements/id-e041fb16149d47118c88bd20836252ac.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59f79ca0732a4f23ad7cf99855d808fc.html" target="element"> Payment Reconciliation </a> </td>
											    <td> <a href="../elements/id-59f79ca0732a4f23ad7cf99855d808fc.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element"> MS Word </a> </td>
											    <td> <a href="../elements/id-bc1f20a762b54332abefad6fa354b824.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
											    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b4ff34ee2ec449d6a573c5d180b4442e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4ff34ee2ec449d6a573c5d180b4442e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f7f980628968409394a96b61fdf2f6e7.html" target="element"> Billing &amp; Reporting </a> </td>
																		<td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb6ea31f52f8448ab41cace6cfd31cb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb6ea31f52f8448ab41cace6cfd31cb2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eeb49193daa1406f8ea00e1773157122.html" target="element"> Cost Reporting </a> </td>
																		<td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6578c8c64504b008409005ad5915d21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6578c8c64504b008409005ad5915d21.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e041fb16149d47118c88bd20836252ac.html" target="element"> Service Fee Calculation </a> </td>
																		<td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Account Maintenance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd9443ddc29647d385723f66beffe009.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd9443ddc29647d385723f66beffe009.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-59f79ca0732a4f23ad7cf99855d808fc.html" target="element"> Payment Reconciliation </a> </td>
																		<td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Account Maintenance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>