<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PMO Capability Realization View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>PMO Capability Realization View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cc4d456e080d44bea68e6a6444b94396.png" alt="PMO Capability Realization View" usemap="#id-cc4d456e080d44bea68e6a6444b94396map"/>
			   <map name="id-cc4d456e080d44bea68e6a6444b94396map">
				  		<area shape="rect" coords="22,10,142,65" href="../views/id-02adc4d680194cc9bead59d1c7334459.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="22,226,142,455" href="../elements/id-9e5eb399ca5245b4836b48da68d20caa.html"  target="element">
				  		<area shape="rect" coords="1606,490,1726,575" href="../views/id-e140a0e0d8a841e4bf3d5e6e0c193a6a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1474,490,1594,575" href="../views/id-40ee5debffe140c2a04300e30b2d0251.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1342,490,1462,575" href="../views/id-cc3aeaab78e049e28c3d6930f5fd590d.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1210,490,1330,545" href="../views/id-dc472aabb1014966ac6069eea1edd26b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1078,490,1198,545" href="../views/id-6f5c19c0d23849519821b8c204638046.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="946,490,1066,545" href="../views/id-0847d4df300249138aced456aabdaf7f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="815,490,935,545" href="../views/id-601d9488bc12444c846d6703712f80fd.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="682,490,802,563" href="../views/id-9c7fc3ef9ebb4d37a53b7521246cd1a5.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="550,490,670,545" href="../views/id-6f8e0c117ebc4837a291118e6f413c2b.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="418,490,538,545" href="../views/id-3ef46006f00449b0b71fa39a2a84ca74.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="286,490,406,545" href="../views/id-dd01f66868994291a2fd2b781b349afb.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="155,490,275,545" href="../views/id-00a5cf2af9f94c17ad6965f32be1a260.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="22,490,142,563" href="../views/id-b0a2d85a743f4b6a8fb7870d20d4e48c.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="274,16,995,59" href="../objects/id-89f900a7a6c14f5ea5e101b6c99f4052.html" target="element" >
				  				<area shape="rect" coords="1606,106,1726,191" href="../elements/id-786b2a8a48ca49a68313e148cfe9206b.html"  target="element">
				  				<area shape="rect" coords="1474,106,1594,191" href="../elements/id-42e65d37bd3c4b72aba7f31249c5bc02.html"  target="element">
				  				<area shape="rect" coords="1342,106,1462,191" href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html"  target="element">
				  				<area shape="rect" coords="1210,106,1330,161" href="../elements/id-7bbc441679a7474a9d15da1e4cb5c83a.html"  target="element">
				  				<area shape="rect" coords="1078,106,1198,161" href="../elements/id-7b8f115e751a4575891b93ec44e519b7.html"  target="element">
				  				<area shape="rect" coords="946,106,1066,161" href="../elements/id-f142ff89205b4de59850e14e3e873477.html"  target="element">
				  				<area shape="rect" coords="814,106,934,161" href="../elements/id-e39897ac2d304cce95618b508f9ae905.html"  target="element">
				  				<area shape="rect" coords="682,106,802,161" href="../elements/id-5e79982920d843ca8d3c00c676d03230.html"  target="element">
				  				<area shape="rect" coords="550,106,670,161" href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html"  target="element">
				  				<area shape="rect" coords="418,106,538,161" href="../elements/id-172702f8f7c84d34a7ba4eedd4c06df7.html"  target="element">
				  				<area shape="rect" coords="286,106,406,161" href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html"  target="element">
				  				<area shape="rect" coords="154,106,274,161" href="../elements/id-34de7e13914f444bbf5126de70fef6c1.html"  target="element">
				  				<area shape="rect" coords="22,106,142,167" href="../elements/id-2b5b8230a49444119f2ea22768192dd8.html"  target="element">

				  		<area shape="rect" coords="10,82,1739,215" href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
											    <td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2b5b8230a49444119f2ea22768192dd8.html" target="element"> 2.1.1 Employer Account Registration </a> </td>
													    <td> <a href="../elements/id-2b5b8230a49444119f2ea22768192dd8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34de7e13914f444bbf5126de70fef6c1.html" target="element"> 2.1.2 Payroll Reporting &amp; Reconciliation </a> </td>
													    <td> <a href="../elements/id-34de7e13914f444bbf5126de70fef6c1.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
													    <td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-172702f8f7c84d34a7ba4eedd4c06df7.html" target="element"> 2.1.4 Billings &amp; Payments </a> </td>
													    <td> <a href="../elements/id-172702f8f7c84d34a7ba4eedd4c06df7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
													    <td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5e79982920d843ca8d3c00c676d03230.html" target="element"> 2.1.7 Employer Experience Rating </a> </td>
													    <td> <a href="../elements/id-5e79982920d843ca8d3c00c676d03230.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e39897ac2d304cce95618b508f9ae905.html" target="element"> 2.1.8 Account Inquiry </a> </td>
													    <td> <a href="../elements/id-e39897ac2d304cce95618b508f9ae905.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f142ff89205b4de59850e14e3e873477.html" target="element"> 2.1.9 File Access </a> </td>
													    <td> <a href="../elements/id-f142ff89205b4de59850e14e3e873477.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b8f115e751a4575891b93ec44e519b7.html" target="element"> 2.1.10 Experience Rating Changes </a> </td>
													    <td> <a href="../elements/id-7b8f115e751a4575891b93ec44e519b7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7bbc441679a7474a9d15da1e4cb5c83a.html" target="element"> 2.1.12 Surplus Distribution </a> </td>
													    <td> <a href="../elements/id-7bbc441679a7474a9d15da1e4cb5c83a.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Billing &amp; Reporting </a> </td>
													    <td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42e65d37bd3c4b72aba7f31249c5bc02.html" target="element"> 2.1.14 Individually Assessed Service Fee Calculation </a> </td>
													    <td> <a href="../elements/id-42e65d37bd3c4b72aba7f31249c5bc02.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-786b2a8a48ca49a68313e148cfe9206b.html" target="element"> 2.1.15 Individually Assessed Cost Reporting &amp; Reconciliation </a> </td>
													    <td> <a href="../elements/id-786b2a8a48ca49a68313e148cfe9206b.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-89f900a7a6c14f5ea5e101b6c99f4052.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-89f900a7a6c14f5ea5e101b6c99f4052.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-b0a2d85a743f4b6a8fb7870d20d4e48c.html" target="view"> 2.1.1 Employer Account Registration </a> </td>
											    <td> <a href="../views/id-b0a2d85a743f4b6a8fb7870d20d4e48c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-00a5cf2af9f94c17ad6965f32be1a260.html" target="view"> 2.1.2 Payroll Reporting & Reconciliation </a> </td>
											    <td> <a href="../views/id-00a5cf2af9f94c17ad6965f32be1a260.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-dd01f66868994291a2fd2b781b349afb.html" target="view"> 2.1.3 Clearances </a> </td>
											    <td> <a href="../views/id-dd01f66868994291a2fd2b781b349afb.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-3ef46006f00449b0b71fa39a2a84ca74.html" target="view"> 2.1.4 Billings & Payments </a> </td>
											    <td> <a href="../views/id-3ef46006f00449b0b71fa39a2a84ca74.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-6f8e0c117ebc4837a291118e6f413c2b.html" target="view"> 2.1.6 Account Maintenance </a> </td>
											    <td> <a href="../views/id-6f8e0c117ebc4837a291118e6f413c2b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-9c7fc3ef9ebb4d37a53b7521246cd1a5.html" target="view"> 2.1.7 Employer Experience Rating </a> </td>
											    <td> <a href="../views/id-9c7fc3ef9ebb4d37a53b7521246cd1a5.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-601d9488bc12444c846d6703712f80fd.html" target="view"> 2.1.8 Account Inquiry </a> </td>
											    <td> <a href="../views/id-601d9488bc12444c846d6703712f80fd.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-0847d4df300249138aced456aabdaf7f.html" target="view"> 2.1.9 File Access </a> </td>
											    <td> <a href="../views/id-0847d4df300249138aced456aabdaf7f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-6f5c19c0d23849519821b8c204638046.html" target="view"> 2.1.10 Experience Rating Changes </a> </td>
											    <td> <a href="../views/id-6f5c19c0d23849519821b8c204638046.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-dc472aabb1014966ac6069eea1edd26b.html" target="view"> 2.1.12 Surplus Distribution </a> </td>
											    <td> <a href="../views/id-dc472aabb1014966ac6069eea1edd26b.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-cc3aeaab78e049e28c3d6930f5fd590d.html" target="view"> 2.1.13 Individually Assessed Billing & Reporting </a> </td>
											    <td> <a href="../views/id-cc3aeaab78e049e28c3d6930f5fd590d.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-40ee5debffe140c2a04300e30b2d0251.html" target="view"> 2.1.14 Individually Assessed Service Fee Calculation </a> </td>
											    <td> <a href="../views/id-40ee5debffe140c2a04300e30b2d0251.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-e140a0e0d8a841e4bf3d5e6e0c193a6a.html" target="view"> 2.1.15 Individually Assessed Cost Reporting & Reconciliation </a> </td>
											    <td> <a href="../views/id-e140a0e0d8a841e4bf3d5e6e0c193a6a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-9e5eb399ca5245b4836b48da68d20caa.html" target="element"> 2.1.1 Employer Account Registration </a> </td>
											    <td> <a href="../elements/id-9e5eb399ca5245b4836b48da68d20caa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view"> WCB Business on a Page </a> </td>
											    <td> <a href="../views/id-02adc4d680194cc9bead59d1c7334459.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-560c4b4300ca410c857b6c2e64aaabd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-560c4b4300ca410c857b6c2e64aaabd0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-5e79982920d843ca8d3c00c676d03230.html" target="element"> 2.1.7 Employer Experience Rating </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6f408badff24d41beb639dee4ea1dd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6f408badff24d41beb639dee4ea1dd6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-a2a49910320d44ffb7b4a419e4841462.html" target="element"> 2.1.6 Account Maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d6177f8c18249a7b77ff20588b46fa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d6177f8c18249a7b77ff20588b46fa4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-172702f8f7c84d34a7ba4eedd4c06df7.html" target="element"> 2.1.4 Billings &amp; Payments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11d66b3e10b942f298c7d19b18d3b337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11d66b3e10b942f298c7d19b18d3b337.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43332abf96fb44bba90305b985b7acb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43332abf96fb44bba90305b985b7acb8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-34de7e13914f444bbf5126de70fef6c1.html" target="element"> 2.1.2 Payroll Reporting &amp; Reconciliation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3713bda8fd4e45078ae715128d928cbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3713bda8fd4e45078ae715128d928cbd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-2b5b8230a49444119f2ea22768192dd8.html" target="element"> 2.1.1 Employer Account Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f065fa7eafa84ed59d928812d78e7f40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f065fa7eafa84ed59d928812d78e7f40.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-e39897ac2d304cce95618b508f9ae905.html" target="element"> 2.1.8 Account Inquiry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83b248dabcd44124a126246ef5ca8bf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83b248dabcd44124a126246ef5ca8bf7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-f142ff89205b4de59850e14e3e873477.html" target="element"> 2.1.9 File Access </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c575b7320974538b9f7d8d2ce0a38b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c575b7320974538b9f7d8d2ce0a38b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-7b8f115e751a4575891b93ec44e519b7.html" target="element"> 2.1.10 Experience Rating Changes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-956d3eac34304ef1a6dc13dc198dc294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-956d3eac34304ef1a6dc13dc198dc294.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-7bbc441679a7474a9d15da1e4cb5c83a.html" target="element"> 2.1.12 Surplus Distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e743e514629049fdb8a8230404779248.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e743e514629049fdb8a8230404779248.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-c8b84aeb04b54bbc8cd7a5a5f9057782.html" target="element"> 2.1.13 Individually Assessed Billing &amp; Reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-173d700dd8904290894f8dc8979c1de6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-173d700dd8904290894f8dc8979c1de6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-42e65d37bd3c4b72aba7f31249c5bc02.html" target="element"> 2.1.14 Individually Assessed Service Fee Calculation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5761b55e9ee84471afc3f4abb6ebc666.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5761b55e9ee84471afc3f4abb6ebc666.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-728b6a4c36a04377b284fe7efb6988ef.html" target="element"> 2.1 Employer Services </a> </td>
																		<td> <a href="../elements/id-786b2a8a48ca49a68313e148cfe9206b.html" target="element"> 2.1.15 Individually Assessed Cost Reporting &amp; Reconciliation </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-693f7e0a43cb457d82cdd8d74ff7b47a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-693f7e0a43cb457d82cdd8d74ff7b47a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e5eb399ca5245b4836b48da68d20caa.html" target="element"> 2.1.1 Employer Account Registration </a> </td>
																		<td> <a href="../elements/id-2b5b8230a49444119f2ea22768192dd8.html" target="element"> 2.1.1 Employer Account Registration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>