<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VP, SAFE Work Manitoba</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VP, SAFE Work Manitoba</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cd341d39068946e98b134a82ad9223de.png" alt="VP, SAFE Work Manitoba" usemap="#id-cd341d39068946e98b134a82ad9223demap"/>
			   <map name="id-cd341d39068946e98b134a82ad9223demap">
				  		<area shape="rect" coords="610,46,730,101" href="../elements/id-fc109ba32903414d849934e868f1c6b8.html"  target="element">
				  		<area shape="rect" coords="322,154,442,209" href="../views/id-54ed30754dd540bca6360fb206acb0a4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="154,154,274,209" href="../views/id-9dbb1ed366634006a0edd22c3e36c09e.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,56,39" href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="238,46,358,101" href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element"> VP, SAFE Work Manitoba </a> </td>
											    <td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view"> Org Chart </a> </td>
											    <td> <a href="../views/id-9e6f3131b7504f1aa99e238507da16f0.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-9dbb1ed366634006a0edd22c3e36c09e.html" target="view"> Director, Prevention & Return to Work Services </a> </td>
											    <td> <a href="../views/id-9dbb1ed366634006a0edd22c3e36c09e.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/id-54ed30754dd540bca6360fb206acb0a4.html" target="view"> Manger, Return to Work Services </a> </td>
											    <td> <a href="../views/id-54ed30754dd540bca6360fb206acb0a4.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element"> SAFE Work </a> </td>
											    <td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c641e24388664d828dc19c80e1e81b67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c641e24388664d828dc19c80e1e81b67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-84632ad0beff4cce928e2dc679ab2fb7.html" target="element"> VP, SAFE Work Manitoba </a> </td>
																		<td> <a href="../elements/id-fc109ba32903414d849934e868f1c6b8.html" target="element"> SAFE Work </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>