<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.9 Account Receivables Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.9 Account Receivables Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d08a08b3bbb24efe950a3bff2e032881.png" alt="3.8.9 Account Receivables Functions View" usemap="#id-d08a08b3bbb24efe950a3bff2e032881map"/>
			   <map name="id-d08a08b3bbb24efe950a3bff2e032881map">
				  		<area shape="rect" coords="940,121,1060,176" href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html"  target="element">
				  		<area shape="rect" coords="886,190,1006,245" href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html"  target="element">
				  		<area shape="rect" coords="790,370,910,425" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  				<area shape="rect" coords="58,118,227,173" href="../elements/id-d221c03abc934d09880eab68fecd0045.html"  target="element">
				  				<area shape="rect" coords="538,118,718,173" href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html"  target="element">

				  		<area shape="rect" coords="10,82,779,215" href="../elements/id-3241ef330ae4401999f488481cc4a969.html"  target="element">
				  		<area shape="rect" coords="643,370,763,425" href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html"  target="element">
				  		<area shape="rect" coords="826,274,946,329" href="../elements/id-604a0df355a34dcdb721edde4ee0dd8e.html"  target="element">
				  		<area shape="rect" coords="262,502,382,557" href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html"  target="element">
				  		<area shape="rect" coords="15,430,135,485" href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html"  target="element">
				  		<area shape="rect" coords="15,370,135,425" href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html"  target="element">
				  		<area shape="rect" coords="15,304,135,359" href="../elements/id-4008da7645c249378b081f1975d6e665.html"  target="element">
				  		<area shape="rect" coords="15,502,135,557" href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html"  target="element">
				  		<area shape="rect" coords="502,370,622,425" href="../elements/id-d5e775a5a3ba43ffa53e226910672963.html"  target="element">
				  		<area shape="rect" coords="357,370,477,425" href="../elements/id-5bd82f3fb2c84750aa73bc7c47684548.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="143,22,875,65" href="../objects/id-1051a23ec1eb4f7db53ee118a08595bd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1051a23ec1eb4f7db53ee118a08595bd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1051a23ec1eb4f7db53ee118a08595bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Finance & Accounting Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-5bd82f3fb2c84750aa73bc7c47684548.html" target="element"> Emerge </a> </td>
											    <td> <a href="../elements/id-5bd82f3fb2c84750aa73bc7c47684548.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5e775a5a3ba43ffa53e226910672963.html" target="element"> Optimal </a> </td>
											    <td> <a href="../elements/id-d5e775a5a3ba43ffa53e226910672963.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element"> Courts of Kings Bench </a> </td>
											    <td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element"> Commercial Credit Adjusters </a> </td>
											    <td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element"> Equifax </a> </td>
											    <td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element"> TransUnion </a> </td>
											    <td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element"> Land Titles </a> </td>
											    <td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-604a0df355a34dcdb721edde4ee0dd8e.html" target="element"> Lawson </a> </td>
											    <td> <a href="../elements/id-604a0df355a34dcdb721edde4ee0dd8e.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
											    <td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3241ef330ae4401999f488481cc4a969.html" target="element"> 3.8.9 Account Receivables Functions </a> </td>
											    <td> <a href="../elements/id-3241ef330ae4401999f488481cc4a969.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
													    <td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
													    <td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element"> BI Reporting </a> </td>
											    <td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element"> Moneris </a> </td>
											    <td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-998e704af6814719af572de13100ad55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-998e704af6814719af572de13100ad55.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd82f3fb2c84750aa73bc7c47684548.html" target="element"> Emerge </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-244432152cf1418dab668c29fc8c5de0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-244432152cf1418dab668c29fc8c5de0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bd82f3fb2c84750aa73bc7c47684548.html" target="element"> Emerge </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-11b0d68eeb014120a5da5572dc63af56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11b0d68eeb014120a5da5572dc63af56.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5e775a5a3ba43ffa53e226910672963.html" target="element"> Optimal </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e26cd55cd37a4bb789795091fdb8d193.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e26cd55cd37a4bb789795091fdb8d193.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d5e775a5a3ba43ffa53e226910672963.html" target="element"> Optimal </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-95bedc5e978c4db2a9a8e77e2d25078a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95bedc5e978c4db2a9a8e77e2d25078a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e22e583d0ea54cdeb12d929a2c82da53.html" target="element"> Courts of Kings Bench </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2310eb5eae4a47518623c9a3e691b564.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2310eb5eae4a47518623c9a3e691b564.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4008da7645c249378b081f1975d6e665.html" target="element"> Commercial Credit Adjusters </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b9828963a0bf4d89a3aa27f1c558203b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9828963a0bf4d89a3aa27f1c558203b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e80bcf83c4d04de3b1f8e95bf3bddc3b.html" target="element"> Equifax </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf5a1785803d48ac908117f9038074b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf5a1785803d48ac908117f9038074b4.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a4dc33c6e64f4f0ab2a6c08abc094c36.html" target="element"> TransUnion </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ceea620d144440a3852419d5767715f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ceea620d144440a3852419d5767715f6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9e65db87f69c4348ac0e516e868e92e3.html" target="element"> Land Titles </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a8bb24af72504c198a79b44ba5a1bc51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8bb24af72504c198a79b44ba5a1bc51.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-604a0df355a34dcdb721edde4ee0dd8e.html" target="element"> Lawson </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2fabcd461eba4e76bd5231a2f9940ef2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fabcd461eba4e76bd5231a2f9940ef2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c781b304aa2646f1be1d7bb54dabb5e2.html" target="element"> Outlook </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e7143a4d9c1d4d06ab2469e8143a8a11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7143a4d9c1d4d06ab2469e8143a8a11.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3241ef330ae4401999f488481cc4a969.html" target="element"> 3.8.9 Account Receivables Functions </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1448f82f76546fb93e880eb1f893657.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1448f82f76546fb93e880eb1f893657.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3241ef330ae4401999f488481cc4a969.html" target="element"> 3.8.9 Account Receivables Functions </a> </td>
																		<td> <a href="../elements/id-d221c03abc934d09880eab68fecd0045.html" target="element"> 3.8.9.2 Late payment tracking and collections </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-135a9af9cfb946508b302e994d2c833c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-135a9af9cfb946508b302e994d2c833c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c52e82ee29af4367a996af39fe3ceaf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c52e82ee29af4367a996af39fe3ceaf1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element"> BI Reporting </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2dd0a9342c9c439e898bd88374e8ef7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd0a9342c9c439e898bd88374e8ef7a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-06ef5c0e604a4dab8b14432fce1a11cf.html" target="element"> Moneris </a> </td>
																		<td> <a href="../elements/id-a11b973ddf6946e5a70f3a6dbce528b0.html" target="element"> 3.8.9.1 Accounts receivable processing and reconciliation </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>