<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Claims Management</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Claims Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d39b163da0904a86892ee8638da2d8aa.png" alt="Claims Management" usemap="#id-d39b163da0904a86892ee8638da2d8aamap"/>
			   <map name="id-d39b163da0904a86892ee8638da2d8aamap">
				  		<area shape="rect" coords="10,19,58,51" href="../views/id-0391f4867c6140119ab35b3b69104598.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="309,470,581,639" href="../elements/id-0bef68211c27427f86dc290e5de5ffd7.html"  target="element">
				  				<area shape="rect" coords="22,650,142,705" href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html"  target="element">
				  				<area shape="rect" coords="22,578,142,633" href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html"  target="element">
				  				<area shape="rect" coords="22,506,142,561" href="../elements/id-bffa0f1546bb4f72a03c0ff77293aba6.html"  target="element">

				  		<area shape="rect" coords="10,470,257,723" href="../elements/id-071096d437db4b90bf22f7326c5f172b.html"  target="element">
				  				<area shape="rect" coords="653,344,773,399" href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html"  target="element">
				  				<area shape="rect" coords="490,146,610,201" href="../elements/id-f931e326600b4750971df2bbecea115e.html"  target="element">
				  				<area shape="rect" coords="490,338,610,393" href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html"  target="element">
				  				<area shape="rect" coords="646,143,766,204" href="../elements/id-2200602adf494eae9a05823e75e734c1.html"  target="element">
				  				<area shape="rect" coords="490,242,610,297" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  				<area shape="rect" coords="22,242,142,297" href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html"  target="element">
				  				<area shape="rect" coords="70,338,190,393" href="../elements/id-39852dacb80e4397aab863995677f94c.html"  target="element">
				  				<area shape="rect" coords="178,242,298,297" href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html"  target="element">
				  				<area shape="rect" coords="178,146,298,201" href="../elements/id-ed0722625be34bf9904e886054e2715c.html"  target="element">
				  				<area shape="rect" coords="22,146,142,201" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">

				  		<area shape="rect" coords="10,110,815,447" href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html"  target="element">
				          <area shape="rect" coords="81,10,694,59" href="../objects/id-e55792c13b4d4b088f39a613b118d86f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">These components define Claims Management components 

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e55792c13b4d4b088f39a613b118d86f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e55792c13b4d4b088f39a613b118d86f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
													    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element"> Lawson Staging Tables </a> </td>
													    <td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element" class="i18n-elementtype-TechnologyInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
													    <td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-071096d437db4b90bf22f7326c5f172b.html" target="element"> Claims Management </a> </td>
											    <td> <a href="../elements/id-071096d437db4b90bf22f7326c5f172b.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bffa0f1546bb4f72a03c0ff77293aba6.html" target="element"> Claims ETL Apps </a> </td>
													    <td> <a href="../elements/id-bffa0f1546bb4f72a03c0ff77293aba6.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element"> Emerge Task Engine </a> </td>
													    <td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
													    <td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0bef68211c27427f86dc290e5de5ffd7.html" target="element"> Claims Document Management </a> </td>
											    <td> <a href="../elements/id-0bef68211c27427f86dc290e5de5ffd7.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-0391f4867c6140119ab35b3b69104598.html" target="view"> Application Domain View </a> </td>
											    <td> <a href="../views/id-0391f4867c6140119ab35b3b69104598.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-fa7421987aa44cb98b9ada3cb7914096.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa7421987aa44cb98b9ada3cb7914096.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b09a3d4af599473dbc739cc9126d181e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b09a3d4af599473dbc739cc9126d181e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e26c7e8017db40b7810f6b92468cce99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e26c7e8017db40b7810f6b92468cce99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element"> Lawson Staging Tables </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9636e173e1614264b4b57217e42455db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9636e173e1614264b4b57217e42455db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b12aaaf4bf16404da96cc400cf229153.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b12aaaf4bf16404da96cc400cf229153.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7aa5ce4ba7d445498b2d7fba7d906ba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7aa5ce4ba7d445498b2d7fba7d906ba6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e599600597b457db1ec6a95c27b6193.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e599600597b457db1ec6a95c27b6193.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ee47081af474b76bad0df71f81c4701.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ee47081af474b76bad0df71f81c4701.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1aeb3b3d0862495da4bc05c252647f57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1aeb3b3d0862495da4bc05c252647f57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-29c21156e941419c862febf9b64c52c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29c21156e941419c862febf9b64c52c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																				<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-13e7af46695e49eba390e2e22c270373.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-13e7af46695e49eba390e2e22c270373.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																				<td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element"> Lawson Staging Tables </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-68a02a16e45c4c91a95c20a8995cafc2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-68a02a16e45c4c91a95c20a8995cafc2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4cf6f1ec40f04ae59d1227e4bc03880d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cf6f1ec40f04ae59d1227e4bc03880d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																				<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bd8f1f0b8b774e289c570fcbbae6c853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd8f1f0b8b774e289c570fcbbae6c853.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8f588991e05b421fa328d58199a7137b.html" target="element"> Read the AR transaction details </a> </td>
																				<td> <a href="../elements/id-8f588991e05b421fa328d58199a7137b.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0261c347194a4236aaafee52b6297605.html" target="element"> Create the AR  GL Entries </a> </td>
																				<td> <a href="../elements/id-0261c347194a4236aaafee52b6297605.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																				<td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element"> Lawson Staging Tables </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8dd53507e93c423086363217ca692d20.html" target="element"> Access Laswon Screens </a> </td>
																				<td> <a href="../elements/id-8dd53507e93c423086363217ca692d20.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																				<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b0348bb33cb4cf9a86953ecdc7a82d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b0348bb33cb4cf9a86953ecdc7a82d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-071096d437db4b90bf22f7326c5f172b.html" target="element"> Claims Management </a> </td>
																		<td> <a href="../elements/id-bffa0f1546bb4f72a03c0ff77293aba6.html" target="element"> Claims ETL Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3efd8e2db8cd45418da3b3b43b676d0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3efd8e2db8cd45418da3b3b43b676d0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-071096d437db4b90bf22f7326c5f172b.html" target="element"> Claims Management </a> </td>
																		<td> <a href="../elements/id-e658f3ccff214bbe9878f8f4ee90f0af.html" target="element"> Emerge Task Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f61bd2975ba4a8fb2897acadae22056.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f61bd2975ba4a8fb2897acadae22056.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-071096d437db4b90bf22f7326c5f172b.html" target="element"> Claims Management </a> </td>
																		<td> <a href="../elements/id-150f8b103c4a49b5ba21681e464256e1.html" target="element"> Emerge Web </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-503b247634bb429aa15dac128ef072b9.html" target="element"> Create AP GL Entries </a> </td>
																				<td> <a href="../elements/id-503b247634bb429aa15dac128ef072b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bffa0f1546bb4f72a03c0ff77293aba6.html" target="element"> Claims ETL Apps </a> </td>
																				<td> <a href="../elements/id-39852dacb80e4397aab863995677f94c.html" target="element"> Lawson Staging Tables </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>