<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2.1.3 Clearances</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2.1.3 Clearances</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dd01f66868994291a2fd2b781b349afb.png" alt="2.1.3 Clearances" usemap="#id-dd01f66868994291a2fd2b781b349afbmap"/>
			   <map name="id-dd01f66868994291a2fd2b781b349afbmap">
				  				<area shape="rect" coords="34,91,154,146" href="../elements/id-a0d672886eb24b5c84a73ab5f4d224de.html"  target="element">
				  				<area shape="rect" coords="178,91,298,146" href="../elements/id-039bd5e3fa6c495491a01066664f1c14.html"  target="element">
				  				<area shape="rect" coords="322,91,442,146" href="../elements/id-8ab4e1418b85469e8b17c29e44dae327.html"  target="element">
				  				<area shape="rect" coords="466,91,586,146" href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html"  target="element">

				  		<area shape="rect" coords="10,55,623,176" href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html"  target="element">
				  		<area shape="rect" coords="22,246,142,301" href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html"  target="element">
				  		<area shape="rect" coords="166,247,286,302" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  		<area shape="rect" coords="466,247,586,302" href="../elements/id-2200602adf494eae9a05823e75e734c1.html"  target="element">
				  		<area shape="rect" coords="322,247,442,302" href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html"  target="element">
				          <area shape="rect" coords="166,10,647,53" href="../objects/id-3bd038d056af47b1b8c340c631be83a0.html" target="element" >
				  		<area shape="rect" coords="10,19,59,44" href="../views/id-3bc5917155bb48938b2490de6bda6a34.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view"> Employer Services Capability Realization View </a> </td>
											    <td> <a href="../views/id-3bc5917155bb48938b2490de6bda6a34.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-3bd038d056af47b1b8c340c631be83a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3bd038d056af47b1b8c340c631be83a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
											    <td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
											    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
											    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
											    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
											    <td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html" target="element"> Clearance Letter Generation </a> </td>
													    <td> <a href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ab4e1418b85469e8b17c29e44dae327.html" target="element"> Clearance Status Display </a> </td>
													    <td> <a href="../elements/id-8ab4e1418b85469e8b17c29e44dae327.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-039bd5e3fa6c495491a01066664f1c14.html" target="element"> Maintain Clearance Overrides </a> </td>
													    <td> <a href="../elements/id-039bd5e3fa6c495491a01066664f1c14.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0d672886eb24b5c84a73ab5f4d224de.html" target="element"> Clearance Calculation </a> </td>
													    <td> <a href="../elements/id-a0d672886eb24b5c84a73ab5f4d224de.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-130f2960917c44c48cb07032ae6057c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-130f2960917c44c48cb07032ae6057c8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
																		<td> <a href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html" target="element"> Clearance Letter Generation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7f2ce557d53a457bba510fb69c4c21c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f2ce557d53a457bba510fb69c4c21c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
																		<td> <a href="../elements/id-8ab4e1418b85469e8b17c29e44dae327.html" target="element"> Clearance Status Display </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-165d88b605364c6c910c549f69fa88be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-165d88b605364c6c910c549f69fa88be.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2f68e92789054cd7a64bc35a59ddf205.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f68e92789054cd7a64bc35a59ddf205.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																		<td> <a href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html" target="element"> Clearance Letter Generation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-397ecd4b647c4a0b95fc7e47daa98285.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-397ecd4b647c4a0b95fc7e47daa98285.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-039bd5e3fa6c495491a01066664f1c14.html" target="element"> Maintain Clearance Overrides </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6859ec04c194c3181f74fe946b17683.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6859ec04c194c3181f74fe946b17683.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																		<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec2b1d47756d4f12b51934b8b5193127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec2b1d47756d4f12b51934b8b5193127.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																		<td> <a href="../elements/id-a0d672886eb24b5c84a73ab5f4d224de.html" target="element"> Clearance Calculation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-86a50e1380b74213b0552e94a33f22fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86a50e1380b74213b0552e94a33f22fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7a3fa2ae099d400f9ba8173df023c46f.html" target="element"> Clearance Letter Generation </a> </td>
																				<td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-626326bafd504a2da37d8f52a5729384.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-626326bafd504a2da37d8f52a5729384.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ab4e1418b85469e8b17c29e44dae327.html" target="element"> Clearance Status Display </a> </td>
																				<td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b3c293362d814ac19aa4613fa3a929cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b3c293362d814ac19aa4613fa3a929cb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-039bd5e3fa6c495491a01066664f1c14.html" target="element"> Maintain Clearance Overrides </a> </td>
																				<td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-618f1dd0e1644c1e9cac981af586160f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-618f1dd0e1644c1e9cac981af586160f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a0d672886eb24b5c84a73ab5f4d224de.html" target="element"> Clearance Calculation </a> </td>
																				<td> <a href="../elements/id-b0619277c1af41eba1977bef5b4fba81.html" target="element"> 2.1.3 Clearances </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>