<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SQL Servers</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SQL Servers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d282347005204119b7729c8db13d7b62.png" alt="SQL Servers" usemap="#id-d282347005204119b7729c8db13d7b62map"/>
			   <map name="id-d282347005204119b7729c8db13d7b62map">
				          <area shape="rect" coords="60,10,556,37" href="../objects/id-d49ac50f75064d78aeab5de0f8fb5460.html" target="element" >
				  		<area shape="rect" coords="132,308,252,363" href="../elements/id-5adc947c077542a6b827bc223844c67b.html"  target="element">
				  		<area shape="rect" coords="600,308,720,363" href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html"  target="element">
				  		<area shape="rect" coords="132,188,252,243" href="../elements/id-9523a529fd4c46cca54622f91202a65d.html"  target="element">
				  		<area shape="rect" coords="588,188,731,243" href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html"  target="element">
				  		<area shape="rect" coords="132,80,252,135" href="../elements/id-3bf30b18c18543b6852d909bcd805223.html"  target="element">
				  		<area shape="rect" coords="588,80,732,135" href="../elements/id-690c36ca9e60464ca3ad3ded9dc7caf7.html"  target="element">
				  		<area shape="rect" coords="360,80,480,135" href="../elements/id-e58528c898bc42dda08b0d276a363790.html"  target="element">
				  		<area shape="rect" coords="10,12,47,36" href="../views/id-5e484e38b414486c86329e35a6f8eafe.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view"> Intranet Environment Overview </a> </td>
											    <td> <a href="../views/id-5e484e38b414486c86329e35a6f8eafe.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
											    <td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-690c36ca9e60464ca3ad3ded9dc7caf7.html" target="element"> core_document_p </a> </td>
											    <td> <a href="../elements/id-690c36ca9e60464ca3ad3ded9dc7caf7.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3bf30b18c18543b6852d909bcd805223.html" target="element"> core_sql_prod </a> </td>
											    <td> <a href="../elements/id-3bf30b18c18543b6852d909bcd805223.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
											    <td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9523a529fd4c46cca54622f91202a65d.html" target="element"> pds_db_p </a> </td>
											    <td> <a href="../elements/id-9523a529fd4c46cca54622f91202a65d.html" target="element" class="i18n-elementtype-SystemSoftware">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
											    <td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element"> Visa Servers </a> </td>
											    <td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d49ac50f75064d78aeab5de0f8fb5460.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d49ac50f75064d78aeab5de0f8fb5460.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-cced24ee88194c36868efe60510e14c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cced24ee88194c36868efe60510e14c1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-690c36ca9e60464ca3ad3ded9dc7caf7.html" target="element"> core_document_p </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f1a8ce4d46d48aca9dfc492d63a1053.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1a8ce4d46d48aca9dfc492d63a1053.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-3bf30b18c18543b6852d909bcd805223.html" target="element"> core_sql_prod </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48f442dfcb2242dcb40a5f1401353a27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48f442dfcb2242dcb40a5f1401353a27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-602594875a214b6da95763efda3ea3f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-602594875a214b6da95763efda3ea3f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e58528c898bc42dda08b0d276a363790.html" target="element"> Microsoft SQL Servers </a> </td>
																		<td> <a href="../elements/id-9523a529fd4c46cca54622f91202a65d.html" target="element"> pds_db_p </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cad6aff604ae48e683db1e10a05be872.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cad6aff604ae48e683db1e10a05be872.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9149cea900194ed3a8679ae91b453cf4.html" target="element"> Lawson Servers </a> </td>
																		<td> <a href="../elements/id-8d9d5cfef0734485a3dd5d6ff9094e22.html" target="element"> Lawson db </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-65f58ba3a3b54b1c8ecb08263a384a75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65f58ba3a3b54b1c8ecb08263a384a75.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5adc947c077542a6b827bc223844c67b.html" target="element"> Visa Servers </a> </td>
																		<td> <a href="../elements/id-9523a529fd4c46cca54622f91202a65d.html" target="element"> pds_db_p </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>