<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Gartner TIME Quadrant View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Gartner TIME Quadrant View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ef7ca4e7e22041b4be910acdca1f19a8.png" alt="Gartner TIME Quadrant View" usemap="#id-ef7ca4e7e22041b4be910acdca1f19a8map"/>
			   <map name="id-ef7ca4e7e22041b4be910acdca1f19a8map">
				          <area shape="rect" coords="310,10,1031,53" href="../objects/id-a4959c2bbc8b41ea94d812026a6b76de.html" target="element" >
				  		<area shape="rect" coords="718,58,1343,443" href="../elements/id-d420b0393e0847c3aaa9cc11fa999b28.html"  target="element">
				  				<area shape="rect" coords="562,82,682,137" href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html"  target="element">
				  				<area shape="rect" coords="562,142,682,197" href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html"  target="element">

				  		<area shape="rect" coords="34,58,707,443" href="../elements/id-a76f6575c0a345a184ceb6ded7219b73.html"  target="element">
				  		<area shape="rect" coords="718,454,1343,827" href="../elements/id-7cac05f0297c4757a7404fc481f7bf56.html"  target="element">
				  				<area shape="rect" coords="67,562,187,617" href="../elements/id-2a6172c9c1b14cd799365e320350064c.html"  target="element">
				  				<area shape="rect" coords="67,493,187,548" href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html"  target="element">

				  		<area shape="rect" coords="34,454,707,827" href="../elements/id-70e06bd794584373bd52cd199b84f982.html"  target="element">
				          <area shape="rect" coords="10,838,47,851" href="../objects/id-a24de7e10d3642fd907cb32ef609346d.html" target="element" >
				          <area shape="rect" coords="1342,826,1379,839" href="../objects/id-e0fa5b29863c4ab795d5bfead9e8b78c.html" target="element" >
				          <area shape="rect" coords="1342,58,1379,71" href="../objects/id-1274753bc4dd4d80b30397646b98bd9a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1274753bc4dd4d80b30397646b98bd9a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1274753bc4dd4d80b30397646b98bd9a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e0fa5b29863c4ab795d5bfead9e8b78c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e0fa5b29863c4ab795d5bfead9e8b78c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a24de7e10d3642fd907cb32ef609346d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a24de7e10d3642fd907cb32ef609346d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-70e06bd794584373bd52cd199b84f982.html" target="element"> Eliminate </a> </td>
											    <td> <a href="../elements/id-70e06bd794584373bd52cd199b84f982.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
													    <td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> CIS </a> </td>
													    <td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7cac05f0297c4757a7404fc481f7bf56.html" target="element"> Migrate </a> </td>
											    <td> <a href="../elements/id-7cac05f0297c4757a7404fc481f7bf56.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a76f6575c0a345a184ceb6ded7219b73.html" target="element"> Tolerate </a> </td>
											    <td> <a href="../elements/id-a76f6575c0a345a184ceb6ded7219b73.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element"> BI Reporting </a> </td>
													    <td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element"> MS Office Suite </a> </td>
													    <td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d420b0393e0847c3aaa9cc11fa999b28.html" target="element"> Invest </a> </td>
											    <td> <a href="../elements/id-d420b0393e0847c3aaa9cc11fa999b28.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a4959c2bbc8b41ea94d812026a6b76de.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a4959c2bbc8b41ea94d812026a6b76de.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-48afe87377804a659f69747596ed4cd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48afe87377804a659f69747596ed4cd9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e06bd794584373bd52cd199b84f982.html" target="element"> Eliminate </a> </td>
																		<td> <a href="../elements/id-23abbc969d124ee89dff1ee2ce2cac51.html" target="element"> Clearances </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14459422d0f34e4f82a98f9f409c9269.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14459422d0f34e4f82a98f9f409c9269.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70e06bd794584373bd52cd199b84f982.html" target="element"> Eliminate </a> </td>
																		<td> <a href="../elements/id-2a6172c9c1b14cd799365e320350064c.html" target="element"> CIS </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-365a3671bf524c8599d72c967afa4bdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-365a3671bf524c8599d72c967afa4bdd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a76f6575c0a345a184ceb6ded7219b73.html" target="element"> Tolerate </a> </td>
																		<td> <a href="../elements/id-cea1ff701afa4d6795acbddcb361dbf1.html" target="element"> BI Reporting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2aa970d0d9f54da894e73fedaa8d0efa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2aa970d0d9f54da894e73fedaa8d0efa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a76f6575c0a345a184ceb6ded7219b73.html" target="element"> Tolerate </a> </td>
																		<td> <a href="../elements/id-a0a0fd3a36c94c5f8fbcee988a43aa49.html" target="element"> MS Office Suite </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>