<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Employer Services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Employer Services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e7ee8d45085b48389551ec1af1ec1284.png" alt="Employer Services" usemap="#id-e7ee8d45085b48389551ec1af1ec1284map"/>
			   <map name="id-e7ee8d45085b48389551ec1af1ec1284map">
				  		<area shape="rect" coords="10,16,59,41" href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html"  target="view">
				      <!-- Other diagram objects -->
				  				<area shape="rect" coords="58,100,178,155" href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html"  target="element">
				  				<area shape="rect" coords="226,244,346,299" href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html"  target="element">
				  				<area shape="rect" coords="226,172,346,227" href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html"  target="element">
				  				<area shape="rect" coords="382,100,502,155" href="../elements/id-f931e326600b4750971df2bbecea115e.html"  target="element">
				  				<area shape="rect" coords="226,97,346,158" href="../elements/id-2200602adf494eae9a05823e75e734c1.html"  target="element">
				  				<area shape="rect" coords="382,184,502,239" href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html"  target="element">

				  		<area shape="rect" coords="10,76,515,329" href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html"  target="element">
				  		<area shape="rect" coords="94,388,251,485" href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html"  target="element">
				  				<area shape="rect" coords="778,184,898,239" href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html"  target="element">
				  				<area shape="rect" coords="610,184,730,239" href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html"  target="element">
				  				<area shape="rect" coords="610,100,730,155" href="../elements/id-ed0722625be34bf9904e886054e2715c.html"  target="element">
				  				<area shape="rect" coords="778,100,898,155" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">

				  		<area shape="rect" coords="598,76,923,269" href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html"  target="element">
				          <area shape="rect" coords="70,10,743,53" href="../objects/id-d78a71bb8fac48d3a4624c0ea341d26e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">This view is dedicated to scenario when Financial Services (Lawson Financial Suite) together with Employer Services (Optimal and other apps) will be
replaced with COTS. The view visualizes the relationships between these two systems and other systems.

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>lastUpdatedOn</td><td class="convertlinks no-margin" style="white-space:pre-wrap">2024-04-11</td></tr><tr><td>lastUpdatedBy</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Victor Scurtu</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d78a71bb8fac48d3a4624c0ea341d26e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d78a71bb8fac48d3a4624c0ea341d26e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
											    <td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
													    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
													    <td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
													    <td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
													    <td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
											    <td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
											    <td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
													    <td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
													    <td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
													    <td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
													    <td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
													    <td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Correspondence EJB </a> </td>
													    <td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view"> Default View </a> </td>
											    <td> <a href="../views/id-592943ac8eb24c9c865a68c9458a79e7.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-fa7421987aa44cb98b9ada3cb7914096.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa7421987aa44cb98b9ada3cb7914096.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac12923ccb864e5e8af9640dcfe7ed66.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b09a3d4af599473dbc739cc9126d181e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b09a3d4af599473dbc739cc9126d181e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9636e173e1614264b4b57217e42455db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9636e173e1614264b4b57217e42455db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3fb6aa92993c486e9366f082b4b7ad9f.html" target="element"> Financial Services </a> </td>
																		<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-29c21156e941419c862febf9b64c52c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29c21156e941419c862febf9b64c52c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																				<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-707909b4f7ad46e9addafd726762fa01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-707909b4f7ad46e9addafd726762fa01.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																				<td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bd8f1f0b8b774e289c570fcbbae6c853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bd8f1f0b8b774e289c570fcbbae6c853.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																				<td> <a href="../elements/id-0a3eb7856ab84d458b136f2d078a1d78.html" target="element"> Lawson_db </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cf6f1ec40f04ae59d1227e4bc03880d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cf6f1ec40f04ae59d1227e4bc03880d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9efcd88c33174f56b1abdb2be15cc22c.html" target="element"> Lawson Server </a> </td>
																				<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0886f57eaf6e43b080ee6672c0f7c8cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0886f57eaf6e43b080ee6672c0f7c8cd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-772ff91080b942c99b6dd3a855b2d8af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ce9df7f939e47c4a4fe2a39dc74b193.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ce9df7f939e47c4a4fe2a39dc74b193.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ff6ad7456694274a9ef60a7ea1782a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea3dfaa4e6ee401681ca8a1d17754c35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea3dfaa4e6ee401681ca8a1d17754c35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90364027834547f4ae25d8aee98efa0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90364027834547f4ae25d8aee98efa0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21051929da1f4d9a94d26e179064e0c4.html" target="element"> Employer Assessment Services </a> </td>
																		<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Correspondence EJB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c034d0a817b944c6be3df000eafb7725.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c034d0a817b944c6be3df000eafb7725.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b8af295d24fd4f8a8c0fc2ec6be73f16.html" target="element"> Assessments_db </a> </td>
																				<td> <a href="../elements/id-c9ebf3abed38400eb7b01c8297cd31e4.html" target="element"> Optimal Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e03343c89c7942c794fe6f2d6f2336f1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-eab08ff8a84f4b6e91cd510dd945e1b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eab08ff8a84f4b6e91cd510dd945e1b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2200602adf494eae9a05823e75e734c1.html" target="element"> Optimal Event Engine </a> </td>
																				<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Correspondence EJB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fd61c4bf98984edfaf98928dc738eb7b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd61c4bf98984edfaf98928dc738eb7b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f931e326600b4750971df2bbecea115e.html" target="element"> Financial Transactions EJB </a> </td>
																				<td> <a href="../elements/id-ed0722625be34bf9904e886054e2715c.html" target="element"> Lawson API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-60a2aa3662d84aa190e88db9b9752c1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60a2aa3662d84aa190e88db9b9752c1d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-461a302cc5b44ca7875d88858d83ff9c.html" target="element"> Optimal ETL Apps </a> </td>
																				<td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2cfa5886cd964e08b8c30d61d459aaa8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2cfa5886cd964e08b8c30d61d459aaa8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d3d8bcc05c340adaabe298cbcb17ebf.html" target="element"> Correspondence EJB </a> </td>
																				<td> <a href="../elements/id-d5d12f802b284cce85c5a265863ed15a.html" target="element"> Employer Document Management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>