<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3.8.5 General Ledger Management Functions View</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3.8.5 General Ledger Management Functions View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f0ab73c6d493490f9ebc8a9dc3495c12.png" alt="3.8.5 General Ledger Management Functions View" usemap="#id-f0ab73c6d493490f9ebc8a9dc3495c12map"/>
			   <map name="id-f0ab73c6d493490f9ebc8a9dc3495c12map">
				  				<area shape="rect" coords="55,118,175,173" href="../elements/id-b53f82ed487e4e599c51112fcae525a8.html"  target="element">
				  				<area shape="rect" coords="247,118,367,173" href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html"  target="element">
				  				<area shape="rect" coords="450,118,570,173" href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html"  target="element">

				  		<area shape="rect" coords="31,82,611,203" href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html"  target="element">
				  		<area shape="rect" coords="454,334,574,389" href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html"  target="element">
				  		<area shape="rect" coords="154,334,274,389" href="../elements/id-94569a9edaad416fb626849c42b31a17.html"  target="element">
				          <area shape="rect" coords="22,478,191,611" href="../objects/id-209ecf0d8a0a433f9d0c4a6e2c012577.html" target="element" >
				          <area shape="rect" coords="454,480,707,647" href="../objects/id-5373cdc052ca4a3a97b3f1dbddcc7b08.html" target="element" >
				          <area shape="rect" coords="202,478,419,635" href="../objects/id-2e4459b620a24a15861a353d6541abcc.html" target="element" >
				  		<area shape="rect" coords="10,10,130,65" href="../views/id-36b9249ebb904326a93cd77367ac0c01.html"  target="view">
				      <!-- Other diagram objects -->
				          <area shape="rect" coords="142,16,768,59" href="../objects/id-1459297689f34f429306b88cd5e8ff9d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-1459297689f34f429306b88cd5e8ff9d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1459297689f34f429306b88cd5e8ff9d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view"> Financial Capability Realization View </a> </td>
											    <td> <a href="../views/id-36b9249ebb904326a93cd77367ac0c01.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

									        <tr>
									           <td> <a href="../objects/id-2e4459b620a24a15861a353d6541abcc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2e4459b620a24a15861a353d6541abcc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5373cdc052ca4a3a97b3f1dbddcc7b08.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5373cdc052ca4a3a97b3f1dbddcc7b08.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-209ecf0d8a0a433f9d0c4a6e2c012577.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-209ecf0d8a0a433f9d0c4a6e2c012577.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
											    <td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
											    <td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html" target="element"> 3.8.5 General Ledger Management Functions </a> </td>
											    <td> <a href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html" target="element"> 3.8.5.3 Trial balance generation and review </a> </td>
													    <td> <a href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html" target="element"> 3.8.5.2 Journal entry processing and posting </a> </td>
													    <td> <a href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b53f82ed487e4e599c51112fcae525a8.html" target="element"> 3.8.5.1 Chart of accounts maintenance </a> </td>
													    <td> <a href="../elements/id-b53f82ed487e4e599c51112fcae525a8.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-10582ecdf5c644bebc5a27a636f96d24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10582ecdf5c644bebc5a27a636f96d24.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-b53f82ed487e4e599c51112fcae525a8.html" target="element"> 3.8.5.1 Chart of accounts maintenance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b653501cc36240aca3ed9748bc63b06e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b653501cc36240aca3ed9748bc63b06e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html" target="element"> 3.8.5.2 Journal entry processing and posting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9bfcf46d70e4becb0a951c49f4ebb81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9bfcf46d70e4becb0a951c49f4ebb81.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94569a9edaad416fb626849c42b31a17.html" target="element"> Lawson Financial Suite </a> </td>
																		<td> <a href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html" target="element"> 3.8.5.3 Trial balance generation and review </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-caf5329d3ca5457580cc8f866b6053bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-caf5329d3ca5457580cc8f866b6053bc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html" target="element"> 3.8.5.3 Trial balance generation and review </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fec3d967c0448d0992209e1faa0a28f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fec3d967c0448d0992209e1faa0a28f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d2c30f04a5b49f8a5e9f7878c25cb52.html" target="element"> MS Excel </a> </td>
																		<td> <a href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html" target="element"> 3.8.5.2 Journal entry processing and posting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-53fec2c28ad14e78a986194b5793accd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53fec2c28ad14e78a986194b5793accd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html" target="element"> 3.8.5 General Ledger Management Functions </a> </td>
																		<td> <a href="../elements/id-0e8d89f8681b4325bd9dd76bd38e8df9.html" target="element"> 3.8.5.3 Trial balance generation and review </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da4df5a53b624fa09df6e31314ab2855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da4df5a53b624fa09df6e31314ab2855.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html" target="element"> 3.8.5 General Ledger Management Functions </a> </td>
																		<td> <a href="../elements/id-e6f83a00c354405caf2b470f4141b2cf.html" target="element"> 3.8.5.2 Journal entry processing and posting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60863b3333814af5bad03bb48ce5cee9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60863b3333814af5bad03bb48ce5cee9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f91fd3968d09430fa5d79dd1d3c4d655.html" target="element"> 3.8.5 General Ledger Management Functions </a> </td>
																		<td> <a href="../elements/id-b53f82ed487e4e599c51112fcae525a8.html" target="element"> 3.8.5.1 Chart of accounts maintenance </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>